
<div id="MainContent_otherslider" >
<div class="container">
<div class="row">
<h1 class="innerpageheading"></h1>
</div>
</div>
</div>
<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">                 
                  <br>  Coming Soon....
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <section id="MainContent_register" class>
<div id="MainContent_divcontainer" class="container">
<div class="row contentbox"><div class="text col-md-12 col-sm-12 col-xs-12"><div class="row">
<div class="col-sm-12 col-md-12 col-xs-12">
<h1 style="color: #005aab;">Gold Partner</h1>
</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-3 col-xs-12">
<a href="https://www.hp.co.in/" target="_blank"><img loading="eager" alt src="assets/uploads/Hindustan_Platinum_logo.jpg" /></a>
</div>
<div class="col-md-9 col-sm-9 col-xs-12">
<p>Founded in 1961, Hindustan Platinum is a leading player is a leading refiner and manufacturer of high purity precious metals and industrial products with wide and diverse industrial applications including Heterogenous and Homogenous Catalysts for Pharmaceutical/API, Fine Chemicals and other industries. With the legacy of six decades, the company is known for its unwavering focus on using state-of-the-art technology and providing exemplary service. </p>
<p>Steered by a community of over 950 multi-cultural professionals that includes- visionary leaders, creative scientists, dedicated engineers and committed partners, Hindustan Platinum is now ushering in an era of discovery and innovation that can turn possibilities in the precious metal space into real world answers.</p>
<p>Today, Hindustan Platinum has an established customer base in over 50 countries across 5 continents. Supporting its global footprint are three subsidiaries &ndash; Hindustan Platinum International Limited, Mauritius, Hindustan Platinum DMCC, UAE and Hindustan Platinum P.R. LLC, Puerto Rico.</p>
<p>Hindustan Platinum is among a handful of companies world-wide to be listed on theLondon Platinum and Palladium Market&rsquo;s (LPPM) Good Delivery List for Platinum andPalladium and on the London Bullion Market Association&rsquo;s (LBMA) Good Delivery List forSilver.We are the first and only NABL accredited testing laboratory (National AccreditationBoard for Testing and Calibration Laboratories) for issuing test certificates with ILACMRA Mark for high purity Platinum, Palladium, Gold and Silver.</p>
<p>We, at Hindustan Platinum are firmly dedicated to excellence and technological advancement to create value for our customers.</p>
<p>Website: <a href="https://www.hp.co.in/" target="_blank">https://www.hp.co.in/</a></p>
</div>
</div>
<div class="row">
<div class="col-sm-12 col-md-12 col-xs-12">
<hr/>
</div>
</div></div></div>
</div>
</section> -->
<section id="MainContent_register" class>
    <div id="MainContent_divcontainer" class="container">
    <div class="row contentbox">
    <div class="row">
    <!-- <div class="col-md-3 col-sm-3 col-xs-12">
    <a href="https://www.hp.co.in/" target="_blank"><img loading="eager" alt src="uploads/Hindustan_Platinum_logo.jpg" /></a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
    <p>Founded in 1961, Hindustan Platinum is a leading player is a leading refiner and manufacturer of high purity precious metals and industrial products with wide and diverse industrial applications including Heterogenous and Homogenous Catalysts for Pharmaceutical/API, Fine Chemicals and other industries. With the legacy of six decades, the company is known for its unwavering focus on using state-of-the-art technology and providing exemplary service. </p>
    <p>Steered by a community of over 950 multi-cultural professionals that includes- visionary leaders, creative scientists, dedicated engineers and committed partners, Hindustan Platinum is now ushering in an era of discovery and innovation that can turn possibilities in the precious metal space into real world answers.</p>
    <p>Today, Hindustan Platinum has an established customer base in over 50 countries across 5 continents. Supporting its global footprint are three subsidiaries &ndash; Hindustan Platinum International Limited, Mauritius, Hindustan Platinum DMCC, UAE and Hindustan Platinum P.R. LLC, Puerto Rico.</p>
    <p>Hindustan Platinum is among a handful of companies world-wide to be listed on theLondon Platinum and Palladium Market&rsquo;s (LPPM) Good Delivery List for Platinum andPalladium and on the London Bullion Market Association&rsquo;s (LBMA) Good Delivery List forSilver.We are the first and only NABL accredited testing laboratory (National AccreditationBoard for Testing and Calibration Laboratories) for issuing test certificates with ILACMRA Mark for high purity Platinum, Palladium, Gold and Silver.</p>
    <p>We, at Hindustan Platinum are firmly dedicated to excellence and technological advancement to create value for our customers.</p>
    <p>Website: <a href="https://www.hp.co.in/" target="_blank">https://www.hp.co.in/</a></p>
    </div> -->
    <p>Coming soon....</p>
    </div>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
    <hr/>
    </div>
    </div></div></div>
    
    </section>