@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,600,500,400italic,500italic);

body {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 26px;
  letter-spacing: 1px;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #272727;
}
h2 {
  font-size: 45px;
}
.subheading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  color: #d2232a;
}
a {
  color: #d2232a;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #8e060c;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.main-slider {
  overflow: hidden;
  max-height: 600px;
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.btn {
  border-width: 0;
  border-bottom-width: 0px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  /*text-transform:uppercase;*/
}
/*.btn.btn-primary {
        background: #e35817;
        border-color: #e35817;
        border: 2px solid #e35817;
        font-weight:bold;
    }
        .btn.btn-primary:hover,
        .btn.btn-primary:focus {
            background: #fff;
            border: 2px solid #1b98df;
            color: #1b98df;
        }*/
.btn.btn-blue {
  background: #3949ab;
  border-color: #33429b;
  margin-left: 20px;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus {
  background: #243078;
}

.btnpass {
  background: #d2232a;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0px;
  margin: 0 0px 0 4px;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#header {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: #ebebeb;
  /*border-bottom:3px solid #f49638;*/
  padding: 0 0 5px 0;
  top: 0px;
}
.headervenue {
  /*display:none;*/
  float: left;
  font-size: 14px;
  color: #000000;
  padding: 10px 0 0 14px;
  line-height: 1.5;
}
.headervenue i {
  font-size: 11px;
}

#header.affix {
  position: fixed;
  z-index: 999;
  padding-bottom: 0px;
}
#header.affix .logo img {
  height: 50px;
  float: left;
}
#header.affix .headervenue img {
  height: 40px;
}
#header.affix .logo {
  float: left;
  margin-right: 10px; /*margin-top:20px;*/
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: transparent;
  margin-top: 25px;
}
#header.affix .headervenue {
  display: block;
}

.logo {
  margin: 5px 0 0 0;
  display: inline-block;
  float: left;
}
/*.logo img{
    height:80px;
}*/

.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navwhite {
  background: #000 !important;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 0px 0px 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 12px 7px;
  font-family: "Lato", sans-serif;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eb5e06;
}
.navbar-default .navbar-nav > li > a.buyapass {
  background: #d2232a;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0px;
  margin: 0 0px 0 4px;
}
.navbar-default .navbar-nav > li > a.buyapass:hover {
  background: #9e070d;
  color: #ffffff;
}

.navbar-right {
  margin-top: 35px;
}

.dropdown-menu {
  background: #0059ab;
}
.dropdown-menu > li > a {
  color: #ffffff;
  border-bottom: 1px solid #0973d6;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #d2232a;
}

.socialicon {
  float: right;
  list-style: none;
  margin: 13px 0 0 0;
  padding: 0px;
}
.socialicon li {
  float: left;
  margin: 0 10px;
}
.btnregister {
  border-radius: 4px;
}
.otherslider {
  background: url(../images/Pharma-connect-Web-inner-header7839.jpg?v=1.2)
    no-repeat;
  /* background-size:cover; */
  background-size: 100% 100%;
  height: 45rem;
}
.innerpageheading {
  color: #ffffff;
  padding-top: 170px;
  text-align: center;
}
.innerpageheading span {
  display: block;
  font-size: 18px;
  padding-top: 10px;
}
/*.affix.navbar-default{
    width:100%;
    z-index:99;
}*/

.topnav {
  float: none;
  display: block;
}
.topnav li {
  float: right;
}

.topnav li a {
  font-size: 12px;
  color: #fff;
}

.p0 {
  padding: 0px 1px;
}

.btn-primary:hover {
  background: #49fbdc;
  border: none !important   ;
  border-radius: 0px;
}

#myCarousel .carousel-inner {
  overflow: visible;
}
.carousel-caption {
  top: 35%;
  width: 100%;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: left;
}

@keyframes jump {
  0% {
    -moz-transform: translate(0px, -50px) skew(0deg, 10deg) rotate(90deg);
    -webkit-transform: translate(0px, -50px) skew(0deg, 10deg) rotate(90deg);
    -o-transform: translate(0px, -50px) skew(0deg, 10deg) rotate(90deg);
    -ms-transform: translate(0px, -50px) skew(0deg, 10deg) rotate(90deg);
    transform: translate(0px, -50px) skew(0deg, 10deg) rotate(90deg);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  25% {
    -moz-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(180deg);
    -webkit-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(180deg);
    -o-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(180deg);
    -ms-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(180deg);
    transform: translate(0px, -50px) skew(0deg, -8deg) rotate(180deg);

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  50% {
    -moz-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(270deg);
    -webkit-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(270deg);
    -o-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(270deg);
    -ms-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(270deg);
    transform: translate(0px, -50px) skew(0deg, -8deg) rotate(270deg);

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  75% {
    -moz-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(360deg);
    -webkit-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(360deg);
    -o-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(360deg);
    -ms-transform: translate(0px, -50px) skew(0deg, -8deg) rotate(360deg);
    transform: translate(0px, -50px) skew(0deg, -8deg) rotate(360deg);

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  100% {
    -moz-transform: translate(0px, -50px) skew(0deg, 8deg) rotate(360deg);
    -webkit-transform: translate(0px, -50px) skew(0deg, 8deg) rotate(360deg);
    -o-transform: translate(0px, -50px) skew(0deg, 8deg) rotate(360deg);
    -ms-transform: translate(0px, -50px) skew(0deg, 8deg) rotate(360deg);
    transform: translate(0px, -50px) skew(0deg, 8deg) rotate(360deg);

    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

@keyframes jumptext {
  0% {
    -moz-transform: translate(0px, 0px) skew(0deg, -10deg);
    -webkit-transform: translate(0px, 0px) skew(0deg, -10deg);
    -o-transform: translate(0px, 0px) skew(0deg, -10deg);
    -ms-transform: translate(0px, 0px) skew(0deg, -10deg);
    transform: translate(0px, 0px) skew(0deg, -10deg) rotate(-90deg);
  }
  25% {
    -moz-transform: translate(0px, 0px) skew(0deg, 8deg);
    -webkit-transform: translate(0px, 0px) skew(0deg, 8deg);
    -o-transform: translate(0px, 0px) skew(0deg, 8deg);
    -ms-transform: translate(0px, 0px) skew(0deg, 8deg);
    transform: translate(0px, 0px) skew(0deg, 8deg) rotate(-180deg);
  }
  50% {
    -moz-transform: translate(0px, 0px) skew(0deg, 8deg);
    -webkit-transform: translate(0px, 0px) skew(0deg, 8deg);
    -o-transform: translate(0px, 0px) skew(0deg, 8deg);
    -ms-transform: translate(0px, 0px) skew(0deg, 8deg);
    transform: translate(0px, 0px) skew(0deg, 8deg) rotate(-270deg);
  }
  75% {
    -moz-transform: translate(0px, 0px) skew(0deg, 8deg);
    -webkit-transform: translate(0px, 0px) skew(0deg, 8deg);
    -o-transform: translate(0px, 0px) skew(0deg, 8deg);
    -ms-transform: translate(0px, 0px) skew(0deg, 8deg);
    transform: translate(0px, 0px) skew(0deg, 8deg) rotate(-360deg);
  }
  100% {
    -moz-transform: translate(0px, 0px) skew(0deg, -8deg);
    -webkit-transform: translate(0px, 0px) skew(0deg, -8deg);
    -o-transform: translate(0px, 0px) skew(0deg, -8deg);
    -ms-transform: translate(0px, 0px) skew(0deg, -8deg);
    transform: translate(0px, 0px) skew(0deg, -8deg) rotate(-360deg);
  }
}

.carousel-caption .sliderbox {
  width: 40%;
  margin: 0 auto;
  padding: 50px 0;
  background: #cb3e44a6;
  animation-name: jump;
  animation-duration: 1s;
  -moz-transform: translate(0px, -50px) skew(0deg, 8deg);
  -webkit-transform: translate(0px, -50px) skew(0deg, 8deg);
  -o-transform: translate(0px, -50px) skew(0deg, 8deg);
  -ms-transform: translate(0px, -50px) skew(0deg, 8deg);
  transform: translate(0px, -50px) skew(0deg, 8deg);
}

.carousel-caption .textslider {
  animation-name: jumptext;
  animation-duration: 1s;

  -moz-transform: skew(0deg, -8deg);
  -webkit-transform: skew(0deg, -8deg);
  -o-transform: skew(0deg, -8deg);
  -ms-transform: skew(0deg, -8deg);
  transform: skew(0deg, -8deg);
}

.carousel-caption h3 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: normal;
  font-weight: bold;
}
.carousel-caption h3 span {
  color: #ffffff;
}
.carousel-caption p {
  font-size: 21px;
  margin-bottom: 10px;
  display: inline-block;
}
.carousel-caption a {
  color: #c40216;
}

.carousel-caption .btnslider {
  background: #732768;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0px;
}

.carousel-indicators {
  z-index: 1;
}

.releative {
  position: relative;
}

#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #45aed6;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

/* ========================= About Text =====================*/

#abouttxt {
  background: #732768;
  color: #ffffff;
  padding: 50px 0;
  font-size: 22px;
  line-height: 1.3;
}
#abouttxt .btn-danger {
  background: #d2232a;
  border-radius: 0px;
  font-size: 20px;
}
#abouttxt .btn-danger:hover {
  background: #a20f15;
  border-radius: 0px;
}

/* ===================== End About Text ======================*/

/* ====================== Sections boxes ===================*/

.fivebosex {
  width: 20%;
}

.overhide {
  overflow: hidden;
}
.sectiondetails {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0px;
  padding-top: 15px;
  font-size: 20px;
  color: #ffffff;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9;
}
.secimg {
  width: 100%;
}
.sectiontext {
  padding: 15px 20px;
  font-size: 15px;
}
.section1 {
  background: #d2232a;
}
.section1 img {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.section2 {
  background: #732768;
}
.section2 img {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.section3 {
  background: #005aab;
}
.section3 img {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.section4 {
  background: #561245;
}
.section4 img {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.section5 {
  background: #013d73;
}
.section5 img {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.sectionbox:hover .sectiondetails {
  height: 250px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ======================= End Sections Boxes ==============*/

.aboutshow {
  margin-top: 20px;
}
.aboutshow h2 {
  color: #000000;
  font-size: 25px;
  margin: 0px 0 30px 0;
  padding: 0px;
  font-weight: bold;
}
.aboutshow h3 {
  margin: 0px 0 10px 0;
  padding: 0px;
}
.aboutshow h5 {
  color: #525252;
  font-size: 26px;
  margin: 0px 0 30px 0;
  padding: 100px 0 0 0;
  font-weight: normal;
}

.aboutshow ul li {
  background: url(../images/bullate.png) no-repeat 0px 7px;
  padding: 0 0 5px 18px;
}

.annualtimeline {
  background: #f6f6f6;
  padding-top: 30px;
  text-align: center;
}
.annualtimeline h2 {
  color: #000000;
  text-transform: uppercase;
}

/* ===================== Cources box =======================*/
.courcesbox {
  background: #f9f9f9;
  padding: 15px;
}

/* ================= for 2019 Highlights Section ======================*/

#highlight {
  margin: 0px 0 0 0;
  padding: 20px 0 30px 0;
}
#highlight h2 {
  color: #000000;
  font-size: 45px;
  margin: 10px 0 20px 0;
  padding: 0px;
  font-weight: normal;
}
#highlight img {
  padding: 1px 1px;
}

#highlight img:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.imgboxleft {
  float: left;
  width: 370px;
}

.imgbox1 {
  width: 185px;
  float: left;
}
.imgboxleft2 {
  float: left;
  width: 257px;
}
.imgboxleft3 {
  float: left;
  width: 185px;
}
.imgboxleft4 {
  float: left;
  width: 320px;
}

/*  ===============Advisory Board Panel Section ===========================*/

#advisoryboardmember {
  background: #fafafa;
  padding: 30px 0;
  font-size: 14px;
}
#advisoryboardmember h2 {
  color: #000000;
  font-size: 45px;
  margin: 10px 0 20px 0;
  padding: 0px;
  font-weight: normal;
}
.boardmemberbox {
  display: inline-block;
  width: 19%;
  padding: 10px;
}
.memberdetails {
  padding: 10px;
}
/* ======================End Advisory Board Panel =======================*/

/*  ==================== for speakers section ==================================*/

#ourspeakers {
  margin-top: 75px;
  padding: 0px 0;
  background: #d2232a;
}
#ourspeakers h2 {
  font-size: 45px;
  margin: 0px 0 8px 0;
  padding: 0px;
}

#ourspeakers ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#ourspeakers ul li {
  width: 14.2%;
  position: relative;
  float: left;
  overflow: hidden;
}
#ourspeakers ul li:first-child {
  width: 28.4%;
  color: #ffffff;
  font-size: 45px;
  display: inline-table;
  padding: 70px 15px;
}
#ourspeakers ul li:last-child {
  width: 28.4%;
  color: #ffffff;
  font-size: 45px;
  display: inline-table;
  padding: 70px 15px;
  text-align: center;
}
#ourspeakers ul li:last-child .btnpass {
  background: #0059ab;
  font-size: 20px;
}
.speakerdetails {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #ffffff;
  background: #0059ab;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#ourspeakers ul li:hover .speakerdetails {
  top: 20%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#ourspeakers ul li img {
  width: 100%; /*height:192px; max-width:192px;*/
}

/* Fourth Section */
/* #fourth-section {}
#fourth-section .fourth-section-area {}
#fourth-section .fourth-section-area .single-effect {} */
#fourth-section .fourth-section-area .single-effect h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
#fourth-section .fourth-section-area .single-effect .hover {
  background-color: #fff;
  color: #888;
}
.wpf-demo-3 {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.wpf-demo-3 img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.wpf-demo-3:hover img {
  -moz-transform: translateY(-15%);
  -o-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
}
.wpf-demo-3:hover .view-caption {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.wpf-demo-3 .view-caption {
  background-color: #e28a25;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px;
}
.wpf-demo-3 .view-caption h4 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 5px;
}

/* ============================== Testimonials Sections ========================*/

#testimonials {
  background: url(../images/testimonial_bg.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 0px;
  padding: 50px 0;
  color: #ffffff;
}
#testimonials h2 {
  color: #ffffff;
  font-size: 45px;
  margin: 0px 0 10px 0;
  padding: 0px;
  font-weight: normal;
}

#testimonials .carousel-indicators {
  bottom: -40px;
}
#testimonials .carousel-control {
  width: 9%;
}
#testimonials .carousel-control.left,
#testimonials .carousel-control.right {
  background-image: none;
}

#testimonials img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* ============================== End Testimonials Sections ========================*/

/* ============================ For Partner Section ========================*/
.partner {
  padding: 10px 0 0px 0;
  color: #ffffff;
}
.partner h3 {
  margin: 0px;
  padding: 8px 0;
  color: #000000;
}
.goldpartner {
  /*background:#f7e9b4;*/
  padding: 8px 0 15px 0; /*border:1px solid #cccccc;*/
}
.silverpartner {
  /*background:#e4e4e4;*/
  padding: 8px 0 15px 0; /*border:1px solid #cccccc;*/
}
.cocktailpartner {
  /*background:#f7bcd9;*/
  padding: 8px 15px 15px 15px; /*display:inline-block;*/ /*border:1px solid #cccccc;*/
}
.mediapartner {
  /*background:#c4e0f9;*/
  padding: 8px 15px 15px 15px; /*display:inline-block;*/ /*border:1px solid #cccccc;*/
}
.partner img {
  border: 1px solid #cccccc;
  padding: 5px;
}

/* ============================End Partner Section =======================*/

/* ======================== Faq Page ======================*/
.faqcollaps .panel-heading {
  padding: 0px;
}
.faqcollaps .panel-heading a {
  color: #fff;
  padding: 10px;
  display: block;
  background-color: #909090;
}
.faqcollaps .panel-heading a:hover {
  background: #0058ab;
  color: #fff;
}

/* ===================== End Faq Page ========================*/

/* ========================== for showsector section  ==================*/

#keyobjective {
  background: #163a54;
  margin-top: 0px;
  padding: 50px 0 50px 0;
  color: #ffffff;
  font-size: 20px;
}
#keyobjective h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0px 0 20px 0;
  padding: 0px;
}
#keyobjective .btn.btn-primary {
  background: #741518;
  border: 0px solid #ffffff;
  border-radius: 0px;
  font-size: 20px;
  text-transform: uppercase;
}
#keyobjective .btn.btn-primary:hover,
#showsector .btn.btn-primary:focus {
  background: none;
}
#keyobjective .imgbox {
  border: 2px double #ffffff;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 8%;
  overflow: hidden;
  margin: 0 auto;
  transform: rotate(45deg);
  background: #fff;
}
#keyobjective .imgbox img {
  max-width: 70%;
  transform: rotate(-45deg);
}
#keyobjective .nav-tabs {
  border: 0px;
}
#keyobjective .nav-tabs li {
  width: 25%;
}
#keyobjective .nav-tabs li a {
  border-bottom: 2px solid transparent;
}
#keyobjective .nav-tabs > li.active > a,
#keyobjective .nav-tabs > li.active > a:hover,
#keyobjective .nav-tabs > li.active > a:focus,
#keyobjective .nav-tabs > li > a:hover {
  color: #555;
  cursor: default;
  background: none;
  border: 0px;
  border-bottom: 2px solid #ffffff !important;
  border-bottom-color: inherit;
  position: relative;
}

.objectivebox {
  width: 100% !important;
  height: 125px !important;
  display: inline-block;
}
.flip-box {
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.objectivebox:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* .flip-box-front {
} */

.flip-box-back {
  transform: rotateY(180deg);
}

.whatiris {
  background: #26272d;
}
.workshop {
  background: #797b7d;
}
.news {
  background: #265cdc;
}

.whatiris,
.workshop,
.news {
  padding: 80px 60px 80px 60px;
  min-height: 530px;
}

/*  ==================== for Exhibit section =====================*/

#exhibit {
  margin-top: 75px;
  padding: 0px 0;
}
#exhibit h2 {
  color: #3949ab;
  font-size: 32px;
  margin: 0px 0 8px 0;
  padding: 0px;
}
#exhibit h5 {
  color: #95a5a6;
  font-size: 22px;
  margin: 0px 0 10px 0;
  padding: 0px;
  font-weight: normal;
}
#exhibit .btn-primary {
  margin-top: 50px;
}

/*  =============== for sponsor section =====================*/

#sponsor {
  margin-top: 15px;
  padding: 0px 0;
}
#sponsor h2 {
  color: #3949ab;
  font-size: 32px;
  margin: 0px 0 8px 0;
  padding: 0px;
}
#sponsor h5 {
  color: #95a5a6;
  font-size: 22px;
  margin: 0px 0 10px 0;
  padding: 0px;
  font-weight: normal;
}
.col-half-offset {
  margin-left: 4.166666667%;
}
.carousel-inner.onebyone-carosel {
  margin: auto;
  width: 100%;
}
.onebyone-carosel .active.left {
  left: -20%;
}
.onebyone-carosel .active.right {
  left: 20%;
}
.onebyone-carosel .next {
  left: 20%;
}
.onebyone-carosel .prev {
  left: -20%;
}
.fdi-Carousel .left,
.fdi-Carousel .right {
  background-image: none;
}

/* ==================== for event time bg==================*/

#eventtime {
  background: url(../images/event_bg.html);
  height: 260px;
  margin-top: 70px;
  padding: 0px 0;
  color: #fff;
}
#eventtime h2 {
  color: #fff;
}
#eventtime h3 {
  color: #fff;
  margin-bottom: 0;
}
#eventtime .icon-circle {
  float: left;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100px;
  position: relative;
}
#eventtime .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#eventtime h3 {
  margin-bottom: 50px;
  float: left;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 0.7;
  font-weight: normal;
}
#eventtime h3 span {
  font-size: 12px;
}
#eventtime .section-header {
  margin-top: 70px;
  margin-bottom: 0px;
}

/* =================== For Conference Agenda  =======================*/
/*#ConferenceAgenda{ margin-top:75px; padding:0px 0;}
#ConferenceAgenda h2{color:#3949ab; font-size:32px; margin:0px 0 8px 0; padding:0px;}
#ConferenceAgenda h5{color:#95a5a6; font-size:22px; margin:0px 0 10px 0; padding:0px; font-weight:normal;}
.nav-tabs{border-bottom:5px solid #c51162; padding-bottom:5px; margin-top:40px;}
.nav-tabs>li>a{background:#c5cae9; border-radius:0px; border:none; color:#fff; font-size:20px; text-transform:uppercase;}
.nav-tabs>li>a:hover{background:#c51162; color:#fff; border:none; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background:#c51162; color:#fff; border:none; }
.agendatime{background:#7986cb; color:#fff; text-align:center; padding:15px 15px;}
.seprator{border-bottom:5px solid #fce4ec; padding:45px 0;}
.seprator h5{margin-bottom:25px!important;}*/

/* ============================== Join our event ======================*/
/*#joinevent{background:url(../images/join_bg.jpg); margin-top:0px; padding:25px 0 25px 0; color:#fff;}*/
#joinevent {
  background: #ffffff;
  margin-top: 0px;
  padding: 25px 0 25px 0;
  color: #000000;
}
#joinevent h2 {
  color: #000000;
  font-weight: bold;
}
#joinevent i {
  color: #d2232a;
}
.emailsubscribe {
  background: #ffffff57;
  color: #ffffff;
  border: 0px;
  padding: 25px;
}
.btnsubscribe {
  padding: 15px 25px;
  background: #d2232a !important;
}

#joinevent span.whyattend {
  color: #c40216;
  font-size: 30px;
  font-weight: bold;
}

/* ============================== Join our event ======================*/

/* ============================== keyfeatures ======================*/
/*#joinevent{background:url(../images/join_bg.jpg); margin-top:0px; padding:25px 0 25px 0; color:#fff;}*/
#keyfeatures {
  background: #f7f7f7;
  margin-top: 0px;
  padding: 25px 0 25px 0;
  color: #000000;
}
#keyfeatures h2 {
  color: #000000;
  font-weight: bold;
}
#keyfeatures i {
  color: #f59c3e;
}
.emailsubscribe {
  background: #ffffff57;
  color: #ffffff;
  border: 0px;
  padding: 25px;
}
.btnsubscribe {
  padding: 15px 25px;
  background: #d2232a !important;
}
#keyfeatures span.whyattend {
  color: #6fab2c;
  font-size: 30px;
  font-weight: bold;
}

.featurebox {
  background: #ffffff;
  padding: 20px 20px;
  min-height: 250px;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  margin-bottom: 30px;
}
.featurebox img {
  width: 90px;
}
.firstl {
  font-size: 27px;
  font-weight: bold;
  color: #d2232a;
}

.featureicon {
  margin-bottom: 10px;
}
.featuredetails {
  font-size: 14px;
  margin-top: 0px;
}

/*#joinevent{background:url(../images/join_bg.jpg); margin-top:0px; padding:25px 0 25px 0; color:#fff;}*/
#topfivereaseons {
  background: #add882;
  margin-top: 0px;
  padding: 25px 0 25px 0;
  color: #000000;
}

#topfivereaseons h2 {
  color: #000000;
  font-weight: bold;
}

.reasonbox {
  width: 20%;
  float: left;
  text-align: center;
  border-left: 1px solid #cccccc;
  min-height: 230px;
}
.firstbox {
  border: none;
}

.reasonicon {
  text-align: center;
  padding: 15px 0;
  /*border-bottom: 1px solid #e4e4e4;*/
}
.reasonicon i {
  color: #e95101;
}
.reasontext {
  padding: 10px;
}
.reasonbox:hover {
  background: #e95101;
  color: #ffffff;
}

.reasonbox:hover .reasonicon i {
  color: #ffffff;
}

/*#joinevent{background:url(../images/join_bg.jpg); margin-top:0px; padding:25px 0 25px 0; color:#fff;}*/
#whoshouldpartner {
  background: #ecf0f3;
  margin-top: 0px;
  padding: 25px 0 25px 0;
  color: #000000;
}
#whoshouldpartner h2 {
  color: #000000;
  font-weight: bold;
}
#whoshouldpartner i {
  color: #d2232a;
}

#whoshouldpartner .carousel-indicators {
  bottom: -50px;
}
#whoshouldpartner .carousel-indicators li {
  background: #0f70b8;
}
#whoshouldpartner .carousel-indicators li.active {
  background: #ed5a04;
}

.displayflex {
  display: flex;
}
.delregbuttonbox {
  position: absolute;
  bottom: 0px;
}

.gridsections {
  margin-top: 50px;
}
.grid {
  padding: 0px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  border: 1px solid #e4e8ea;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #0f70b7;
  overflow: hidden;
}
.grid figure {
  margin: 0;
  position: relative;
  vertical-align: middle;
  padding: 50px 10px 0 10px;
  height: 100%;

  /*border-bottom:5px solid #d2232a;*/
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
  margin: 5px auto;
  position: absolute;
  top: -6px;
  left: 0px;
  height: 100%;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 15px;
  background: #d2232a;
  color: #ffffff;
  border-radius: 50%;
  line-height: 1.2;
}
.grid-title {
  color: #ffffff;
  font-weight: 250;
  /*height:55px;*/
  font-size: 19px;
  /*background:#ecf0f3;*/
  text-align: center;
  margin-bottom: 0;
  margin: 0px !important;
  line-height: 1.5;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}
.grid-h3 {
  font-size: 20px;
}
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: underline;
  color: #fff;
}
.grid figure {
  overflow: hidden;
}

/* 
.grid figure:hover img,
.grid figure.cs-hover img {
	/*-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-0px);*/

/*-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(2);*/
/* } */

.grid figcaption {
  height: auto;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  /*z-index:-999;*/
}

.grid figure:hover figcaption,
.grid figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  height: 100%;
  /*z-index:999;*/
}

/* ================= for tour section ======================*/

#Tour {
  background: #1a237e;
  margin-top: 85px;
  padding: 25px 0;
  color: #a7add1;
}
#Tour h2 {
  color: #fff;
  font-size: 32px;
  margin: 0px 0 15px 0;
  padding: 0px;
}
#Tour h5 {
  color: #d4d4d4;
  font-size: 26px;
  margin: 0px 0 10px 0;
  padding: 0px;
  font-weight: normal;
}

/* ================== for media pertner section ===============*/

#mediapartner {
  margin-top: 85px;
  padding: 25px 0;
}
#mediapartner h2 {
  color: #3949ab;
  font-size: 32px;
  margin: 0px 0 8px 0;
  padding: 0px;
}
#mediapartner h5 {
  color: #95a5a6;
  font-size: 22px;
  margin: 0px 0 10px 0;
  padding: 0px;
  font-weight: normal;
}
#mediapartner h3 {
  color: #c51162;
  font-size: 18px;
  margin: 10px 0 10px 0;
  padding: 0px;
  font-weight: normal;
}
#mediapartner h3 span {
  color: #777777;
  font-size: 14px;
}
#mediapartner .newssortdesc {
  padding: 10px;
}
.controlsmediapartnerarrow {
  position: absolute;
  top: 50%;
  width: 100%;
}
.controlsmediapartnerarrow .right {
  float: right;
  margin-right: -35px;
}
.controlsmediapartnerarrow .left {
  float: left;
  margin-left: -35px;
}
.controlsmediapartnerarrow a {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 27px;
}

/* ================= for Our Partner Section ======================*/

#ourpartners {
  margin: 0px 0;
  padding: 50px 0;
  background: #ffffff;
}
#ourpartners h2 {
  color: #000000;
  font-size: 30px;
  margin: 0px 0 25px 0;
  padding: 0px;
  font-weight: normal;
}
#ourpartners .logobox {
  display: inline-block;
  border: 1px solid #323232;
  padding: 0px 0px;
  margin: 0 15px;
}
#ourpartners .logobox.noborder {
  display: inline-block;
  border: none;
}

/* ========================= who should Partner ===========================*/

#whoshouldpartnerinner .grid {
  padding: 0px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  height: auto !important;
  width: auto !important;
  border-radius: 0;
  background: none;
  border: 1px solid #e4e8ea;
}
#whoshouldpartnerinner .grid figure {
  margin: 0;
  position: relative;
  border-bottom: 5px solid #d2232a;
  padding: 10px 0 0 0;
}

#whoshouldpartnerinner .grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
  margin: 5px auto;
}

#whoshouldpartnerinner .grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 10px;
  background: #d2232ac4;
  color: #ffffff;
  border-radius: 0px;
}
#whoshouldpartnerinner .grid-title {
  color: #004799;
  font-weight: 250;
  height: 55px;
  font-size: 19px;
  background: #ecf0f3;
  text-align: center;
  margin-bottom: 0;
  margin: 0px !important;
  line-height: 55px;
}

#whoshouldpartnerinner .grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

#whoshouldpartnerinner .grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: underline;
  color: #fff;
}
#whoshouldpartnerinner .grid figure {
  overflow: hidden;
}

/* #whoshouldpartnerinner .grid figure img {
	
} */

/* #whoshouldpartnerinner .grid figure:hover img,
#whoshouldpartnerinner .grid figure.cs-hover img {
	
} */

#whoshouldpartnerinner .grid figcaption {
  height: auto;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  /*z-index:-999;*/
}

#whoshouldpartnerinner .grid figure:hover figcaption,
#whoshouldpartnerinner .grid figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  height: 100%;
  /*z-index:999;*/
}

/* ========================== End who should Partner ======================*/

/* ================= for Contact Section ======================*/

#contact {
  position: relative;
  overflow: hidden;
  margin-top: 55px;
  padding: 0px 0;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#contact .contact-form {
  background: rgba(197, 17, 98, 0.85);
  padding: 20px;
  margin-top: 100px;
  color: #fff;
  line-height: 1.8;
}
#contact .contact-form h3 {
  margin-top: 0;
  color: #fff;
}
#contact .contact-form a {
  color: #fff;
}
#contact .contact-form address {
  font-size: 18px;
}

/* ================================= 5 column layout =============================*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(
    180deg,
    #ffffff 0%,
    #e3e3e3 49%,
    #ffffff 100%
  );
  background-image: -webkit-linear-gradient(
    180deg,
    #ffffff 0%,
    #e3e3e3 49%,
    #ffffff 100%
  );
  background-image: -ms-linear-gradient(
    180deg,
    #ffffff 0%,
    #e3e3e3 49%,
    #ffffff 100%
  );
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 0px solid transparent;
  border-top: 0;
  padding: 20px 0px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.html) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}

/***********************
********* Footer ******
************************/
#footer {
  padding-top: 0px;
  /* padding-bottom: 20px; */
  color: #afb1b4;
  background: #eaedff;
  font-size: 14px;
}

#footer tr td {
  padding: 5px;
  border-bottom: 1px dotted #4b4b4b;
  text-align: left;
}

#footer .contactbox {
  font-size: 18px;
}

#footer h4 {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 20px 0;
}
#footer a {
  color: #f3f3f3;
}
#footer a:hover {
  color: #f3f3f3;
  text-decoration: underline;
}
.footersocial {
  background: #393f46;
  color: #afb1b4;
  font-size: 20px;
  border-radius: 0%;
  width: 45px;
  height: 45px;
  line-height: 45px !important;
  text-align: center;
  margin: 5px;
}
.footersocial:hover {
  background: #d2232a;
  color: #ffffff;
}
.footerbottom {
  background: #eaedff;
  padding: 0px 0 15px 0;
  margin-top: 0px;
  line-height: 45px;
  color: #afb1b4;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/*  ==================== for who attand section ==================================*/

#whoattand {
  /* margin-top: 40px;
   margin-bottom: 40px;*/
  padding: 50px 0;
  background: #e36e28;
  color: #ffffff;
}
#whoattand h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 0px 0 20px 0;
  padding: 0px;
}
#whoattand .subheading {
  font-size: 20px;
  position: relative;
  text-transform: inherit;
  color: #fff;
  padding-bottom: 5px;
}
#whoattand .subheading:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 50%;
  background: #d2232a;
  left: 0px;
  height: 3px;
}
#whoattand ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#whoattand ul li {
  background: url(../images/bullet.html) no-repeat left center;
  padding: 0 0 0 20px;
}

.graybox {
  background-color: #ebebeb;
  border-radius: 50px;
  padding: 6px 22px;
  margin: 3px;
  display: inline-block;
}

.graybox:hover {
  background-color: #d2232a;
  color: #ffffff;
}

/*  ==================== for GlimpsesofPharma section ==================================*/

#GlimpsesofPharma {
  margin-top: 40px;
  /*padding: 50px 0;*/
  background: #ffffff;
  color: #000000;
}

.slidertext {
  color: #ffffff;
  margin-bottom: 24px;
  vertical-align: middle;
  /*background:#000000a1;*/
  padding: 16px;
  width: 50%;
}

/* ============================== pricing ======================*/

#pricing {
  /*background:#ecf0f3;*/
  margin-top: 0px;
  padding: 25px 0 50px 0;
  color: #000000;
}

#pricing h2 {
  color: #000000;
  font-weight: bold;
}

.price {
  font-weight: 900;
  font-size: 28px;
  color: #033fff;
}

#pricing .boxheading {
  font-weight: 900;
  font-size: 20px;
}

#pricing .registerp {
  background: #005aab;
  border-color: #005aab;
  border-radius: 3px;
  text-transform: none;
  padding: 10px;
  font-weight: normal;
  font-size: 16px;
}

#pricing .registerp:hover {
  background: #c40216;
  border-color: #c40216;
  color: #fff;
}

.pricebox {
  border: 2px solid #005aab;
  padding: 10px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  cursor: pointer;
}
.pricebox:hover {
  background: #005aab;
  color: #ffffff;
}
.pricebox.introductory {
  border-color: #d2232a;
}
.pricebox.introductory:hover {
  background: #d2232a;
}
.pricebox.introductory .price {
  color: #d2232a;
}
.pricebox.early {
  border-color: #762a89;
}
.pricebox.early:hover {
  background: #762a89;
}
.pricebox.early .price {
  color: #762a89;
}
.pricebox.standard {
  border-color: #005aab;
}
.pricebox.standard:hover {
  background: #005aab;
}
.pricebox.standard .price {
  color: #005aab;
}
.pricebox:hover .price {
  color: #ffffff !important;
}

.spearbox {
  width: 200px;
  display: inline-block;
  margin: 5px 25px;
}

.spearbox .grid-title {
  color: #004799;
  background: #d8d8d8;
  margin-top: 0px !important;
  margin-bottom: 0px;
}

.spearbox .grid figcaption h3 {
  font-size: 1.5rem;
}
.bullate {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.bullate li {
  background: url(../images/bullate.png) no-repeat 0% 9px;
  padding: 0 0 0 20px;
}
.bullate.twocol li {
  width: 45%;
  display: inline-block;
}

.moutcourthover {
  position: relative;
  display: inline-block;
}
.moutcourthover span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000091;
  z-index: 999;
  text-align: center;
  line-height: 171px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.moutcourthover:hover span {
  display: block;
  color: #ffffff;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
}

.slidernewouter {
  background: #045cad;
  background-size: cover;
  margin-top: 0px;
  padding: 50px 0 50px 0;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}
.slidernewouter::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #045cad;
  content: "";
}
.slidernewouter h2 {
  color: #ffffff;
  margin-bottom: 20px;
}
.feature-block-two {
  position: relative;
  margin-bottom: 40px;
  width: 46%;
  display: inline-block;
  margin-right: 30px;
  border: 2px solid #d2223e;
  border-radius: 10px;
}

.feature-block-two .inner-box {
  position: relative;
  padding: 20px 20px;
  /*padding-left: 100px;*/
  background-color: #ffffff;
  /*border: 1px solid #eeeeee;*/
  box-shadow: 0 30px 40px rgb(0 0 0 / 32%);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
  border-radius: 8px;
  min-height: 112px;
}

.feature-block-two .inner-box:hover {
  box-shadow: none;
}

.feature-block-two .icon-box {
  position: absolute;
  left: 30px;
  top: 30px;
  display: block;
  margin-bottom: 30px;
}

.feature-block-two .icon-box .icon {
  position: relative;
  display: inline-block;
  font-size: 50px;
  line-height: 1em;
  background: rgb(245, 157, 29);
  background: -moz-linear-gradient(
    to left,
    rgba(245, 157, 29, 1) 0%,
    rgba(225, 19, 123, 1) 100%
  );
  background: -webkit-linear-gradient(
    to left,
    rgba(245, 157, 29, 1) 0%,
    rgba(225, 19, 123, 1) 100%
  );
  background: linear-gradient(
    to left,
    rgba(245, 157, 29) 0%,
    rgba(225, 19, 123, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
  background: none;
  color: #f14b59;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.feature-block-two .inner-box:hover .icon-box .icon {
  -webkit-transform: scale(-1) rotate(180deg);
  -moz-transform: scale(-1) rotate(180deg);
  -ms-transform: scale(-1) rotate(180deg);
  -o-transform: scale(-1) rotate(180deg);
  transform: scale(-1) rotate(180deg);
}

.feature-block-two h4 {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 1.2em;
  color: #12114a;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature-block-two h4 a {
  color: #12114a;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.feature-block-two h4 a:hover {
  color: #f14b59;
}

.feature-block-two .text {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #888888;
  font-weight: 400;
  cursor: default;
}

.feature-block-two .link-box {
  position: relative;
  display: block;
}

.feature-block-two .link-box a {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 14px;
}

/* #secdesignation{} */
#secdesignation .featurebox {
  background: #f7f7f7;
  color: #333;
  padding: 27px 20px;
  min-height: 120px;
  border-radius: 15px;
  -webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  box-shadow: 0 0px 10px rgba(20, 31, 35, 0.42);
  margin-bottom: 30px;
  border: 2px solid #525a5c;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
#secdesignation .featurebox::before {
  position: absolute;
  width: 60px;
  content: "";
  height: 60px;
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #d3223e 50%,
    #d3223e 100%
  );
  font-size: 41px;
  padding: 15px;
  right: 0;
  bottom: 0px;
}

#secdesignation .featurebox:hover {
  background: #005aad;
  color: #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#003b71),
    to(#005aad)
  );
  background: -webkit-linear-gradient(top left, #003b71, #005aad);
  background: -o-linear-gradient(top left, #003b71, #005aad);
  background: linear-gradient(to bottom right, #003b71, #005aad);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#secdesignation .featurebox .featuredetails {
  font-size: 22px;
}

.cursorPointer {
  cursor: pointer;
}


/* #timer{
  font-size: 50px;
  padding: 30px;

  color:#093f41;
 
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
} */

#timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  padding: 20px;
  width: 700px;
  color: white;
  position: absolute;

}

#timer div {
  display: inline-block;
  min-width: 90px;
  padding: 15px;
  background: #020b43;
  border-radius: 10px;
  border: 2px solid #030d52;
  margin: 15px;
}
#timer div span {
  color: #1c755f;
  display: block;
  margin-top: 15px;
  font-size: .35em;
  font-weight: 400;
}
.glimpse{
  height: 54rem;
  /* margin-bottom: -550px; */
}

#bnnarCarousal .carousel-inner .carousel-item .otherslider{
 margin-top: 85px;;
}

.otherslider {
  margin-top: 116px;
}

.home{
  margin-top: 88px;;
 }
#MainContent_register,#contactus,.speakers-section-three,.aboutshow{
  margin-top: 117px;
}