:root,
[data-bs-theme="light"] {
  --gradient5: linear-gradient(180deg, #ffffff00 22%, #004e8a87 100%);
}
/* Add media queries for finer control on smaller devices */
@media (min-width: 1440px) {
  .index .section1 .logo {
    position: relative;
    top: -50px;
    /* left: -50px;  */
  }
}
@media (max-width: 1440px) {
  .index .section1 .logo {
    position: relative;
    top: -50px;
    /* left: -50px;  */
  }
  .head ul li a,
  .head ul li .dropbtn {
    font-size: 14px;
  }
}
@media (max-width: 1228.8px) {
  .head ul li a,
  .head ul li .dropbtn {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .head ul li a,
  .head ul li .dropbtn {
    font-size: 10px;
  }
  .index .section2 .mainCard .cardP {
    font-size: 12px;
  }
  .awards .section7 .card .card-body h3 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .index .section1 {
    background: url(../images/index/bannermob.gif);
    background-size: 100% 100%; /* Ensures the image covers the section while maintaining aspect ratio */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    height: 80vh; /* Keeps the height relative to the viewport */
  }
  .index .section1 .bgColor {
    background: var(--gradient5);
  }

  .index .section1 .logo {
    position: relative;
    /* top: -50px; */
  }
  .index .section4 img {
    margin: 0 0 0;
  }

  /* .index .section1 .tableBox {
    left: 0;
    position: relative;
  } */

  .navbarDots {
    display: none;
  }
  .index .section7 table td ul li:nth-child(2) {
    font-size: 9.57px;
    font-weight: 600;
    line-height: 19.21px;
  }

  .cardMain .card-body {
    padding: 10px;
  }

  #timeline-content {
    justify-content: end;
  }
  .second-image {
    right: 0%;
    top: 74%;
    width: 60%;
  }
  /* .speakers img {
    width: auto;
  } */

  .partner_carousel .carousel-item ul {
    display: block;
  }
  .partner_carousel ul li img {
    width: 100%;
  }

  .awards .section7 .card .card-body ul {
    display: block;
  }

  .index .section7 p {
    font-size: 16px;
    line-height: 20px;
  }

  .index .section1 .tableBox table tr td p {
    font-size: 12px;
  }

  .index .section5 h2,
  .index .section6 h2,
  .index .section9 h2 {
    font-size: 18px;
  }
  .index .section1 .cardMain h5 {
    font-size: 14px;
  }

  .index .section1 .cardMain .col-4 h6 {
    font-size: 10px;
  }
  .index .section1 .cardMain .col-4 h6 span {
    font-size: 16px;
  }
  .index .section7 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40.6px;
  }
  .timeline h2,
  .timeline h3 {
    font-size: 12px;
  }
  .timeline .event {
    font-size: 12px;
  }

  :root {
    --dotborder: -2px;
  }

  .index .section7 table td ul li:nth-child(1) {
    font-size: 25px;
  }
  .index .section7 h2 {
    font-size: 20px;
  }
  .invited table {
    font-size: 10px;
  }
  .contact-info ul li {
    font-size: 16px;
  }
  .yT {
    height: 322px;
  }

  .chairman {
    border-bottom: 1px solid #0000005c;
    padding-block: 15px;
    /* margin: 0; */
  }
  .awards .section7 .lastP {
    font-size: 15px;
  }
  .index .section7 label {
    font-size: 14px;
    line-height: 20px;
  }

  .footerLinks p {
    font-size: 14px;
    /* font-weight: 600; */
  }
  .footerLinks h1 {
    font-size: 16px;
  }
  .footerLinks ol li {
    font-size: 14px;
  }
  .footerLinks ul li span {
    font-size: 14px;
    font-weight: 600;
  }
  .footerLinks h2,
  .delegate-form h3 {
    font-size: 16px;
  }

  .delegate-form h2 {
    font-size: 20px;
  }
  .delegate-form form h6 {
    font-size: 16px;
  }
  .pix {
    height: 100px;
    width: 100px;
  }
  .pix2 {
    top: -103px;
  }
  /* .cpImg{
    height: auto;
  } */
  /* .contact-info{
    height: 110%;
  } */
  .helpline {
    font-size: 18px !important;
  }

  .count {
    width: 25px;
    height: 25px;
  }

  .footerLinks ul li {
    font-size: 14px;
  }

  .contact-info h3,
  .contact-info p {
    font-size: 12px !important;
  }
  .indexSec2 h2 {
    font-size: 18px !important;
    line-height: 28.52px !important;
    margin-top: 10px;
  }

  .indexSec2 ul {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: justify;
  }

  .indexSec2 p {
    line-height: 25px;
  }

  .index .section1 .cardMain {
    background-color: #005a9394;
    border: none;
    box-shadow: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .organiserUL ul {
    font-size: 12px;
    margin: 0 0 15px;
  }
  .percent28 ul li,
  .offcanvas ul li a.btn-success {
    font-size: 12px;
  }
  .offcanvas ul li a.btn-success {
    font-weight: 600;
  }

  .awards .section4 h2 {
    font-size: 24px;
  }

  #dc11 ul li h4 {
    font-size: 14px;
  }
  .cpImg {
    height: 370px;
  }
  .bgModal .modal-content .badgeModal {
    font-size: 11px;
  }

  #cc1 {
    height: auto;
  }

  .speakersProfile .modal-header h1.fs-5,
  .speakersProfile .modal-header p {
    font-size: 12px !important;
  }
  .mobCarousal {
    width: 170px;
    display: block;
    border: 1px solid;
    height: 170px;
    border-radius: 100%;
    margin: auto;
  }
  .speakersProfile .modal-content .modal-body p{
    text-align: left;
  }

  #p4 h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 90.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    }
    
    #p4 p{
      font-size: 20px;
      font-weight: 400;
      line-height: 64.4px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      
    }

    #dc1, #dc3, #dc4{
      height: 35vh;
    }

    .speakers .editYear{
      font-size: 20px;
    }
}

@media (max-width: 375px) {
  .pix {
    height: 100px;
    width: 100px;
  }
  .preview {
    font-size: 11px;
  }
  .preview img {
    width: 80px;
    height: 80px;
  }
  .cpImg {
    height: 340px;
  }
  .pix {
    height: 100px;
    width: 100px;
  }
  .pix2 {
    top: -103px;
  }
  .bgModal .modal-content .badgeModal {
    font-size: 11px;
  }
  #dc1, #dc3, #dc4{
    height: 28vh;
  }
}

@media (max-width: 320px) {
  .index .section1 .tableBox table tr td p {
    font-size: 10px;
  }

  .pix {
    height: 80px;
    width: 80px;
  }

  .cpImg {
    height: 300px;
  }

  .pix2 {
    position: absolute;
    top: -127px;
    top: -100px;
  }
  .bgModal .modal-content .badgeModal {
    font-size: 10px;
  }
  #dc1, #dc3, #dc4{
    height: 28vh;
  }
}
