/* Add media queries for finer control on smaller devices */
@media (min-width: 1440px) {
  .index .section1 .logo {
    position: relative;
    top: -50px;
    /* left: -50px;  */
  }
  
}
@media (max-width: 1440px) {
  .index .section1 .logo {
    position: relative;
    top: -50px;
    /* left: -50px;  */
  }
  .head ul li a, .head ul li .dropbtn{
    font-size: 14px;
  }
  
}
@media (max-width: 1228.80px){
  .head ul li a, .head ul li .dropbtn{
    font-size: 12px;
  }}
@media (max-width: 1024px){
  .head ul li a, .head ul li .dropbtn{
    font-size: 10px;
  }
  .index .section2 .mainCard .cardP{
    font-size: 12px;
  }
.awards .section7 .card .card-body h3{
  font-size: 17px;
}
}
@media (max-width: 768px) {
  .index .section1 {
    background: url(../images/index/bannermob.gif);
    background-size: 100% 100%; /* Ensures the image covers the section while maintaining aspect ratio */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    height: 100vh; /* Keeps the height relative to the viewport */
  }
  .index .section1 .bgColor {
    background-color: hsl(203deg 100% 29% / 60%);
  }

  .index .section1 .logo {
    position: relative;
    /* top: -50px; */
  }
  .index .section4 img {
    margin: 0 0 0;
  }

  .index .section1 .tableBox {
    left: 0;
    position: relative;
  }

  .navbarDots {
    display: none;
  }
  .index .section7 table td ul li:nth-child(2) {
    font-size: 9.57px;
    font-weight: 600;
    line-height: 19.21px;
  }

  .cardMain .card-body {
    padding: 10px;
  }

  #timeline-content {
    justify-content: end;
  }
  .second-image {
    right: 0%;
    top: 74%;
    width: 60%;
  }
  /* .speakers img {
    width: auto;
  } */

  .partner_carousel .carousel-item ul {
    display: block;
  }
  .partner_carousel ul li img {
    width: 100%;
  }

  .awards .section7 .card .card-body ul {
    display: block;
  }

  .index .section7 p {
    font-size: 16px;
    line-height: 20px;
  }

  .index .section1 .tableBox table tr td p {
    font-size: 12px;
  }

  .index .section5 h2,
  .index .section6 h2,
  .index .section9 h2 {
    font-size: 18px;
  }
  .index .section1 .cardMain h5 {
    font-size: 14px;
  }

  .index .section1 .cardMain .col-4 h6 {
    font-size: 10px;
  }
  .index .section1 .cardMain .col-4 h6 span {
    font-size: 16px;
  }
  .index .section7 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40.6px;
  }
  .timeline h2,
  .timeline h3 {
    font-size: 12px;
  }
  .timeline .event {
    font-size: 12px;
  }

  :root {
    --dotborder: -2px;
  }

  .index .section7 table td ul li:nth-child(1) {
    font-size: 25px;
  }
  .index .section7 h2 {
    font-size: 20px;
  }
  .invited table {
    font-size: 10px;
  }
  .contact-info ul li {
    font-size: 16px;
  }
  .yT{
    height: 322px;
  }

  .chairman{
    border-bottom: 1px solid #0000005c;
    padding-block: 15px;
    /* margin: 0; */
  }
  .awards .section7 .lastP{
    font-size: 15px;
  }
  .index .section7 label {
    font-size: 14px;
    line-height: 20px;
  }

  .footerLinks p{
    font-size: 14px;
    /* font-weight: 600; */
  }
  .footerLinks h1{
    font-size: 16px;
  }
  .footerLinks ol li{
    font-size: 14px;
  }
  .footerLinks ul li span{
    font-size: 14px;
    font-weight: 600;
  }
  .footerLinks h2, .delegate-form h3{
    font-size: 16px;
  }

  .delegate-form h2{
    font-size: 20px;
  }
  .delegate-form form h6{
    font-size: 16px;
  }
  .pix{
    height: 130px;
    width: 130px;
  }
  /* .cpImg{
    height: auto;
  } */
  .contact-info{
    height: 110%;
  }

  .count{
    width: 25px;
    height: 25px;
  }

  .footerLinks ul li{
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .pix{
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 320px) {
  .index .section1 .tableBox table tr td p {
    font-size: 10px;
  }

  .pix{
    height: 80px;
    width: 80px;
  }
}
