<div class="section section5 px-lg-3 py-5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 mb-5">
        <h2 style="line-height: normal;">
          LANGUAGES OF GLOBAL <br />
          JUSTICE, LOVE & PEACE SUMMIT
        </h2>
      </div>
      <div class="col-md-5 p-lg-5">
        <img
          src="assets/UIComponents/images/12brochure.png"
          alt=""
          width="100%"
        />
      </div>
      <div class="col-md-7 p-lg-5">
        <div class="row">
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" (click)="downloadPDF('English')">English</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Mandarin Chinese</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Hindi</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Spanish</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" (click)="downloadPDF('French')">French</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Arabic</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Bengali</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" (click)="downloadPDF('Portuguese')">Portuguese</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Russian</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Urdu</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>Indonesian</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" disabled>German</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
