<nav class="navbarDots">
  <ul>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        class="dot active"
        data-scroll="1"
      >
        <span>The Movement</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="2"
        class="dot"
        data-scroll="2"
      >
        <span>I am Peacekeeper</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="3"
        class="dot"
        data-scroll="3"
      >
        <span>Sign Up Now</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="4"
        class="dot"
        data-scroll="4"
      >
        <span>7 Peace Values</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="5"
        class="dot"
        data-scroll="5"
      >
        <span>Song and Graphics</span>
      </a>
    </li>
  </ul>
</nav>
<main class="index theSumit" id="fullpage">
  <div class="section partner" id="1">
    <section class="section7 ">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md-12 p-0">
            <img
              src="assets/UIComponents/images/peacekeeper1.svg"
              alt=""
              width="100%"
            />
          </div>
          <!-- <div class="col-4 col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-lg-5">
                <img src="assets/UIComponents/images/partners/1.png" alt="" />

                <p>
                  Founded by Dr. Huzaifa Khorakiwala <br />
                  (www.dr-huzaifa-khorakiwala.care )
                </p>
              </li>
              <li class="my-lg-5">
                <img src="assets/UIComponents/images/partners/2.png" alt="" />

                <p>
                  To spread world peace through the <br />
                  formation of the world’s largest <br />
                  army – The World Peace Army <br />
                  (online army)
                </p>
              </li>
              <li class="my-lg-5">
                <img src="assets/UIComponents/images/partners/3.png" alt="" />

                <p>
                  Online movement comprising <br />
                  of more than 1.8 million <br />
                  peacekeepers
                </p>
              </li>
            </ul>
          </div>
          <div class="col-4 col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img
                  src="assets/UIComponents/images/world-peacemaker.svg"
                  alt=""
                  class="col-md-7 col-12"
                />
              </li>
              <li>
                <img src="assets/UIComponents/images/partners/7.png" alt="" />
                <p>
                  Planning yearly summit in Dubai. The <br />
                  1st one is planned on April 13, 2025 <br />
                  <span style="text-transform: lowercase"
                    >(www.justice-love-peace.com)</span
                  >
                </p>
              </li>
            </ul>
          </div>

          <div class="col-4 col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-lg-5">
                <img src="assets/UIComponents/images/partners/4.png" alt="" />

                <p>
                  Based on 7 Human Values - Gratitude, <br />
                  Forgiveness, Love, Humility, Giving, <br />
                  Patience & Truth
                </p>
              </li>
              <li class="my-lg-5">
                <img src="assets/UIComponents/images/partners/5.png" alt="" />

                <p>
                  World Peace Triangle-Peace with Oneself, Peace with Law, Peace
                  with People, Peace with Nations (Total: 28 Peace Gems)
                </p>
              </li>
              <li class="my-lg-5">
                <img src="assets/UIComponents/images/partners/6.png" alt="" />

                <p>
                  "Peace is when the love of power <br />
                  succumbs to the power of love" <br />
                  <span style="text-transform: lowercase"
                    >(www.facebook.com/World Peacekeepers Movement)</span
                  >
                </p>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </section>
  </div>
  <div class="section partner" id="2">
    <section class="section7 ">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <!-- <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/1.png" alt="" />

                <p>
                  Our mission is to <br />
                  spread world peace
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/2.png" alt="" />

                <p>
                  We believe inner peace is the <br />
                  foundation of world peace
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/3.png" alt="" />

                <p>
                  We wish each other depending on the day <br />
                  of the week, hence on Wednesday we wish <br />
                  each other, “Happy Love Day” & so on
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img
                  src="assets/UIComponents/images/7.png"
                  alt=""
                  class="col-4"
                />
                <p
                  style="
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #005fa5;
                  "
                >
                  MEANINGS OF I AM PEACEKEEPER
                </p>
              </li>
              <li>
                <img src="assets/UIComponents/images/partners/7.png" alt="" />

                <p>
                  “Peace is when the power of love <br />
                  overpowers the love for power”
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/4.png" alt="" />

                <p>
                  We subscribe to the 7 human values <br />
                  of Gratitude, Forgiveness, Love, <br />
                  Humility, Giving, Patience & Truth
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/5.png" alt="" />

                <p>
                  Each human value represents one day <br />
                  of the week, with Monday represented <br />
                  by Gratitude & so on
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/6.png" alt="" />

                <p>
                  Inner peace comes through the <br />
                  practise of human values
                </p>
              </li>
            </ul>
          </div> -->
          <div class="col-md-12 p-0">
            <img
              src="assets/UIComponents/images/peacekeeper2.svg"
              alt=""
              width="100%"
            />
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section partner delegate-form" id="3">
    <section class="section7 ">
      <div class="container-fluid h-100 p-lg-5">
        <div class="row justify-content-center h-100">
          <div class="col-md-12 mb-lg-5">
            <h2>JOIN US AS A PEACEKEEPER NOW</h2>
          </div>
          <div class="col-md-8">
            <form
              [formGroup]="peacekeepersForm"
              (ngSubmit)="submitData(fileInput)"
              style="position: relative; z-index: 1"
            >
              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="full_name"
                      name="full_name"
                      id="title"
                      (keypress)="ValidateAlpha($event)"
                      placeholder=""
                      value=""
                    />
                    <label for="title"
                      >Name :<span
                        class="form-label-span"
                        style="color: #ff0000"
                      >
                        *</span
                      >
                    </label>
                    <div
                      class="text-danger"
                      *ngIf="
                        getcontrol('full_name')?.errors &&
                        getcontrol('full_name')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('full_name')?.errors?.['required']"
                        >First name is required</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="dob"
                      name="dob"
                      id="title"
                      placeholder=""
                      value=""
                    />
                    <label for="title"
                      >DOB :<span
                        class="form-label-span"
                        style="color: #ff0000"
                      >
                        *</span
                      >
                    </label>
                    <div
                      class="text-danger"
                      *ngIf="
                        getcontrol('dob')?.errors &&
                        getcontrol('dob')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('dob')?.errors?.['required']"
                        >Date of birth is required</small
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="country"
                      name="country"
                      id="country"
                      placeholder=""
                      value=""
                    />
                    <label for="LastName"
                      >Country :<span
                        class="form-label-span"
                        style="color: #ff0000"
                      >
                        *</span
                      ></label
                    >
                    <div
                      *ngIf="
                        getcontrol('country')?.errors &&
                        getcontrol('country')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('country')?.errors?.['required']"
                        >Country is required.</small
                      >
                    </div>
                  </div>
                </div>


              </div>

              <div class="row g-2 mt-lg-5">
                <div class="col-md my-3 my-lg-0">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email_id"
                      name="email_id"
                      id="email"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,12}$"
                      placeholder=""
                      value=""
                    />
                    <label for="title"
                      >E-Mail :<span
                        class="form-label-span"
                        style="color: #ff0000"
                      >
                        *</span
                      ></label
                    >
                    <div
                      *ngIf="
                        getcontrol('email_id')?.errors &&
                        getcontrol('email_id')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('email_id')?.errors?.['required']"
                        >Email is required.</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('email_id')?.errors?.['email']"
                        >Please enter valid email address.</small
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md my-3 my-lg-0">
                  <label class="col-md-12 no-padding" for="mobile1"
                    >Mobile Number<span
                      class="form-label-span"
                      style="color: #ff0000"
                    >
                      *</span
                    ></label
                  >
                  <div class="row no-padding ">
                    <!-- <div
                    class="form-group form-group-inner mobile-code col-3"
                  >
                  <div class="form-floating">
                    <select
                      formControlName="country_code"
                      class="form-control"
                      required
                      data-error="Please enter code"
                    >
                      <option selected value="" disabled>
                        --Please select--
                      </option>
                      <option
                        *ngFor="
                          let code of code;
                          let j = index
                        "
                        [value]="code.country_mobile_code"
                      >
                        {{ code.country_mobile_code }}
                      </option>
                    </select></div>
                    <div
                      *ngIf="
                        getcontrol('country_code')?.errors &&
                        getcontrol('country_code')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('country_code')?.errors?.['required']"
                        >Country code is required</small
                      >
                    </div>
                    <div class="help-block with-errors"></div>
                  </div> -->
                    <div
                      class="form-group form-group-inner mobile-number col-9 w-100"
                    >
                      <ngx-intl-tel-input
                        class="custom-width-container"
                        [preferredCountries]="[
                          CountryISO.India,
                          CountryISO.UnitedStates,
                          CountryISO.UnitedKingdom
                        ]"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="false"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.India"
                        [maxLength]="10"
                        [phoneValidation]="false"
                        [separateDialCode]="true"
                        name="mobile_number"
                        formControlName="mobile_number"
                      ></ngx-intl-tel-input>
                      <!-- <input
                      type="text"
                      name="mobile_number[1]"
                      id="number_mobile1"
                      placeholder="Mobile Number"
                   
                      class="form-control number_field"
                      value=""
                      pattern=".{8,12}"
                      minlength="10"
                      maxlength="10"
                      required
                      data-error="Please enter valid number."
                      formControlName="mobile_number"
                      (keypress)="keyPressNumbers($event)"
                 
                    /> -->
                      <div
                        *ngIf="
                          getcontrol('mobile_number')?.errors &&
                          getcontrol('mobile_number')?.touched
                        "
                      >
                        <small
                          class="text-danger"
                          *ngIf="getcontrol('mobile_number')?.errors?.['required']"
                          >Mobile number is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="getcontrol('mobile_number')?.errors?.['minlength']"
                          >Mobile number must be at least 10 digit long.</small
                        >
                      </div>
                    </div>
                  </div>
                  <!-- <label for="mobilenumber"
                      >Mobile Number :<span
                        class="form-label-span"
                        style="color: #ff0000"
                      >
                        *</span
                      ></label
                    >
                    <div
                      *ngIf="
                        getcontrol('mobile_number')?.errors &&
                        getcontrol('mobile_number')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('mobile_number')?.errors?.['required']"
                        >Mobile number is required</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('mobile_number')?.errors?.['minlength']"
                        >Mobile number must be at least 10 digit long.</small
                      >
                    </div> -->
                </div>

                <div class="col-md-12 my-3 my-lg-3">
                  <label class="containerCheck">
                    <input type="checkbox" formControlName="Check_email" />
                    <span class="checkmark"></span>
                    Do you want the email or phone number written on the badge?
                    If yes, please tick the checkbox.
                  </label>
                </div>
              </div>
              
              <!-- </div> -->

              <div class="row g-2 mt-lg-5">
                <div class="col-md">
                  <!--<div class="form-floating">
                     <span
                      class="form-label-span"
                      style="color: #ff0000; float: left"
                    >
                      *</span
                    >  <input
                      type="file"
                      class="form-control"
                    name="profile_picture"
                      id="title"
                      (change)="onFileChange($event)"
                      placeholder=""
                      value=""
                    /> 
                  </div>-->
                  <label for="" class="imgUpload">Image Upload</label>
                  <div
                    class="drop-zone"
                    (drop)="onDrop($event)"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                  >
                    <img src="assets/UIComponents/images/upload.svg" alt="" />
                    <span class="drop-zone__prompt"
                      >Drag your Image to start uploading</span
                    >
                    <span>or</span>
                    <!-- <input type="file" name="myFile" class="drop-zone__input"> -->
                    <input
                      class="custom-file-input col-md-5 col-12"
                      type="file"
                      accept="image/jpg,image/png,image/jpeg"
                      name="profile_picture"
                      id="title"
                      #fileInput
                      (change)="onFileChange($event)"
                    />
                  </div>
                  <p
                    style="
                      font-size: 16px;
                      font-weight: 400;
                      line-height: var(--lineHeightsmd);
                      letter-spacing: var(--letterSpacingmd);
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                      color: #6d6d6d;
                    "
                  >
                    Only support .jpg, .png files
                  </p>
                </div>
              </div>
              <div class="row mt-lg-5">
                <div class="col-md text-center">
                  <button
                   (click)="isCorrect()"
                   type="button"
                    class="btn btn-success text-white text-center"
                    [disabled]="this.peacekeepersForm.invalid"
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 text-lg-end">
            <ul class="list-unstyled text-center badge">
              <div>
                <img src="assets/UIComponents/images/join-us.png" alt="" width="100%" />

                <!-- <button style="float: right;" (click)="downloadImage()">Download as Image</button> -->
              </div>
              <li>
                <button
                  [disabled]="!submitted"
                  class="btn btn-success"
                  (click)="openPopup()"
                >
                  Preview your Badge
                  <img src="assets/UIComponents/images/download.svg" alt="" />
                </button>
              </li>
              <li>
                <h6>ALSO JOIN US ON</h6>
                <a href="https://www.facebook.com/GlobalJusticeLoveandPeaceSummit/about" target="_blank" rel="noopener noreferrer">
                <img src="assets/UIComponents/images/fb.png" alt="" /></a>
                <a href="https://www.instagram.com/globaljusticelovepeacesummit/profilecard/?igsh=dXB6ZzNwYjBwYnVv" target="_blank" rel="noopener noreferrer">
                <img src="assets/UIComponents/images/insta.png" alt="" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section partner delegate-form" id="4">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
          <div class="col-md-12 mb-5">
            <h2>7 Peace Values</h2>
          </div>
          <div class="col-md-12 text-center">
            <img
              src="assets/UIComponents/images/7peace.svg"
              alt=""
              width="80%"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section partner1 mt-lg-0 mt-5" id="5">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
          <div class="col-md-12 text-center">
            <iframe
              class="col-md-8 col-12 yT"
              width="928"
              
              src="https://www.youtube.com/embed/2zG6OIhym60"
              title="Bringing World Peace"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col-md-4 p-lg-5 m-lg-0 m-3">
            <img
              src="assets/UIComponents/images/wpm/img1.svg"
              alt=""
              width="100%"
            />
          </div>
          <div class="col-md-4 p-lg-5 m-lg-0 m-3">
            <img
              src="assets/UIComponents/images/wpm/img2.svg"
              alt=""
              width="100%"
            />
          </div>
          <div class="col-md-4 p-lg-5 m-lg-0 m-3">
            <img
              src="assets/UIComponents/images/wpm/img3.svg"
              alt=""
              width="100%"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- Modal -->

<div
  *ngIf="isPeaceOn == 1"
  [ngStyle]="{ display: display }"
  class="modal " closeLabel="Close" 
  id="trustUntrust_alert"
  #trustUntrust_alert
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog come-from-modal new_dialog1">
    <div class="modal-content">
      <!-- <button class="modal-close" (click)="closeModal()">X</button> -->
        <table class="main" style="margin: auto">
          <tr>
            <td style="position: relative; border-radius: 5px;; ">
              <img
              src="assets/UIComponents/images/bg2.png"
              height="350px"
              alt=""
            />
              <div
                style="position: absolute; top: 15px; left: 15px; width: 100%"
              >
                <!-- <h5 style="margin: 0px; text-transform: uppercase">
                  {{this.peacekeepersForm.value.full_name}}
                </h5> -->
                <hr
                  style="margin: 0px; width: 77%; color: #707070; opacity: 0.3"
                />
                <div style="font-size: 18px">
                  <label for="" style="color: #17598e"><b>Name :</b> </label>
                  <span style="outline: none; border: none">
                    {{this.peacekeepersForm.value.full_name}}
                    </span
                  >
                </div>
                <div style="font-size: 18px">
                  <label for="" style="color: #17598e"><b>DOB :</b> </label>
                  <span style="outline: none; border: none">
                    {{this.peacekeepersForm.value.dob}}
                    </span
                  >
                </div>
                <div style="font-size: 18px">
                  <label for="" style="color: #17598e"><b>Country :</b> </label>
                  <span style="outline: none; border: none">
                    {{this.peacekeepersForm.value.country}}
                    </span
                  >
                </div>
                <div style="font-size: 18px" >
                  <label for="" style="color: #17598e"><b>Mobile :</b> </label>
                  <span style="outline: none; border: none">
                    {{isMobile}}
                    </span
                  >
                </div>
                <div style="font-size: 18px">
                  <label for="" style="color: #17598e"><b>E-mail :</b></label>
                  <span style="outline: none; border: none">
                    {{this.peacekeepersForm.value.email_id}}
                    </span
                  >
                </div>
          
              </div>
              <!-- <div>
                <img
                  [src]="this.selectedFile?.name"
                  alt=""
                  style="
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    height: 150px;
                    width: 150px;
                    border: 2px solid #359138;
                    border-radius: 50%;
                  "
                />
              </div> -->
              <div
                style="position: absolute; top: 15px; left: 15px; width: 100%"
              >
                
                <div style="font-size: 18px;
    margin-top: 165px;     width: 95%; color: #005A93;
    ">
                  <span style="outline: none; border: none"><b>
                    You have entered the correct information.
                    Please click the 'OK' button.
                    <br> If you need to refill the information,
                     please click the 'Back' button.
                  </b>
                                     </span
                  >
                </div>

          
              </div>
              
            </td>
            
          </tr>
        </table>


      <div class="col-md-12 row ms-2" style="
    width: 95%;">
        <div class="col-md-4">

          <button
            class="btn btn-success w-100"
            data-dismiss="modal"
            (click)="submitData(fileInput)"
            style="height: 36px; font-size: 15px"
          >
            OK
          </button>
       
        </div>
        <div class="col-md-4"> </div>
        <div class="col-md-4">
          <button
          class="btn btn-success w-100"
          data-dismiss="modal"
          (click)="closeModal()"
          style="height: 36px; font-size: 15px; background-color: #ffff;
          color: #198754;
      "
        >
          Back
        </button>
        </div>
      </div>
    </div>
  </div>
</div>





<div
  *ngIf="isPeaceOn == 0"
  [ngStyle]="{ display: display}"
  class="modal " closeLabel="Close" 
  id="trustUntrust_alert"
  #trustUntrust_alert
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog come-from-modal new_dialog1" >

    <div class="modal-content">
      <!-- <button class="modal-close" (click)="closeModal()">X</button> -->

      <ng-template #contentTemplate>
        <table class="main" style="margin: auto">
          <tr>
            <td style="position: relative">
              <img
                src="assets/UIComponents/images/peacekeeperBatch.jpg"
                height="480px"
                alt=""
              />
              <div
                style="position: absolute; top: 15px; left: 15px; width: 100%"
              >
                <h4 style="margin: 0px; text-transform: uppercase">
                  {{
                    peacekeeperData.length !== 0
                      ? peacekeeperData.Name
                      : "Name to come"
                  }}
                </h4>
                <hr
                  style="margin: 0px; width: 89%; color: #707070; opacity: 0.3"
                />
                <div style="font-size: 13px">
                  <label for="" style="color: #17598e"><b>DOB :</b> </label>
                  <span style="outline: none; border: none">
                    {{
                      peacekeeperData.length !== 0
                        ? peacekeeperData.DOB
                        : "xx/xx/xxxx"
                    }}</span
                  >
                </div>
                <div style="font-size: 13px">
                  <label for="" style="color: #17598e"><b>Country :</b> </label>
                  <span style="outline: none; border: none">
                    {{
                      peacekeeperData.length !== 0
                        ? peacekeeperData.Country
                        : "xxxxxxxxxx"
                    }}</span
                  >
                </div>
                <div style="font-size: 13px" *ngIf="isCheckEmail">
                  <label for="" style="color: #17598e"><b>Mobile :</b> </label>
                  <span style="outline: none; border: none">
                    {{
                      peacekeeperData.length !== 0
                        ? peacekeeperData.Phone
                        : "00000 00000"
                    }}</span
                  >
                </div>
                <div style="font-size: 13px" *ngIf="isCheckEmail">
                  <label for="" style="color: #17598e"><b>E-mail :</b></label>
                  <span style="outline: none; border: none">
                    {{
                      peacekeeperData.length !== 0
                        ? peacekeeperData.Email
                        : "XXXX@Xmail.com"
                    }}</span
                  >
                </div>
                <div style="font-size: 13px">
                  <label for="" style="color: #17598e"><b>ID No. :</b></label>
                  <span style="outline: none; border: none">
                    {{
                      peacekeeperData.length !== 0
                        ? peacekeeperData.ID_NO
                        : "XX000000X"
                    }}</span
                  >
                </div>
              </div>
              <div>
                <img
                  [src]="fileUrl"
                  alt=""
                  style="
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    height: 200px;
                    width: 200px;
                    border: 2px solid #359138;
                    border-radius: 50%;
                  "
                />
              </div>
            </td>
          </tr>
        </table>
      </ng-template>

      <div id="capture">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
      <div class="col-md-12 row ms-2" style="
    width: 95%;">
        <div class="col-md-4">
          <button
          [disabled]="peacekeeperData.length == 0"
          class="btn btn-success w-100"
          data-dismiss="modal"
          (click)="downloadImage()"
          style="height: 36px; font-size: 15px"
        >
          Download now
        </button>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <button
          class="btn btn-success w-100"
          data-dismiss="modal"
          (click)="closeModal()"
          style="height: 36px; font-size: 15px; background-color: #ffff;
          color: #198754;
      "
        >
          Close
        </button>
        </div>      </div>
    </div>
  </div>
</div>


