<main class="index theSumit " id="fullpage">
  <div class="partner">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/1.png" alt="" />

                <p>
                  Founded by Dr. Huzaifa Khorakiwala <br />
                  (www.dr-huzaifa-khorakiwala.care )
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/2.png" alt="" />

                <p>
                  To spread world peace through the <br />
                  formation of the world’s largest <br />
                  army – The World Peace Army <br />
                  (online army)
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/3.png" alt="" />

                <p>
                  Online movement comprising <br />
                  of more than 1.8 million <br />
                  peacekeepers
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img src="assets/UIComponents/images/world-peacemaker.svg" alt="" />
              </li>
              <li>
                <img src="assets/UIComponents/images/partners/7.png" alt="" />

                <p>
                  Peace is when the love of power <br />
                  succumbs to the power of love" <br />
                  (www.facebook.com/WorldPeacekeepers Movement)
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/4.png" alt="" />

                <p>
                  Based on 7 Human Values - Gratitude, <br />
                  Forgiveness, Love, Humility, Giving, <br />
                  Patience & Truth
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/5.png" alt="" />

                <p>
                  World Peace Triangle-Peace with Oneself, Peace
                  with Law, Peace with People, Peace with Nations
                  (Total: 28 Peace Gems)
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/6.png" alt="" />

                <p>
                  Planning yearly summit in Dubai. The <br />
                  1st one is planned on April 13, 2025 <br />
                  (www.justice-love-peace.com)
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="partner">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/1.png" alt="" />

                <p>
                  Our mission is to <br />
                  spread world peace
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/2.png" alt="" />

                <p>
                  We believe inner peace is the <br />
                  foundation of world peace
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/3.png" alt="" />

                <p>
                  We wish each other depending on the day <br />
                  of the week, hence on Wednesday we wish <br />
                  each other, “Happy Love Day” & so on
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img src="assets/UIComponents/images/7.png" alt="" class="col-4" />
                <p
                  style="
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #005fa5;
                  "
                >
                  MEANINGS OF I AM PEACEKEEPER
                </p>
              </li>
              <li>
                <img src="assets/UIComponents/images/partners/7.png" alt="" />

                <p>
                  “Peace is when the power of love <br />
                  overpowers the love for power”
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/4.png" alt="" />

                <p>
                  We subscribe to the 7 human values <br />
                  of Gratitude, Forgiveness, Love, <br />
                  Humility, Giving, Patience & Truth
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/5.png" alt="" />

                <p>
                  Each human value represents one day <br />
                  of the week, with Monday represented <br />
                  by Gratitude & so on
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/6.png" alt="" />

                <p>
                  Inner peace comes through the <br />
                  practise of human values
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="partner delegate-form">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100 p-lg-5">
        <div class="row justify-content-center h-100">
          <div class="col-md-12">
            <h2>JOIN US AS A PEACEKEEPER NOW</h2>
          </div>
          <div class="col-md-8">
            <form>
              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      placeholder=""
                      value=""
                    />
                    <label for="title">Name :</label>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="LastName"
                      placeholder=""
                      value=""
                    />
                    <label for="LastName">Country :</label>
                  </div>
                </div>
              </div>
              
              <div class="row g-2 mt-5">
                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      placeholder=""
                      value=""
                    />
                    <label for="title">E-Mail :</label>
                  </div>
                </div>

                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="LastName"
                      placeholder=""
                      value=""
                    />
                    <label for="LastName">Mobile Number :</label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mt-5">
                <div class="col-md">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Do you want the email or phone number written on the badge? If yes, please tick the checkbox.
                    </label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mt-5">
                <div class="col-md">
                  <div class="form-floating">
                    <input
                      type="file"
                      class="form-control"
                      id="title"
                      placeholder=""
                      value=""
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled text-center badge">
              <li><img src="assets/images/join-us.png" alt="" /></li>
              <li>
                <button class="btn btn-success">
                  download your badge now
                  <img src="assets/images/download.svg" alt="" />
                </button>
              </li>
              <li>
                <h6>ALSO JOIN US ON</h6>
                <img src="assets/images/fb.png" alt="" />
                <img src="assets/images/insta.png" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>