#customers td, #customers th{

    border: 1px solid #d9b55161;

    padding: 25px 25px 20px 35px;

  }

  .time{

    font-size: 16px;

    width: 300px;

    font-weight: 600;

    padding: 2rem;

  }

  .topic{

    font-size: 18px;

    font-weight: 500;

}

.hoveran:hover{

  background-color: #167C72;

  color: #ffff;

}

#customers tr:hover {

  /* background-color: #ddd; */

  background: #167C72;

  color: #fff;}

 

  #customers th {

    padding-top: 20px;

    padding-bottom: 20px;

    text-align: left;

    color: white;}

 

 

  .ts-schedule-nav ul li a {

    font-size: 12px;

    color: #222222;

    text-transform: uppercase;

    background: #f1f0f6;

    display: block;

    padding: 20px 50px;

    position: relative;

}