<div class="container mt-5">
  <h2 class="text-center mb-4">Peace Student Registration Form</h2>

  <!-- User Type Selection -->

  <div class="mb-4 text-center">
    <label class="form-label"><strong>Are you a student or a delegate?</strong></label>
    <div class="d-flex justify-content-center gap-4">
      <!-- Student Image Box -->
      <div class="image-box" [class.active]="userType === 'student'" (click)="setUserType('student')">
        <input type="radio" name="userType" value="student" [(ngModel)]="userType"
          (click)="$event.stopPropagation(); setUserType('student')" />
        <div class="overlay">
          <i class="fas fa-user-graduate fa-2x"></i>
          <span class="mt-2">Student</span>
        </div>
      </div>

      <!-- Delegate Image Box -->
      <div class="image-box" [class.active]="userType === 'delegate'" (click)="setUserType('delegate')">
        <input type="radio" name="userType" value="delegate" [(ngModel)]="userType"
          (click)="$event.stopPropagation(); setUserType('delegate')" />
        <div class="overlay">
          <i class="fas fa-users fa-2x"></i>
          <span class="mt-2">Delegate</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="userType === 'student'">
    <form (ngSubmit)="onSubmit()">
      <div class="row">

        <!-- Student Form (Left Side) -->
        <div class="col-md-6">
          <div [formGroup]="studentForm" class="border shadow-lg p-4 h-100">
            <h3>Student Information</h3>
            <div class="row">
              <!-- Column 1 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="studentName" class="form-label">Name<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" id="studentName" formControlName="name"
                    placeholder="Enter your name" autocomplete="off" (keypress)="validateAlpha($event)"
                    (paste)="onPaste($event)" />
                    <div
                  *ngIf="
                    getStudentControl('name')?.hasError('required') &&
                    getStudentControl('name')?.touched
                  "
                  class="text-danger small"
                >
                  Name is required
                </div>

                <!-- Show "Name must be at least 3 characters" only if not empty but too short -->
                <span
                  class="text-danger small"
                  *ngIf="
                    getStudentControl('name')?.hasError('required') &&
                    getStudentControl('name')?.hasError('minlength')
                  "
                >
                  Name must be at least 3 characters long
                </span>
                </div>

                <div class="mb-3">
                  <div class="row no-padding">
                    <div class="form-group-inner mobile-number">
                      <label class="col-md-12 no-padding form-label" for="studentMobileNo">Mobile Number<span
                          class="form-label-span" style="color: #ff0000">
                          *</span></label>
                      <div class="delegateonline form-control">
                        <ngx-intl-tel-input class="custom-width-container" [preferredCountries]="[
                            CountryISO.India,
                            CountryISO.UnitedStates,
                            CountryISO.UnitedKingdom
                          ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true"
                          [searchCountryField]="[
                            SearchCountryField.Iso2,
                            SearchCountryField.Name
                          ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="12"
                          [phoneValidation]="true" name="mobile_number" id="studentMobileNo" #number_mobile1
                          [separateDialCode]="true" formControlName="mobile_number" autocomplete="off"
                          (keypress)="keyPressNumbers($event)"></ngx-intl-tel-input>
                      </div>
                      <small class="text-danger" *ngIf="mobile_numberVal">
                        (Country code + Mobile number) will be 7 to 15 digits based on
                        country.
                      </small>
                    </div>
                    <div class="form-group form-group-inner mobile-number">
                      <div class="help-block with-errors"></div>
                      <div *ngIf="
                          getStudentControl('mobile_number')?.errors &&
                          getStudentControl('mobile_number')?.touched
                        ">
                        <small class="text-danger" *ngIf="getStudentControl('mobile_number')?.errors?.['required']">Mobile
                          number is
                          required</small>
                        <small class="text-danger" *ngIf="
                            !mobile_numberVal &&
                            getStudentControl('mobile_number')?.invalid &&
                            getStudentControl('mobile_number')?.touched
                          ">
                          {{ getPhoneErrorMessage() }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="studentEmail" class="form-label">Email<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="email" class="form-control" id="studentEmail" formControlName="email"
                    placeholder="Enter your email" autocomplete="off" maxlength="125" />

                    <div
                  *ngIf="
                    getStudentControl('email')?.invalid &&
                    getStudentControl('email')?.touched
                  "
                  class="text-danger small"
                >
                  Please enter a valid email
                </div>
                </div>

                <div class="mb-3">
                  <label for="studentRelation" class="form-label">Relation to Delegate<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" id="studentRelation" formControlName="relation"
                    placeholder="Enter your relation" />

                    <div
                  *ngIf="
                    getStudentControl('relation')?.invalid &&
                    getStudentControl('relation')?.touched
                  "
                  class="text-danger small"
                >
                  Please enter a relation to delegate
                </div>
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="dob" class="form-label">DOB<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" placeholder="Select date of birth" id="dob" #dob
                    formControlName="studentDob"
                    [minDate]="minStudentDate"
                    [maxDate]="maxStudentDate"
                    (keydown)="disableManualInput($event)"
                    (ngModelChange)="onDateChange($event)" (keydown.tab)="openDatepicker()"
                    bsDatepicker [bsConfig]="{
                isAnimated: true,
                dateInputFormat: 'DD/MM/YYYY',
                showWeekNumbers: false,
                containerClass: colorTheme
              }" readonly />
                  <div *ngIf="
                getStudentControl('studentDob')?.errors &&
                getStudentControl('studentDob')?.touched
              ">
                    <small class="text-danger" *ngIf="getStudentControl('studentDob')?.errors?.['required']">Date of birth is
                      required</small>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="mb-3">
                  <label for="studentCountry" class="form-label">Country<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <select class="form-control form-select" id="studentCountry" formControlName="country">
                    <option value="" disabled>Select Country</option>
                    <option *ngFor="let country of countryData" [value]="country.id">{{ country.name }}</option>
                  </select>

                  <div
                    *ngIf="
                      getStudentControl('country')?.errors &&
                      getStudentControl('country')?.touched
                    "
                  >
                    <small
                      class="text-danger small"
                      *ngIf="getStudentControl('country')?.errors?.['required']"
                      >Country is required.</small
                    >
                  </div>
                </div>

                <div class="mb-3">
                  <label for="studentInstitution" class="form-label">Institution Name<span class="form-label-span"
                      style="color: #ff0000">
                      *</span></label>
                  <input type="text" class="form-control" id="studentInstitution" formControlName="institutionName"
                    placeholder="Enter your institution name" />

                    <div
                    *ngIf="
                      getStudentControl('institutionName')?.errors &&
                      getStudentControl('institutionName')?.touched
                    "
                  >
                    <small
                      class="text-danger small"
                      *ngIf="getStudentControl('institutionName')?.errors?.['required']"
                      >institute name is required.</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Delegate Form (Right Side) -->
        <div class="col-md-6">
          <div [formGroup]="delegateForm" class="border shadow-lg p-4 h-100">
            <h3>Delegate Information</h3>
            <div class="row">
              <!-- Column 1 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="delegateName" class="form-label">Name<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" id="delegateName" formControlName="name"
                    placeholder="Enter name" />

                    <div
                    *ngIf="
                      getDelegateControl('name')?.hasError('required') &&
                      getDelegateControl('name')?.touched
                    "
                    class="text-danger small"
                  >
                    Name is required
                  </div>

                  <!-- Show "Name must be at least 3 characters" only if not empty but too short -->
                  <span
                    class="text-danger small"
                    *ngIf="
                      !getDelegateControl('name')?.hasError('required') &&
                      getDelegateControl('name')?.hasError('minlength')
                    "
                  >
                    Name must be at least 3 characters long
                  </span>
                </div>

                <div class="mb-3">
                  <div class="row no-padding">
                    <div class="form-group-inner mobile-number">
                      <label class="col-md-12 no-padding form-label" for="studentMobileNo">Mobile Number<span
                          class="form-label-span" style="color: #ff0000">
                          *</span></label>
                      <div class="delegateonline form-control">
                        <ngx-intl-tel-input class="custom-width-container" [preferredCountries]="[
                            CountryISO.India,
                            CountryISO.UnitedStates,
                            CountryISO.UnitedKingdom
                          ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true"
                          [searchCountryField]="[
                            SearchCountryField.Iso2,
                            SearchCountryField.Name
                          ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="12"
                          [phoneValidation]="true" name="mobile_number" id="studentMobileNo" #number_mobile1
                          [separateDialCode]="true" formControlName="mobile_number" autocomplete="off"
                          (keypress)="keyPressNumbers($event)"></ngx-intl-tel-input>
                      </div>
                      <small class="text-danger" *ngIf="mobile_numberVal">
                        (Country code + Mobile number) will be 7 to 15 digits based on
                        country.
                      </small>
                    </div>
                    <div class="form-group form-group-inner mobile-number">
                      <div class="help-block with-errors"></div>
                      <div *ngIf="
                          getDelegateControl('mobile_number')?.errors &&
                          getDelegateControl('mobile_number')?.touched
                        ">
                        <small class="text-danger" *ngIf="getDelegateControl('mobile_number')?.errors?.['required']">Mobile
                          number is
                          required</small>
                        <small class="text-danger" *ngIf="
                            !mobile_numberVal &&
                            getDelegateControl('mobile_number')?.invalid &&
                            getDelegateControl('mobile_number')?.touched
                          ">
                          {{ getPhoneErrorMessage() }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="delegateEmail" class="form-label">Email<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="email" class="form-control" id="delegateEmail" formControlName="email"
                    placeholder="Enter email" />

                    <div
                  *ngIf="
                    getDelegateControl('email')?.invalid &&
                    getDelegateControl('email')?.touched
                  "
                  class="text-danger small"
                >
                  Please enter a valid email
                </div>
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="dob">DOB<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" placeholder="Select date of birth" id="dob" #dob
                    formControlName="delegateDob"
                    [minDate]="minDelegateDate"
                    [maxDate]="maxDelegateDate"
                    (keydown)="disableManualInput($event)"
                    (ngModelChange)="onDateChange($event)"
                    bsDatepicker [bsConfig]="{
                  isAnimated: true,
                  dateInputFormat: 'DD/MM/YYYY',
                  showWeekNumbers: false,
                  containerClass: colorTheme
                }" readonly />
                  <div *ngIf="
                  getDelegateControl('delegateDob')?.errors &&
                  getDelegateControl('studendelegateDobtDob')?.touched
                ">
                    <small class="text-danger" *ngIf="getDelegateControl('delegateDob')?.errors?.['required']">Date of birth is
                      required</small>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="mb-3">
                  <label for="studentCountry" class="form-label">Country<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <select class="form-control form-select" id="studentCountry" formControlName="country">
                    <option value="" disabled>Select Country</option>
                    <option *ngFor="let country of countryData" [value]="country.id">{{ country.name }}</option>
                  </select>
                  <div
                  *ngIf="
                    getDelegateControl('country')?.errors &&
                    getDelegateControl('country')?.touched
                  "
                >
                  <small
                    class="text-danger small"
                    *ngIf="getDelegateControl('country')?.errors?.['required']"
                    >Country is required.</small
                  >
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-success" [disabled]="delegateForm.invalid && studentForm.invalid">Submit</button>
      </div>
    </form>


  </div>


  <div class="row" *ngIf="userType === 'delegate'">
    <!-- Delegate Form (Right Side) -->
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div [formGroup]="delegateForm" class="border shadow-lg p-4 h-100">
            <h3>Delegate Information</h3>
            <div class="row">
              <!-- Column 1 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="delegateName" class="form-label">Name<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" id="delegateName" formControlName="name"
                    placeholder="Enter name" />
                </div>

                <div class="mb-3">
                  <div class="row no-padding">
                    <div class="form-group-inner mobile-number">
                      <label class="col-md-12 no-padding form-label" for="studentMobileNo">Mobile Number<span
                          class="form-label-span" style="color: #ff0000">
                          *</span></label>
                      <div class="delegateonline form-control">
                        <ngx-intl-tel-input class="custom-width-container" [preferredCountries]="[
                            CountryISO.India,
                            CountryISO.UnitedStates,
                            CountryISO.UnitedKingdom
                          ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true"
                          [searchCountryField]="[
                            SearchCountryField.Iso2,
                            SearchCountryField.Name
                          ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="12"
                          [phoneValidation]="true" name="mobile_number" id="studentMobileNo" #number_mobile1
                          [separateDialCode]="true" formControlName="mobile_number" autocomplete="off"
                          (keypress)="keyPressNumbers($event)"></ngx-intl-tel-input>
                      </div>
                      <small class="text-danger" *ngIf="mobile_numberVal">
                        (Country code + Mobile number) will be 7 to 15 digits based on
                        country.
                      </small>
                    </div>
                    <div class="form-group form-group-inner mobile-number">
                      <div class="help-block with-errors"></div>
                      <div *ngIf="
                          getcontrol('mobile_number')?.errors &&
                          getcontrol('mobile_number')?.touched
                        ">
                        <small class="text-danger" *ngIf="getcontrol('mobile_number')?.errors?.['required']">Mobile
                          number is
                          required</small>
                        <small class="text-danger" *ngIf="
                            !mobile_numberVal &&
                            getcontrol('mobile_number')?.invalid &&
                            getcontrol('mobile_number')?.touched
                          ">
                          {{ getPhoneErrorMessage() }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="delegateEmail" class="form-label">Email<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="email" class="form-control" id="delegateEmail" formControlName="email"
                    placeholder="Enter email" />
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="dob">DOB<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" placeholder="Select date of birth" id="dob" #dob
                    formControlName="delegateDob"
                    [minDate]="minDelegateDate"
                    [maxDate]="maxDelegateDate"
                    (keydown)="disableManualInput($event)" (ngModelChange)="onDateChange($event)"
                    (keydown.tab)="openDatepicker()" bsDatepicker [bsConfig]="{
                  isAnimated: true,
                  dateInputFormat: 'DD/MM/YYYY',
                  showWeekNumbers: false,
                  containerClass: colorTheme
                }" readonly />
                  <div *ngIf="
                  getcontrol('delegateDob')?.errors &&
                  getcontrol('delegateDob')?.touched
                ">
                    <small class="text-danger" *ngIf="getcontrol('delegateDob')?.errors?.['required']">Date of birth is
                      required</small>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="mb-3">
                  <label for="studentCountry" class="form-label">Country<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <select class="form-control form-select" id="studentCountry" formControlName="country">
                    <option value="" disabled>Select Country</option>
                    <option *ngFor="let country of countryData" [value]="country.id">{{ country.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Student Form (Left Side) -->
        <div class="col-md-6">
          <div [formGroup]="studentForm" class="border shadow-lg p-4 h-100">
            <h3>Student Information</h3>
            <div class="row">
              <!-- Column 1 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="studentName" class="form-label">Name<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" id="studentName" formControlName="name"
                    placeholder="Enter your name" autocomplete="off" (keypress)="validateAlpha($event)"
                    (paste)="onPaste($event)" />
                </div>

                <div class="mb-3">
                  <label for="studentEmail" class="form-label">Email<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="email" class="form-control" id="studentEmail" formControlName="email"
                    placeholder="Enter your email" autocomplete="off" maxlength="125" />
                </div>

                <div class="mb-3">
                  <label for="studentRelation" class="form-label">Relation to Delegate<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" id="studentRelation" formControlName="relation"
                    placeholder="Enter your relation" />
                </div>

                <div class="mb-3">
                  <label for="studentInstitution" class="form-label">Institution Name<span class="form-label-span"
                      style="color: #ff0000">
                      *</span></label>
                  <input type="text" class="form-control" id="studentInstitution" formControlName="institutionName"
                    placeholder="Enter your institution name" />
                </div>
              </div>

              <!-- Column 2 -->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="dob" class="form-label">DOB<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <input type="text" class="form-control" placeholder="Select date of birth" id="dob" #dob
                    formControlName="studentDob"
                    [minDate]="minStudentDate"
                    [maxDate]="maxStudentDate"
                    (keydown)="disableManualInput($event)" (ngModelChange)="onDateChange($event)"
                    (keydown.tab)="openDatepicker()" bsDatepicker [bsConfig]="{
                isAnimated: true,
                dateInputFormat: 'DD/MM/YYYY',
                showWeekNumbers: false,
                containerClass: colorTheme
              }" readonly />
                  <div *ngIf="
                getcontrol('studentDob')?.errors &&
                getcontrol('studentDob')?.touched
              ">
                    <small class="text-danger" *ngIf="getcontrol('studentDob')?.errors?.['required']">Date of birth is
                      required</small>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="mb-3">
                  <div class="row no-padding">
                    <div class="form-group-inner mobile-number">
                      <label class="col-md-12 no-padding form-label" for="studentMobileNo">Mobile Number<span
                          class="form-label-span" style="color: #ff0000">
                          *</span></label>
                      <div class="delegateonline form-control">
                        <ngx-intl-tel-input class="custom-width-container" [preferredCountries]="[
                            CountryISO.India,
                            CountryISO.UnitedStates,
                            CountryISO.UnitedKingdom
                          ]" [enableAutoCountrySelect]="false" [enablePlaceholder]="false" [searchCountryFlag]="true"
                          [searchCountryField]="[
                            SearchCountryField.Iso2,
                            SearchCountryField.Name
                          ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="12"
                          [phoneValidation]="true" name="mobile_number" id="studentMobileNo" #number_mobile1
                          [separateDialCode]="true" formControlName="mobile_number" autocomplete="off"
                          (keypress)="keyPressNumbers($event)"></ngx-intl-tel-input>
                      </div>
                      <small class="text-danger" *ngIf="mobile_numberVal">
                        (Country code + Mobile number) will be 7 to 15 digits based on
                        country.
                      </small>
                    </div>
                    <div class="form-group form-group-inner mobile-number">
                      <div class="help-block with-errors"></div>
                      <div *ngIf="
                          getcontrol('mobile_number')?.errors &&
                          getcontrol('mobile_number')?.touched
                        ">
                        <small class="text-danger" *ngIf="getcontrol('mobile_number')?.errors?.['required']">Mobile
                          number is
                          required</small>
                        <small class="text-danger" *ngIf="
                            !mobile_numberVal &&
                            getcontrol('mobile_number')?.invalid &&
                            getcontrol('mobile_number')?.touched
                          ">
                          {{ getPhoneErrorMessage() }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="studentCountry" class="form-label">Country<span class="form-label-span"
                      style="color: #ff0000">*</span></label>
                  <select class="form-control form-select" id="studentCountry" formControlName="country">
                    <option value="" disabled>Select Country</option>
                    <option *ngFor="let country of countryData" [value]="country.id">{{ country.name }}</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="text-center mt-4">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>

  </div>

</div>
