<main class="index delegate-form">
  <form [formGroup]="contactUsForm" (ngSubmit)="submitData()">
    <section class="section7 p-lg-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2>Contact Us</h2>
            <p class="text-center">
              We are here to help and answer any questions that you might have.
              Feel free to share your queries here. <br />
              Look forward to hearing from you.
            </p>
          </div>
          <div class="col-md-5">
            <div class="contact-info h-100 p-3">
              <h2 class="text-white">Contact Information</h2>
              <div class="d-flex border-bottom mt-4 mx-2">
                <div class="flex-grow-1 ms-3">
                  <h3>Nikunj Chirde</h3>
                  <p>
                    Director-Secretariat, Global Justice Love & Peace Summit
                  </p>
                </div>
                <!-- <div class="flex-shrink-0">
                  <img
                    src="assets/UIComponents/images/contact-us/barcode.png"
                    alt="assets/UIComponents/images/contact-us/barcode.png"
                  />
                </div> -->
              </div>
              <ul class="p-0 mb-lg-0 mb-5">
                <li>
                  <img
                    src="assets/UIComponents/images/contact-us/phone-call.png"
                    alt="assets/UIComponents/images/contact-us/phone-call.png"
                  />
                  +91 93240 64978
                </li>
                <li>
                  <img
                    src="assets/UIComponents/images/contact-us/email.png"
                    alt="assets/UIComponents/images/contact-us/email.png"
                  />{{ helpjustice }}
                </li>
                <li>
                  <img
                    src="assets/UIComponents/images/contact-us/website.png"
                    alt="assets/UIComponents/images/contact-us/website.png"
                  />www.justice-love-peace.com
                </li>
              </ul>
              <div class="row" style="position: absolute; bottom: 0%">
                <div class="col-md">
                  <a href="https://www.facebook.com/GlobalJusticeLoveandPeaceSummit/about" target="_blank" rel="noopener noreferrer">
                  <img src="assets/UIComponents/images/fb.png" alt="" /></a>
                  <a href="https://www.instagram.com/globaljusticelovepeacesummit/profilecard/?igsh=dXB6ZzNwYjBwYnVv" target="_blank" rel="noopener noreferrer">
                  <img src="assets/UIComponents/images/insta.png" alt="" /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 px-lg-5">
            <div class="row g-2 mt-5">
              <div class="mb-4 col-md-4">
                <div class="form-floating">
                  <select
                    name="nametitle[1]"
                    id="nametitle1"
                    class="form-control"
                    required
                    data-error="Please select option"
                    formControlName="title"
                  >
                    <option selected value="" disabled>
                      --Please select--
                    </option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Miss">Miss</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Prof.">Prof.</option>
                    <option value="Capt.">Capt.</option>
                    <option value="Hon">Hon</option>
                    <option value="Lord">Lord</option>
                  </select>
                  <label for="title">Title</label>
                  <div
                    *ngIf="
                      getcontrol('title')?.errors &&
                      getcontrol('title')?.touched
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('title')?.errors?.['required']"
                      >Title is required</small
                    >
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="mb-4 col-md-4">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="FirstName"
                    formControlName="firstName"
                    name="firstName"
                    placeholder=""
                    required
                    value=""
                 
                  />
                  <label for="FirstName">First Name</label>

                  <div
                    class="text-danger"
                    *ngIf="
                      getcontrol('firstName')?.errors &&
                      getcontrol('firstName')?.touched
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('firstName')?.errors?.['required']"
                      >First name is required</small
                    >
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="mb-4 col-md-4">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                    name="lastName"
                    id="LastName"
                    required
                    placeholder=""
                    value=""
                  />
                  <label for="LastName">Last Name</label>

                  <div
                    *ngIf="
                      getcontrol('lastName')?.errors &&
                      getcontrol('lastName')?.touched
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('lastName')?.errors?.['required']"
                      >Last name is required</small
                    >
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              
              <div class="mb-4 col-md-6">
                <label for="mobileNomber">Phone Number</label>
                <div class="form-floating">
                  <ngx-intl-tel-input
                    type="tel"
                    class="custom-width-container"
                    [preferredCountries]="[
                      CountryISO.India,
                      CountryISO.UnitedStates,
                      CountryISO.UnitedKingdom
                    ]"
                    [enableAutoCountrySelect]="false"
                    [enablePlaceholder]="false"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[
                      SearchCountryField.Iso2,
                      SearchCountryField.Name
                    ]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.India"
                    [phoneValidation]="false"
                    [separateDialCode]="true"
                    formControlName="phoneNumber"
                    name="phoneNumber"
                  ></ngx-intl-tel-input>
                  <!-- <input
                    type="tel"
                    class="form-control"
                    formControlName="phoneNumber"
                    name="mobile_number[1]"
                    id="mobileNomber"
                    (keypress)="keyPressNumbers($event)"
                    required
                    placeholder=""
                    pattern=".{8,12}"
                    minlength="10"
                    maxlength="15"
                    value=""
                  /> -->
                  

                  <!-- <div class="help-block with-errors"></div> -->
                  <div
                    *ngIf="
                      getcontrol('phoneNumber')?.errors &&
                      getcontrol('phoneNumber')?.touched
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('phoneNumber')?.errors?.['required']"
                      >Mobile number is required</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('phoneNumber')?.errors?.['minlength']"
                      >Mobile number must be at least 10 digit long.</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder=""
                    formControlName="email"
                    required
                    name="email"
                    value=""
                  />
                  <label for="email">Email</label>

                  <div class="help-block with-errors"></div>
                  <div
                    *ngIf="
                      getcontrol('email')?.errors &&
                      getcontrol('email')?.touched
                    "
                  >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('email')?.errors?.['required']"
                      >Email is required.</small
                    >
                    <small
                      class="text-danger"
                      *ngIf="getcontrol('email')?.errors?.['email']"
                      >Please enter valid email address.</small
                    >
                  </div>
                </div>
              </div>

              <!-- <div class="mb-4 col-md-3">
                <div class="form-floating">
                  <select
                    formControlName="countryCode"
                    class="form-control"
                    required
                    data-error="Please enter code"
                  >
                    <option selected value="" disabled>
                      --Please select--
                    </option>
                    <option
                      *ngFor="let code of code; let j = index"
                      [value]="code.country_mobile_code"
                    >
                      {{ code.country_mobile_code }}
                    </option>
                  </select>
                </div>
              </div> -->
              
              <div class="mb-4 col-md-12">
                <div class="form-group">
                  <label for="question">Your Query</label>
                  <textarea
                    type="text"
                    class="form-control"
                    placeholder="Write your query"
                    value=""
                    formControlName="yourQuestion"
                    name="yourQuestion"
                    id="question"
                    style="
                      border: 1px dotted;
                      border-radius: 10px;
                      min-height: 20vh;
                    "
                  >
                  </textarea>
                </div>
              </div>
              <div class="mb-4 col-md-12 text-center">
                <button
                  type="submit"
                  class="btn btn-success p-2 w-50 text-center"
                  [disabled]="this.contactUsForm.invalid"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</main>
