<main class="index delegate-form">
  <form>
    <section class="section7 p-lg-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2>Contact Us</h2>
            <p class="text-center">
              We are here to help and answer any questions that you might
              have. Feel free to share your queries here. <br />
              Look forward to hearing from you.
            </p>
          </div>
          <div class="col-md-4">
            <div class="contact-info h-100 p-3">
              <h2 class="p-3">Contact Information</h2>
              <div class="d-flex border-bottom mt-4 mx-2">
                <div class="flex-grow-1 ms-3">
                  <h3>Nikunj Chirde</h3>
                  <p>Director-Secretariat, Global Justice Love & Peace Summit</p>
                </div>
                <div class="flex-shrink-0">
                  <img src="assets/UIComponents/images/contact-us/barcode.png" alt="assets/UIComponents/images/contact-us/barcode.png">
                </div>
              </div>
              <ul>
                <li><img src="assets/UIComponents/images/contact-us/phone-call.png" alt="assets/UIComponents/images/contact-us/phone-call.png"> +91 93240 64978</li>
                <li><img src="assets/UIComponents/images/contact-us/email.png" alt="assets/UIComponents/images/contact-us/email.png">help@justice-love-peace.com</li>
                <li><img src="assets/UIComponents/images/contact-us/website.png" alt="assets/UIComponents/images/contact-us/website.png">www.justice-love-peace.com</li>
              </ul>
              <div class="row" style="position: absolute; bottom: 10%;">
                <div class="col-md">
                  <img src="assets/UIComponents/images/insta.png" alt="">
                  <img src="assets/UIComponents/images/fb.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 px-lg-5">
            <div class="row g-2 mt-5">
              <div class="mb-5 col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder=""
                    value=""
                  />
                  <label for="title">Title</label>
                </div>
              </div>
              <div class="mb-5 col-md-6">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder=""
                    value=""
                  />
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="my-5 col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="FirstName"
                    placeholder=""
                    value=""
                  />
                  <label for="FirstName">First Name</label>
                </div>
              </div>
              <div class="my-5 col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="LastName"
                    placeholder=""
                    value=""
                  />
                  <label for="LastName">Last Name</label>
                </div>
              </div>
              <div class="my-5 col-md-2">
                <div class="form-group">
                  <p class="m-0">Country Code</p>
                  <input
                    type="number"
                    class="form-control pt-1 pb-0"
                    id="phone"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="my-5 col-md-10">
                <div class="form-floating">
                  <input
                    type="tel"
                    class="form-control"
                    id="mobileNomber"
                    placeholder=""
                    value=""
                  />
                  <label for="mobileNomber">Phone Number</label>
                </div>
              </div>
              <div class="my-5 col-md-12">
                <div class="form-group">
                  <label for="question">Your Question</label>
                  <input
                    type="text"
                    class="form-control"
                    id="question"
                    placeholder="Write your que.."
                    value=""
                  />
                  
                </div>
              </div>
              <div class="my-5 col-md-12 text-center">
                <button class="btn btn-success p-2 w-50 text-center">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</main>