<div class="index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <section class="mainSec">
          <div class="container-fluid section1 position-relative">
            <div class="row justify-content-between bgColor h-100">
              <div
                class="col-lg-2 col-2 position-relative"
                *ngIf="!isMobileView"
              >
                <img
                  src="assets/UIComponents/images/logo.gif"
                  alt=""
                  class="logo"
                  width="100%"
                  loading="lazy"
                />
              </div>
              <div
                class="col-lg-4 col-12 text-center py-lg-5 px-lg-5 mt-lg-0 mt-lg-4"
              >
                <div class="card cardMain">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12" *ngIf="!isMobileView">
                        <h5>Dubai 13 April 2025</h5>
                        <p>Sunday</p>
                      </div>
                      <div class="col-12" *ngIf="isMobileView">
                        <h5>Dubai 13 April 2025, Sunday</h5>
                      </div>
                      <div class="col-4">
                        <div class="card">
                          <div class="card-body p-1">
                            <h6>
                              <span id="days">{{ days }}</span> <br />
                              Days
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card">
                          <div class="card-body p-1">
                            <h6>
                              <span id="hours">{{ hours }}</span> <br />
                              Hours
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="card">
                          <div class="card-body p-1">
                            <h6>
                              <span id="minutes">{{ minutes }}</span> <br />
                              Minutes
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 tableBox">
                <div class="row">
                  <div class="col-lg-9">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <td>
                            <h6>2800</h6>
                            <p>Delegates <span>(PeaceKeepers)</span></p>
                          </td>
                          <td class="">
                            <h6>28</h6>
                            <p>Peace Patrons</p>
                          </td>
                          <td>
                            <h6>28</h6>
                            <p>
                              Awards
                              <span
                                >(Global Justice, Love & Peace Champions)</span
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h6>2.8%</h6>
                            <p>Revenue to Dubai Cares</p>
                          </td>
                          <td>
                            <h6>28</h6>
                            <p>Networking Tables</p>
                          </td>
                          <td>
                            <h6>28%</h6>
                            <p>Profits to the I-am-PeaceKeeper Movement</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section6 p-lg-5 speakers indexSec2">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="">
                  SPEAKERS (PEACE AMBASSADORS) CONFIRMATIONS FOR THE GLOBAL
                  JUSTICE, LOVE & <br />
                  PEACE SUMMIT @ DUBAI @ 13, APRIL 2025
                </h2>
                <h6>Date: DECEMBER 31, 2024</h6>
              </div>
              <div class="col-md-12">
                <div class="table-responsive confirmation">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-dark">S. No.</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Credentials</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of data">
                        <td>{{ row.S_No }}</td>
                        <td>{{ row.Name }}</td>
                        <td>{{ row.Country }}</td>
                        <td>{{ row.Credentials }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12">
                <h2 class="">
                  Will Join Online
                </h2>
                
              </div>
              <div class="col-md-12">
                <div class="table-responsive confirmation">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-dark">S. No.</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Credentials</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of joinOnline">
                        <td>{{ row.S_No }}</td>
                        <td>{{ row.Name }}</td>
                        <td>{{ row.Country }}</td>
                        <td>{{ row.Credentials }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12">
                <h2 class="">Profiles of Confirmed Speakers</h2>

                <ul class="my-lg-3">
                  <li>A. 4 Nobel Peace Laureates</li>
                  <li>B. 4 Royalty</li>
                  <li>C. 2 Heads of State</li>
                  <li>D. 6 Religious Heads</li>
                  <li>E. 2 Industrialist( Business)</li>
                </ul>
                <ul class="my-lg-3">
                  <li>F. 2 Sports Champions</li>
                  <li>G. 1 Artist</li>
                  <li>H. 1 Chief Justice</li>
                  <li>I. 1 Attorney General</li>
                  <li>J. 1 Judge</li>
                  <li>K. 2 Film Star</li>
                  <li>L. 1 Others</li>
                </ul>
                <!-- <p class="my-md-0 m-2">
                (His Excellency Jose Manuel Ramos-Horta falls in both the categories
                : Nobel Peace Laureate as well as Head of State)
              </p> -->
              </div>
            </div>
          </div>
          <hr />
          <div class="container mt-3">
            <div class="row">
              <div class="col-12 organiserUL">
                <ul class="list-unstyled">
                  <li>
                    @ the organisers only consider a FINAL CONFIRMATION, if it
                    is a WRITTEN CONFIRMATION
                  </li>
                </ul>
                <ul class="list-unstyled">
                  <li>
                    @ the conﬁrmations listed above have been put according to
                    alphabetical order of the name
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="section7 p-lg-5 h-auto">
          <div class="container-fluid h-100">
            <div class="row h-100">
              <div class="col-md-4 p-lg-5">
                <label for="" class="mb-3">SCHEDULE</label>
                <h1 class="mb-3">
                  SCHEDULE <br />
                  AND AGENDA
                </h1>
                <p class="mb-3">
                  A representation of the event <br />
                  planning of Global Summit
                </p>

                <button (click)="downloadPDF()" class="btn btn-success p-3">
                  DOWNLOAD SCHEDULE
                </button>
              </div>
              <div class="col-md-8">
                <div class="row align-items-end">
                  <div class="col-12 px-lg-5 mx-lg-5">
                    <div
                      class="d-lg-flex align-items-center justify-content-between"
                    >
                      <div class="date">
                        <h3>13 <span>April, Sunday 2025</span></h3>
                        <h5>10:00 AM - 11:00 PM</h5>
                      </div>
                      <h4 class="location">
                        <a
                          href="https://virtualexpodubai.com/mobility-district/dubai-exhibition-centre-dec"
                          style="text-decoration: none"
                          target="_blank"
                          >Dubai Exhibition Centre</a
                        >
                      </h4>
                    </div>
                    <div
                      class="progress my-4"
                      role="progressbar"
                      aria-label="Basic example"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div class="progress-bar" style="width: 25%"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div id="timeline-content">
                      <ul class="timeline">
                        <li
                          class="event"
                          [attr.data-date]="event.time"
                          [attr.data-count]="i + 1"
                          *ngFor="let event of events; let i = index"
                        >
                          <h3 class="fw-bold">{{ event.title }}</h3>
                        </li>
                        <!-- <li class="event" data-date="10:30 AM - 11:00 AM">
                        <h3>Opening Session</h3>
                      </li>
                      <li
                        class="event"
                        id="date"
                        data-date="11:00 AM - 12:30 PM"
                      >
                        <h3>Session Theme 1 - JUSTICE</h3>
                      </li>
    
                      <li class="event" data-date="12:30 PM - 2:30 PM">
                        <h3>Launch & Networking</h3>
                      </li>
                      <li class="event" data-date="2:30 PM - 4:00 PM">
                        <h3>Session Theme 2 - LOVE</h3>
                      </li> -->
                      </ul>
                    </div>

                    <a
                      href="assets/UIComponents/images/GJLPS-Collateral-Brochure.pdf"
                      class="text-decoration-none"
                      target="_blank"
                      ><b style="color: rgba(3, 192, 75, 0.623)"
                        >See More...</b
                      ></a
                    >
                    <!-- <a type="link" h  data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
                    <b style="color: rgba(3, 192, 75, 0.623)">See More...</b>
                  </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section8 p-lg-5 venueBg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 py-4 position-relative">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14468.262766930835!2d55.14619827991436!3d24.963879512209243!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f7338b24a8025%3A0x73aeb1ba0572c81b!2sDubai%20Exhibition%20Centre!5e0!3m2!1sen!2sin!4v1734696351405!5m2!1sen!2sin"
                  width="100%"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>

                <img
                  loading="eager"
                  src="assets/UIComponents/images/index/GHD.svg"
                  alt="Second Image"
                  class="position-absolute second-image"
                />
              </div>

              <div class="col-12 py-4 text-center mb-lg-5">
                <h2
                  class="text-white"
                  style="font-size: 22px; font-weight: 400; text-align: left"
                >
                  Click
                  <a
                    href="https://www.google.com/maps/dir//Dubai+Exhibition+Centre+-+Lehbab+Street+-+Dubai+-+United+Arab+Emirates/@24.962624,55.147418,1503m/data=!3m1!1e3!4m8!4m7!1m0!1m5!1m1!1s0x3e5f7338b24a8025:0x73aeb1ba0572c81b!2m2!1d55.147418!2d24.9626236?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank"
                    rel="noopener noreferrer"
                    style="
                      text-decoration: none;
                      color: white;
                      font-weight: bold;
                    "
                    ><span style="text-decoration: underline">here</span></a
                  >
                  to find the route to reach the venue.
                </h2>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- modal start here -->
<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#nadir"
>
  Launch demo modal
</button> -->

<!-- Modal -->
<div
  class="modal fade speakersProfile"
  id="nadir"
  tabindex="-1"
  aria-labelledby="nadirLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header py-0 px-lg-5">
        <div class="col-2">
          <img
            src="assets/UIComponents/images/speakers/nadir.png"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-10 text-center">
          <h1 class="modal-title fs-5" id="nadirLabel">Mr. Nadir  B. Godrej</h1>
          <p>Chairman & Managing Director of  Godrej Industries Ltd.</p>
          <label for="">Chairman of Godrej Agrovet Ltd.</label>
        </div>
      </div>
      <div class="modal-body">
        <p>
          <b>Mr. Nadir B. Godrej</b> is the Chairman and Managing Director of
          Godrej Industries Ltd. and Chairman of Godrej Agrovet Ltd. He is also
          the Co-Chair of Godrej Good & Green Governing Council. He holds a
          Master of Science degree in chemical engineering from Stanford
          University and a MBA from Harvard Business School. He has been a
          Director of several Godrej companies since 1977 and has developed the
          animal feed, agricultural inputs and chemicals businesses of Godrej
          Industries and other associate companies, and has been very active in
          research.
        </p>
        <p>
          Mr. Godrej is deeply committed to the GOOD and GREEN strategies and
          achievement of set targets for the Godrej Group.  He encourages and
          supports a shared vision value for all programs of Good and Green.  
        </p>
        <p>
          Mr. Godrej is a recipient of many prestigious awards in the country
          and overseas  including the Hurun award for most respected Indian
          Industrialist of the Year. He also received a Doctor of Philosophy in
          Business Management from XIM University, Bhubaneswar in recognition of
          his contribution to Industry and Society.
        </p>
        <p>
          He was recently felicitated with  ‘Green Business Titan’ Award for his
          commitment towards driving sustainability at the Godrej Group, by the
          JSW The Times of India Earth Care Awards.
        </p>
        <p style="text-decoration: underline; text-transform: uppercase">
          <b>personal</b>
        </p>
        <p>
          Science, linguistics, swimming and poetry; author of "Life and Other
          Poems" & “Nadir Godrej The Poet”, a collection of English and French
          poems. Mr Godrej is known to make speeches in verse!
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade speakersProfile"
  id="romona"
  tabindex="-1"
  aria-labelledby="romonaLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header py-0 px-lg-5">
        <div class="col-2">
          <img
            src="assets/UIComponents/images/speakers/romona.png"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-10 text-center">
          <h1 class="modal-title fs-5" id="romonaLabel">
            Highness Princess Dato' Seri Dr. Ramona Murad
          </h1>
          <p>
            Visionary Leader | Global Ambassador | Advocate <br />
            for Human Rights & Economic Development
          </p>
          <!-- <label for="">Chairman of Godrej Agrovet Ltd.</label> -->
        </div>
      </div>
      <div class="modal-body">
        <p>
          Her Highness Princess Dato' Seri Dr. Romona Murad (SSAS, DSMP, DMP,
          SMP, MIPR) of Malaysia embodies multifaceted leadership and is the
          visionary behind Romona Consultancy and Management, headquartered in
          the vibrant city of Kuala Lumpur, Malaysia.
        </p>
        <p>
          In her esteemed capacity, Princess Romona serves as the
          Ambassador-at-Large for Malaysia under the auspices of the
          International Human Rights Organization (IHRO), while simultaneously
          presiding as the Country President for Malaysia within the Economic
          Council of India. Princess Romona also holds position as Regional
          Director for the Global Hope Foundation based in Michigan, USA.
        </p>
        <p>
          Her chairmanship extends to the Malaysian branch of the esteemed Royal
          Society Group, affiliated with the global network based in Al-Jubail,
          Saudi Arabia. Her dedication also sees her as a Patron Member of the
          Euro Asia Financial Policy Forum (EAFPF), anchored in Italy. Princess
          Romona also performs duties as the Honorary Chairman and
          Vice-Sovereign of the Sovereign Council of YUDA (Youth United for
          Development Association) based in Cameroon, Central Africa.
        </p>
        <p>
          Marking her influence in the international dialogue, Princess Romona
          was designated as Chairperson for the International Commission for
          Malaysia by the International Organization for Peace and International
          Security to Activate International Humanitarian Law for Peace (IOPSH)
          as of March 2020, further solidifying her role as a pivotal Member of
          the International Forum in support of the United Nations' Sustainable
          Development Goals from April 2020. Princess Romona was also appointed
          to the position as Honorary Vice-President of the EUMMAS (European
          Marketing and Management Association) Women’s Forum which is based in
          BosniaHerzegovina in 2021 based on her involvement in women’s
          activities and leadership worldwide.
        </p>
        <p>
          Her Highness's commitment to national representation was fortified by
          her appointment as RSG Commissioner for Heraldry and Sovereignty to
          Malaysia and as an Official Delegate by the Royal Society Group World,
          reflecting the depth of her international relations established since
          January 2014.
        </p>
        <p>
          A trailblazer for women, Princess Romona holds the prestigious title
          of Asia President for the Chamber of Inter Commerce under the
          International Royal Academy of United Nations (IRAOUN), based in New
          York. As an Honorary Doctorate Member and the inaugural woman from the
          Far East in a senior role within the IRAOUN, she weaves a global
          platform of networks and partnerships.
        </p>
        <p>
          Her humanitarian spirit shines as she engages with altruistic
          organizations, including her roles with Fight Cancer Global and Women
          Who Do Wonders International, and as an Ambassador for the Global
          Tolerance Faces, Dubai.
        </p>
        <p>
          Recognition of her tireless humanitarian efforts was heralded by the
          Global Academy for Human Excellence (GAHE) on International Women's
          Day 2020 in Manila, bestowing upon her the accolade of Top Women Icon
          Global 2020. Her advocacy and unwavering dedication to peace, love,
          and human rights have earned her the affectionate title "Princess of
          Hearts." Due to her resolute commitment to peace and humanity,
          Princess Romona also being nominated for "The Medal of Excellence for
          the Most Influential Figures in the World 2014" by ICHAPS
          (International Council of Human Rights, Arbitration and Political
          Studies).
        </p>
        <p>
          Furthering her commitment to global peace and development, Princess
          Romona was honoured as a recipient of the "Grand Order of the Noble
          Hand of Honor" by PALEDEC Africa in recognition of her outstanding
          virtues and selfless services in protecting the twelve rights of a
          child as contained in the United Nations Convention on the Rights of
          the Child, in Accra, Ghana on 7th Sept 2019. Her Highness also a Board
          of Advisor for Malaysia for Rockfield College of Sciences and
          Technology and a Non-Executive Board Member of the Organization for
          the Economic Reform of Lebanon (based in London, UK).
        </p>
        <p>
          In her latest groundbreaking role, in 2024, she has been elected by
          the 360 Leadership Committee of the Marine Foundation to the Prominent
          First Ladies Club of the Royal Department, embracing a lifelong
          mandate to amplify the voices of women globally and advocate for the
          development of institutions and schools dedicated to the wellbeing of
          children worldwide. Princess Romona also holds position as the
          President for the Marine Foundation, Malaysia since 2024. Not to
          mention, Princess Romona has been appointed on 30th October 2024 as an
          Honorary Country Chairperson for the UNAccc Malaysia. Unity of Nations
          Action for Climate Change Councils is based in Gujerat, India and it
          is committed to protect Mother Earth from global warming, and other
          adverse impacts of climate change.
        </p>
        <p>
          With her royal hand extended in service, Princess Dato' Seri Dr.
          Romona Murad continues to be a beacon of hope and an architect of
          change for communities across the globe.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade speakersProfile"
  id="rina"
  tabindex="-1"
  aria-labelledby="rinaLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header py-0 px-lg-5">
        <div class="col-2">
          <img
            src="assets/UIComponents/images/speakers/rina.png"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-10 text-center">
          <h1 class="modal-title fs-5" id="rinaLabel">
            Rina Telesphore, Dr, His Royal Highness, The Prince
          </h1>
          <p>Head of the Royal House of Andriakazomanga-Zafimbolamena MAZAVA</p>
          <label for="">Royalty, Pastor, Philanthropist</label>
        </div>
      </div>
      <div class="modal-body">
        <p><b>Official Biography of HRH Prince Dr. Rina Telesphore</b></p>
        <p>
          His Royal Highness Prince Dr. Rina Telesphore exemplifies visionary
          leadership rooted in heritage and guided by a commitment to progress.
          As a descendant of King Radama I of Madagascar and King-Priest
          Andriakazomangabemanefoefo, he blends spiritual and temporal
          leadership to promote justice, peace, and sustainable development.
        </p>
        <p><b>Advancing Economic Growth and Sustainability</b></p>
        <p>
          HRH Prince Dr. Rina Telesphore is a prominent advocate for economic
          progress and international collaboration. As a Board Advisor to the
          Asian-African Chamber of Commerce and Industry (AACCI), he fosters
          partnerships between Asia and Africa, encouraging equitable trade and
          sustainable development. As President-Patron of Trade and Investment
          for the Commonwealth Entrepreneurs Club, he works to attract
          responsible investments, strengthen local enterprises, and ensure
          ethical practices. His contributions to the mining sector, as
          President of the Association of Jewelers, Lapidaries, and Mining
          Operators of Madagascar, underscore his dedication to sustainable
          resource management and community empowerment.
        </p>
        <p><b>Promoting Diplomacy and Peacebuilding</b></p>
        <p>
          HRH Prince Dr. Rina Telesphore is a strong proponent of global
          diplomacy and international cooperation. Serving as an Honorary Board
          Advisor for the World Peace and Diplomacy Organization (WPDO) and a
          World Peace Ambassador, he actively supports initiatives that resolve
          conflicts, enhance intercultural understanding, and build bridges
          between nations. His work reflects a steadfast commitment to justice,
          human dignity, and harmonious global relations.
        </p>
        <p><b>Educational and Spiritual Leadership</b></p>
        <p>
          HRH Prince Dr. Rina Telesphore’s exceptional academic achievements
          include:
        </p>
        <ul>
          <li>
            Professional Doctorate in Global Leadership and Management (European
            International University, Paris)
          </li>
          <li>
            Doctorate in Business Administration in Banking (Harvest Christian
            University, USA)
          </li>
          <li>Leadership Development Diploma (World Faith Bible Institute)</li>
          <li>Master Jeweler Certification (HBJO-Paris)</li>
        </ul>

        <p>
          Inheriting the spiritual legacy of King-Priest
          Andriakazomangabemanefoefo, he was anointed as Senior Pastor in 2012
          within the Sanctuaire Chrétien International. This role enables him to
          integrate values of love, unity, and justice into his leadership,
          inspiring communities to work together for shared goals.
        </p>
        <p><b>A Visionary Leader for the Future</b></p>
        <p>
          As Head of the Royal House of Andriakazomanga-Zafimbolamena MAZAVA,
          HRH Prince Dr. Rina Telesphore embodies the balance of tradition and
          modernity. His leadership continues to inspire global efforts for
          justice, cultural preservation, and shared prosperity, shaping a
          future founded on unity and enduring harmony.
        </p>
      </div>
    </div>
  </div>
</div>
