<main class="index">
  <section class="mainSec ">
    <div class="container section1 position-relative">
      <div class="row justify-content-between ">
        <div class="col-lg-2 col-2 position-relative">
          <img
            src="assets/UIComponents/images/index/logo.png"
            alt=""
            class="logo"
            width="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-4 col-12 text-center pt-lg-5">
          <div class="card cardMain">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h5>Dubai 13 April 2025</h5>
                  <p>Sunday</p>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h6>
                        <span id="days"></span> <br />
                        Days
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h6>
                        <span id="hours"></span> <br />
                        Hours
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h6>
                        <span id="minutes"></span> <br />
                        Minutes
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 tableBox">
          <div class="row">
            <div class="col-lg-9">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <h6>2800</h6>
                      <p>Peace Ambassadors (Delegates)</p>
                    </td>
                    <td class="">
                      <h6>28</h6>
                      <p>Corporate Partners</p>
                    </td>
                    <td>
                      <h6>28</h6>
                      <p>Awards (Global Justice, Love & Peace Champions)</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>2.8%</h6>
                      <p>Profits to Dubai Cares</p>
                    </td>
                    <td>
                      <h6>110</h6>
                      <p>Networking Tables</p>
                    </td>
                    <td>
                      <h6>28%</h6>
                      <p>Revenue to the World PeaceKeeper Movement</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 my-3">
          <img
            src="assets/UIComponents/images/index/highlights.png"
            alt=""
            width="100%"
            height="auto"
          />
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">1</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">SPEAKERS</h2>
                  <p class="cardP">
                    Crème deLa Crème speakers of international standing
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">2</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">Networking</h2>
                  <p class="cardP">
                    Unique structured networking through app, & face to
                    face, starting from pre-event, during event, & post
                    event. <span class="highlights">110</span> Networking
                    Tables
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">3</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">Awards</h2>
                  <p class="cardP">
                    A glittering ceremony worthy of the highest
                    international Awardees.
                    <span class="highlights">28</span> Awards.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">4</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">DELEGATES</h2>
                  <p class="cardP">2800 delegates</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">5</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">CREDIBILITY</h2>
                  <p class="cardP">
                    Organised by Dr. Huzaifa Khorakiwala (check his profile
                    in PDF, & Website)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">6</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">AMBASSADORS</h2>
                  <p class="cardP">
                    Each delegate will be made GLOBAL JUSTICE, LOVE & PEACE
                    AMBASSADOR
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">7</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">PR</h2>
                  <p class="cardP">
                    Wide scale international PR in offline as well as online
                    publication
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section3" style="height: 80vh;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Chief Guest</h2>
          <img
            src="assets/UIComponents/images/index/chief_guest.png"
            alt=""
            class="mt-4 mb-3"
            width="70%"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3>About The Proposed Chief Guest</h3>
          <p>
            His Highness Sheikh Mohammed bin Rashid Al Maktoum ( born 15
            July 1949) <br />
            is an Emirati politician and royal who is the current ruler of
            Dubai, and serves as the vice president and prime minister.
            Sheikh Mohammed <br />
            succeeded his brother Maktoum bin Rashid Al Maktoum as UAE vice
            president and ruler of Dubai following the latter’s death in
            2006.
          </p>
          <p>
            He oversaw the growth of Dubai into a global city, as well as
            the launch of a number of government-owned enterprises including
            Emirates <br />
            Airline, DP World, and the Jumeirah Group. Some of these are
            held by Dubai Holding. Sheikh Mohammed has overseen the
            development of <br />
            certain projects in Dubai, such as the Palm Islands and the Burj
            Al Arab hotel, as well as Burj Khalifa, the tallest building in
            the world.
          </p>
          <p>
            Sheikh Mohammed is the absolute ruler of Dubai and the prime
            minister of the UAE, a position appointed by the president.
            <br />
            His Highness Sheikh Mohammed bin Rashid Al Maktoum holds a
            legendary position in today’s international politics & world
            affairs.
          </p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="section4 p-0">
    <div class="container text-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-5">
          <img src="assets/UIComponents/images/index/section4.gif" alt="" width="100%" />
        </div>
      </div>
    </div>
  </section> -->

  <section class="section5 mt-5 p-lg-5 py-5 partner_carousel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Invited Corporate Partners</h2>
        </div>
        <div class="col-12 py-4 partner_carousel">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners1.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners6.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners11.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners2.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners7.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners12.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners3.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners8.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners13.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners4.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners9.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners14.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners5.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners10.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/partners15.png" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/AIG.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/alibaba.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Airbnb-Logo.wine.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Allianz-logo.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Alphabet_Inc_Logo_2015.svg.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Amazon_logo.svg.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Airbus-Logo.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Archer_Daniels_Midland_logo.svg.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/ATT-Logo.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Amgen-Logo.jpg" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Bank of America.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/basf-logo.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/FedEx.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/BHP-Logo.wine.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/berkshire-hathaway-inc-logo-0.png" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Biogen-Logo.wine.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Boeing-Logo.wine.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Boston Dynamics.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/BP-Logo.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Brookfield_Asset_Management-Logo.wine.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Cargill-logo.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Chegg.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/China_State_Construction_Engineering_Corporation_logo.svg.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Citigroup.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/CMA CGM.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Coca-Cola-logo.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/China Mobile.png" />
                      </li>
                    </ul>
                  </div>
                  <div class="col-md col-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/Coursera.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/dhl-logo-2.png" />
                      </li>
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/partners/DOW.png" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section class="section6 p-lg-5 py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Speakers 2025</h2>
        </div>
        <div class="col-12 py-4 speakers">
          <div
            id="spekerSlide"
            class="carousel slide w-100"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row justify-content-center">
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/speakers/speaker2.png" />
                        <h5>Nadir Godrej</h5>
                        <label for="">(India)</label>
                        <h6>Industrialist</h6>
                        <p>
                          Chairman & Managing Director, Godrej Industries
                          Ltd
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/speakers/speaker1.png" />
                        <h5>Kailash Satyarthi</h5>
                        <label for="">(India)</label>
                        <h6>Nobel Peace Laureate (2014)</h6>
                        <p>Satyarthi Movement for Global Compassion</p>
                      </li>
                    </ul>
                  </div>
                  
                  
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/speakers/speaker4.png" />
                        <h5>Rui Duarte de Barros</h5>
                        <label for="">(Guinea-Bissau)</label>
                        <h6>Politician, Economist</h6>
                        <p>Prime Minister, Republic of Guimea-Bissau</p>
                      </li>
                    </ul>
                  </div>
                  
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/speakers/speaker5.png" />
                        <h5>P V Sindhu</h5>
                        <label for="">(India)</label>
                        <h6>Sportsperson, Olympic Medallist</h6>
                        <p>Badminton World Champion 2019</p>
                        <label for="">(Final conformation based on tournament schedule)</label>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img src="assets/UIComponents/images/speakers/speaker3.png" />
                        <h5>Leymah Gbowee</h5>
                        
                        <label>(LIBERIA)</label>
                        <h6>
                          Nobel Peace <br />
                          Laureate 2011
                        </h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-success">View All Speakers</button>
        </div>
      </div>
    </div>
  </section>

  <section class="section7 p-lg-5 h-auto">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-4 p-lg-5">
          <label for="" class="mb-3">SCHEDULE</label>
          <h1 class="mb-3">
            SCHEDULE <br />
            AND AGENDA
          </h1>
          <p class="mb-3">
            A representation of the event <br />
            planning of Global Summit
          </p>

          <button class="btn btn-success p-3">DOWNLOAD SCHEDULE</button>
        </div>
        <div class="col-md-8">
          <div class="row align-items-end">
            <div class="col-12 px-lg-5 mx-lg-5">
              <div class="d-flex align-items-center justify-content-between">
                <div class="date">
                  <h3>13 <span>April, Sunday 2025</span></h3>
                  <h5>10:00 AM - 11:00 PM</h5>
                </div>
                <h4 class="location">Grand Hyatt Dubai</h4>
              </div>
              <div
                class="progress my-4"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 25%"></div>
              </div>
            </div>
            <div class="col-12">
              <div id="timeline-content">
                <ul class="timeline">
                  <li class="event" data-date="10:00 AM - 10:30 AM" [attr.data-count]="i + 1" *ngFor="let event of events; let i = index">
                    <h3 class="fw-bold">{{ event }}</h3>
                  </li>
                  <!-- <li class="event" data-date="10:30 AM - 11:00 AM">
                    <h3>Opening Session</h3>
                  </li>
                  <li
                    class="event"
                    id="date"
                    data-date="11:00 AM - 12:30 PM"
                  >
                    <h3>Session Theme 1 - JUSTICE</h3>
                  </li>

                  <li class="event" data-date="12:30 PM - 2:30 PM">
                    <h3>Launch & Networking</h3>
                  </li>
                  <li class="event" data-date="2:30 PM - 4:00 PM">
                    <h3>Session Theme 2 - LOVE</h3>
                  </li> -->
                </ul>
              </div>

              <a href="" class="text-decoration-none "><b  style="color: rgba(3, 192, 75, 0.623);">See More...</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section8 p-lg-5 py-5">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-12 py-4 position-relative">
          <!-- Top Image -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.2606157749346!2d55.32532797483849!3d25.22814563044756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d46f88c69a3%3A0xbdd27b1c33c3af0d!2sGrand%20Hyatt%20Dubai!5e0!3m2!1sen!2sin!4v1732707606020!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        
          <!-- Second Image -->
          <img 
            src="assets/UIComponents/images/index/GHD.png" 
            alt="Second Image" 
            class="position-absolute second-image" 
          />
        </div>
        
        <div class="col-12 py-4 text-center">
          <!-- Map Image -->
     
        
          <!-- Clickable Text -->
          <p class="pt-1">
            <a 
              href="https://www.google.com/maps/dir/?api=1&destination=Grand+Hyatt+Dubai" 
              target="_blank" 
              rel="noopener noreferrer" 
              style="text-decoration: none; color: white; font-weight: bold; font-family:Dinpro;"
            >
            <h2 class="col-5 text-white" style="font-size: 30px; font-weight: 400; text-align: left;">Click on the map and find the route to reach the hotel.</h2>  
            </a>
          </p>
        </div>
        
      </div>
    </div>
  </section>
  
</main>