.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn {
    width: 100%;
  }

  .input-group-text {
    cursor: pointer;
  }

@media(max-width: 425px){
  #main {
    margin-top: 90px;
    margin-left: 0px !important;
    padding: 15px;
    transition: margin-left 0.5s;
}
}

.bg-color {
  background: #e9ecef;
}

