.loginBox{
  display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url(../../../../../assets/UIComponents/images/Login.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
}
.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.logo {
  width: 100px;
  margin-bottom: 15px;
}
.login{
  background-color: #005a87;
  color: #ffff;
}
.login-heading{
  color: #005a87;
}
form{
text-align: left;
}
.icon{
  background-color: inherit !important;
  color: #005a87;
}
.error-massage{
  color: red;
}
