
.dropdown {
  position: relative !important;
  display: block !important;
}


.editor ngx-editor {
  min-height: 300px;  /* Adjust height */
  max-height: 500px;
  overflow: auto;
}



.p-editor-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 320px;
}
.ql-editor {
  min-height: 250px;
}
