
<!-- 
<div id="MainContent_otherslider" >
<div class="container">
<div class="row">
<h1 class="innerpageheading"></h1>
</div>
</div>
</div> -->
<section id="MainContent_register" class>
<div id="MainContent_divcontainer" class="container">
<div class="row contentbox"><div class="text col-md-12 col-sm-12 col-xs-12">
    
    <section class="position-relative row mx-auto py-md-2">
<div class="row mx-auto mt-5 mt-md-0">
<div class="col-12 col-md-6 col-xl-6 px-5">
<h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">The Legacy of Pharma pre-connect</h2>
<p class="download-form-para">Pharma pre-connect Confex is the largest and the most influential pharma packaging show in India. InnoPack is a global brand of CPhI Worldwide and it takes place annually across six regions worldwide.</p>
<p class="download-form-para">Launched in 2012, The Pharma pre-connect Confex has served as a platform of advanced knowledge and industry best practices, facilitated partnerships &amp; alliances and serve as a catalyst in shaping the future of the industry.</p>
<p class="download-form-para">The year 2020 Pharma pre-connect had embraced the new Era of Packaging as centre of driving business through disruptive innovations as a Virtual Confex.</p>
<p class="download-form-para">The 2-day Confex witnessed</p>
<p>&nbsp;</p>
<li class="paragraph_text">1000+ Attendees</li>
<li class="paragraph_text">Delegation from 15+ Countries</li>
<li class="paragraph_text">40+ Pharma Packaging Stalwarts as Speakers</li>
<li class="paragraph_text">5+ Technical Workshops</li>
<li class="paragraph_text">Packaging Leaders Round Table</li>
<li class="paragraph_text">5th Annual Pharma Packaging Awards</li>
<p>&nbsp;</p>
<h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">Delegates facts and figures</h2>
<p class="download-form-para"><strong>Departments:</strong></p>
<p>
</p>
<li class="paragraph_text">29% - Packaging</li>
<li class="paragraph_text">12% - Procurement/Purchase/ Admin</li>
<li class="paragraph_text">8% - Supply Chain Management</li>
<li class="paragraph_text">15% - Quality Control/ Quality Assurance</li>
<li class="paragraph_text">13% - Business Development/ Branding/ Marketing</li>
<li class="paragraph_text">10% - R&amp;D/ Analytical</li>
<li class="paragraph_text">8% - Production/ Manufacturing/ Operations</li>
<li class="paragraph_text">5% - Others (Consultants/ Import &amp; Export/)</li>
<p>&nbsp;</p>
<p class="download-form-para"><strong>Designations:</strong></p>
<ul>
<li class="paragraph_text">12% - Founder/ Chairman/ MD/ CEO/ Owner/ CXO&rsquo;s/ President</li>
<li class="paragraph_text">19% - Director/ VP/ Head</li>
<li class="paragraph_text">15% - AVP / General Manager/ AGM</li>
<li class="paragraph_text"> 39% - Sr. Manager/ Manager/ Deputy Manager/ Asst Manager /Lead / Officer </li>
<li class="paragraph_text">11% - Associate/ Sr Executive/ Executive</li>
<li class="paragraph_text">4% - Others (Consultants, Students, Professors, Advisors</li>
</ul>
</div>
<div class="col-12 col-md-6 col-xl-6 px-5">
<div>
<img alt src="assets/images/our-lagecy.jpg" class="w-100" style="padding-top: 57px;" />
</div>
</div>
</div>
</section></div></div>
</div>
</section>