<div id="MainContent_otherslider">

</div>
<section id="MainContent_register" class >
    <div id="MainContent_divcontainer" class="container">
        <div class="row contentbox">
            <div class="text col-md-12 col-sm-12 col-xs-12">
                <p>India, considered as pharmacy of the world, is the largest provider of generic drugs globally. It
                    ranks 3rd in terms of pharmaceutical production by volume and 14th by value. It accounts for 20% of
                    worldwide supply by volume and nearly 60% worldwide vaccination demand.
                    <br> <br> Medicine spending in India and around the world is projected to grow in coming years
                    allowing Indian organizations to lead the sector and achieve a global leadership position. This will
                    require a paradigm shift in the business model under which the industry operates.
                    The industry needs to create models and initiatives to expand manufacturing capacity, invest in
                    innovative technologies, focus on research and development, and distribute and export
                    infrastructure.
                    <br> <br> The CPHI Pre-Connect Congress is curated to address critical discussions on the theme
                    India as Global Leader in the pharma space. Decision-makers from industry associations,
                    manufacturers, R&D organizations, clinical research organizations and other key stakeholders under
                    one roof to discuss the road ahead. The program will discuss smart manufacturing for all, innovation
                    required in pharma R&D, how to go up in the innovation curve, attracting the required skill set, and
                    much more.
                </p>
            </div>
        </div>
    </div>
</section>