

<section id="MainContent_register" >
  <div id="MainContent_divcontainer" class="container">
    <div class="row contentbox">
      <div class="text col-md-12 col-sm-12 col-xs-12">
        <section class="ftco-section ftco-about-section ftco-no-pt ftco-no-pb">
          <div class="container-xl">
            <div class="row g-xl-5">
              <div
                class="col-md-6 py-5 heading-section"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="1000"
              >
                <div class="py-md-5">
                  <h2 class="mb-4 subheading">Who Should Attend</h2>
                  <div class="lkj">
                    <div class="col-md-6">
                      <h3>DEPARTMENTS</h3>
                      <ul>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Quality teams
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          R&amp;D
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Procurement
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Regulatory
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Manufacturing
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Import/ Export
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Production
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Commercials/ Marketing
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <h3>INDUSTRIES/ CATEGORIES</h3>
                      <ul>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Bio-Pharmaceuticals
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Biotech
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          Pharmaceuticals
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em> Life
                          Sciences
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          CMO&rsquo;s
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          CRO&rsquo;s
                        </li>
                        <li>
                          <em class="fa fa-medkit" aria-hidden="true"></em>
                          CRAMS
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-6 d-flex align-items-center"
                data-aos="fade-up"
                data-aos-delay="100"
                data-aos-duration="1000"
              >
                <img loading="eager" alt src="assets/images/Conference.jpg" class="img-fluid" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row contentbox">
      <div class="text col-md-12 col-sm-12 col-xs-12">
        <section
          style="position: relative; top: 50px; margin-bottom: 40px"
          class="position-relative row mx-auto py-md-2"
        >
          <div class="row mx-auto mt-5 mt-md-0">
            <div class="col-12 col-md-6 col-xl-6 px-5">
              <img loading="eager" alt src="assets/images/DSC01866.jpg" />
            </div>
            <div class="col-12 col-md-6 col-xl-6 px-5">
              <h2 class="mb-4 subheading spo" style="text-align: left">
                Benefits of Attending
              </h2>
              <ul>
                <li>
                  <em class="fa fa-medkit" aria-hidden="true"></em> Gain
                  Valuable Insights from the pharma stalwarts
                </li>
                <li>
                  <em class="fa fa-medkit" aria-hidden="true"></em> Learn and
                  leverage the technologies in pharma
                </li>
                <li>
                  <em class="fa fa-medkit" aria-hidden="true"></em> Measures to
                  streamline business processes post pandemic
                </li>
                <li>
                  <em class="fa fa-medkit" aria-hidden="true"></em> Know the
                  strategies for Building Self Reliant India in the
                  Pharmaceutical Sector today
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
