<div class="page--wrap">
  <h4 class="mt-5 pt-4 text-center fw-600" style="color: black">
    Partner Registration
  </h4>
  <div
    class="enquiry-book clearfix row mx-0 my-5 justify-content-center aloign-items-center contentbox p-5"
  >
    <div class="col-md-offset col-md-6">
      <div class="clearfix"></div>
      <form [formGroup]="form" (ngSubmit)="Check()">
        <h2 class="text-center pb-4" style="font-size: 18px; color: black">
          Please enter registered detail to download your badge.
        </h2>
        <div class="form-group col-md-12">
          <label class="col-md-12 no-padding" for="email"
            >URN No.
            <!-- <span class="form-label-span" style="color: #ff0000">
              *</span
            > -->
            </label
          >
          <div class="col-md-12 no-padding">
            <input
              type="urn_no"
              formControlName="urn_no"
              id="urn_no"
              placeholder=""
              class="form-control bs-input"
              required
              (keydown)="onKeyDown1($event)"
            />
            <div
              *ngIf="
                getcontrol('urn_no')?.errors &&
                getcontrol('urn_no')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="getcontrol('urn_no')?.errors?.['required']"
                >URN is Required.</small
              >
             
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-12 no-padding" for="email"
            >Email
            <!-- <span class="form-label-span" style="color: #ff0000">
              *</span
            > -->
            </label
          >
          <div class="col-md-12 no-padding">
            <!-- <input type="email" [(ngModel)]="email_id" (keydown)="onKeyDown($event, email_id)" name="email"
                        id="email" placeholder="" formControlName="email_id"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,12}$" class="form-control bs-input"
                        value="" required=""> -->

            <input
              type="email"
              formControlName="email_id"
              id="email"
              placeholder=""
              class="form-control bs-input"
              required
            />
            <div
              *ngIf="
                getcontrol('email_id')?.errors &&
                getcontrol('email_id')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="getcontrol('email_id')?.errors?.['required']"
                >Email is Required.</small
              >
              <small
                class="text-danger"
                *ngIf="getcontrol('email_id')?.errors?.['email']"
                >Please enter valid email address.</small
              >
            </div>
          </div>
        </div>
        <div class="form-group col-md-12" style="margin-top: 15px">
          <label class="no-padding" for="mobile"
            >Mobile
            <!-- <span class="form-label-span" style="color: #ff0000">
              *</span
            > -->
            </label
          >
          <div class="col-md-12 no-padding">
            <!-- <input type="text" [(ngModel)]="mobile_number" (keydown)="onKeyDown($event, mobile_number)"
                        name="mobile" id="mobile" placeholder="" formControlName="mobile_number"
                         value=""  minlength="10" maxlength="10"
                        > -->
            <input
              type="text"
              (keypress)="keyPressNumbers($event)"
              formControlName="mobile_number"
              id="mobile"
              placeholder=""
              class="form-control bs-input"
              minlength="10"
              maxlength="10"
              required
            />
            <div
              *ngIf="
                getcontrol('mobile_number')?.errors &&
                getcontrol('mobile_number')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="getcontrol('mobile_number')?.errors?.['required']"
                >Mobile number is required</small
              >
              <small
                class="text-danger"
                *ngIf="getcontrol('mobile_number')?.errors?.['minlength']"
                >Mobile number must be at least 10 digit long.</small
              >
              <small
                class="text-danger"
                *ngIf="getcontrol('mobile_number')?.errors?.['repeatingDigits']"
              >
                Mobile number cannot contain repeating digits.
              </small>
              <small
                class="text-danger"
                *ngIf="getcontrol('mobile_number')?.errors?.['containsConsecutiveZeros']"
              >
                cannot contain three or more consecutive zeros.
              </small>
            </div>
          </div>
        </div>
        <br />
        <div class="text-center">
          <input
            type="submit"
            class="btn btn-primary px-5"
            value="Download Badge"
            name="downloadbadge"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<footer class="footer dark secondary-widget-area" id="footer">
  <div class="footer-inner">
    <div class="footer-bottom py-0">
      <div class="fb-container">
        <div class="row align-items-center">
          <div class="col-lg-12 col-md-12">
            <div class="footer-bottom-copy text-center py-4">
              &copy; 2023 All right reserved.
            </div>
          </div>
          <div class=""></div>
        </div>
        <!-- .row -->
      </div>
      <!-- .fb-container -->
    </div>
    <!-- .footer-bottom -->
  </div>
  <!-- .footer-inner -->
</footer>
