
<section id="MainContent_register">
<div id="MainContent_divcontainer" class="container">
<div class="row contentbox"><div class="text col-md-12 col-sm-12 col-xs-12"><section class="ftco-section ftco-about-section ftco-no-pt ftco-no-pb">
<div class="container">
<div class="row justify-content-center pb-4">
<h2 class="mb-4 subheading spo"> Past Speakers</h2>
<div class="logoslider">
<ul>
    <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/B.R. Sikri.jpg" />
        <p class="name">B.R. Sikri</p>
        <span class="position">Co-Chairman</span><br/>
        <span class="position">Federation of Pharma Entrepreneurs (FOPE)</span>
        </li>
        
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Dinesh Dua.jpg" />
        <p class="name">Dr. Dinesh Dua</p>
        <span class="position">Executive Director</span><br/>
        <span class="position">Nectar Lifesciences</span>
        </li>
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Chakravarthi AVPS.jpg" />
        <p class="name">Chakravarthi AVPS</p>
        <span class="position">Global Ambassador</span><br/>
        <span class="position">World Packaging Organisation</span>
        </li>
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Bharat Bhushan Rathi.jpg" />
        <p class="name">Bharat Bhushan Rathi</p>
        <span class="position">Head – Logistics</span><br/>
        <span class="position">Mankind Pharma</span>
        </li>
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Dhileep Krishnamurthy.jpg" />
        <p class="name">Dhileep Krishnamurthy</p>
        <span class="position">Global Senior Advisor Pharma</span><br/>
        <span class="position">Independent Consultant</span>
        </li>
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Anuj Gupta.jpg" />
        <p class="name">Dr. Anuj Gupta</p>
        <span class="position">SR. VP Head - Products and Insights</span><br/>
        <span class="position">THB</span>
        </li>
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Chidambaram Mandan.jpg" />
        <p class="name"> Dr. Chidambaram Mandan</p>
        <span class="position">Senior General Manager - R&D (Catalyst & Chemicals)</span><br/>
        <span class="position">Hindustan Platinum</span>
        </li>
        <li>
        <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Jaya Abraham.jpg" />
        <p class="name">Dr. Jaya Abraham</p>
        <span class="position">Sr. VP R&D</span><br/>
        <span class="position">Harman Finochem</span>
        </li>
        <li>
            <img loading="eager" alt src="assets/manager/Speakerphoto/Ankesh Jain.png" />
            <p class="name">Ankesh Jain</p>
            <span class="position">Director - Sales and Marketing</span><br/>
            <span class="position">Panacea Biotec</span>
            </li>
        <li>
            <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Maya Sharma.jpg" />
            <p class="name"> Dr. Maya Sharma</p>
            <span class="position">Global Medical Director</span><br/>
            <span class="position">Win Medicare, Modi Mundipharma & Signutra</span>
            </li>
            <li>
            <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Narendra Ambhaikar.jpg" />
            <p class="name">Dr. Narendra Ambhaikar</p>
            <span class="position">Vice President - R&D</span><br/>
            <span class="position">Neuland Laboratories Limited</span>
            </li>
            <li>
                <img loading="eager" alt src="assets/manager/Speakerphoto/Pushpa Vijayaraghavan.jpg" />
                <p class="name">Pushpa Vijayaraghavan</p>
                <span class="position">Director – Healthcare</span><br/>
                <span class="position">Sathguru Management Consultants</span>
                </li>
                <li>
                <img loading="eager" alt src="assets/manager/Speakerphoto/Samuel Samson.png" />
                <p class="name">Samuel Samson</p>
                <span class="position">Head - Pharmaceuticals and Life Sciences Vertical</span><br/>
                <span class="position">Siemens Ltd.</span>
                </li>
                <li>
                    <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Shibu Vijayan.jpg" />
                    <p class="name">Dr. Shibu Vijayan</p>
                    <span class="position">Global TB Technical Director</span><br/>
                    <span class="position">PATH</span>
                    </li>
                    <li>
                    <img loading="eager" alt src="assets/manager/Speakerphoto/Suresh Patatthil.png" />
                    <p class="name">Suresh Patatthil</p>
                    <span class="position">General Manager</span><br/>
                    <span class="position">Abbvie India</span>
                    </li>
                    <li>
                        <img loading="eager" alt src="assets/manager/Speakerphoto/Dr. Viranchi Shah.jpg" />
                        <p class="name">Dr. Viranchi Shah</p>
                        <span class="position">Director</span><br/>
                        <span class="position">Saga Laboratories</span>
                        </li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">B.R. Sikri</p>
<span class="position">Co-Chairman</span><br/>
<span class="position">Federation of Pharma Entrepreneurs (FOPE)</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Dr. Viranchi Shah</p>
<span class="position">Director</span><br/>
<span class="position">Saga Laboratories</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Dr. Dinesh Dua</p>
<span class="position">Executive Director</span><br/>
<span class="position">Nectar Lifesciences</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Chakravarthi AVPS</p>
<span class="position">Global Ambassador</span><br/>
<span class="position">World Packaging Organisation</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Neeraj Jain</p>
<span class="position">Country Director-India</span><br/>
<span class="position">PATH</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Anandram Narasimhan</p>
<span class="position">Managing Director</span><br/>
<span class="position">Merck Specialities Pvt.Ltd</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Manoj Saxena</p>
<span class="position">Managing Director</span><br/>
<span class="position">Bayer Pharmaceuticals</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name"> Shubhadeep Sinha</p>
<span class="position">VP</span><br/>
<span class="position">Hetero Drugs</span>
</li>
<li>
<img loading="eager" alt src="assets/image/speeker.jpg" />
<p class="name">Kacharu Toshniwal</p>
<span class="position">Senior Vice President API operations</span><br/>
<span class="position">Zydus Cadila</span>
</li>

</ul>
</div>
</div>
</div>
</section></div></div>
</div>
</section>