

<!-- <div id="MainContent_otherslider" >
<div class="container ">
<div class="row">
<h1 class="innerpageheading">Download Brochure</h1>
</div>
</div>
</div> -->
<section id="contactus" class="aboutshow">
<div class="container contentbox">
    <form [formGroup]="brochure" (ngSubmit)="added()" >
<div id="MainContent_Step1">
<p style="color: #ff0000;">
<strong>Fields marked in asterisk (*) are mandatory</strong>
</p>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-2 text-right">
<label><strong>Contact Name <b><span style="color: red;">*</span></b></strong></label>
</div>
<div class="col-md-4">
<input  name="ctl00$MainContent$name" [(ngModel)]="contact_name" (keydown)="onKeyDown($event, contact_name)" type="text" id="MainContent_name" class="form-control RequiredValid" autocomplete="off" placeholder="Enter name" maxlength="50" minlength="3" formControlName="contact_name"  (keypress)="ValidateAlpha($event)" />
<div *ngIf="getcontrol('contact_name')?.errors && getcontrol('contact_name')?.touched">
    <small class="text-danger" *ngIf="getcontrol('contact_name')?.errors?.['required']">Contact name is
        Required.</small>
    <small class="text-danger" *ngIf="getcontrol('contact_name')?.errors?.['minlength']">Contact name must be at least 3 characters long.</small>
</div> 
</div>
<div class="col-md-2 text-right">
<label><b>Email <b><span style="color: red;">*</span></b></b></label>
</div>
<div class="col-md-4">
<input name="ctl00$MainContent$email" [(ngModel)]="email" (keydown)="onKeyDown($event, email)" type="text" id="MainContent_email" class="form-control RequiredValid" formControlName="email" autocomplete="off" maxlength="50" placeholder="Enter email" />
<div *ngIf="getcontrol('email')?.errors && getcontrol('email')?.touched">
    <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['required']">Email is
        Required.</small>
    <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['email']">Please insert a
        valid email address.</small>
</div>

</div>
</div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-2 text-right">
<label><b>Job Tittle <b><span style="color: red;">*</span></b></b></label>
</div>
<div class="col-md-4">
    <input name="ctl00$MainContent$designation" [(ngModel)]="jobTitle" (keydown)="onKeyDown($event, jobTitle)" type="text" id="MainContent_designation" formControlName="job_tittle" minlength="3" (keypress)="ValidateAlpha($event)" class="form-control RequiredValid" autocomplete="off" maxlength="50" placeholder="Enter your job title" />
  
    <div *ngIf="getcontrol('job_tittle')?.errors && getcontrol('job_tittle')?.touched">
      <small class="text-danger" *ngIf="getcontrol('job_tittle')?.errors?.['required']">Job title is Required.</small>
      <small class="text-danger" *ngIf="getcontrol('job_tittle')?.errors?.['minlength']">Job title must be at least 3 characters long.</small>
    </div>
  </div>
<div class="col-md-2 text-right">
<label><strong>Company Name <b><span style="color: red;">*</span></b></strong></label>
</div>
<div class="col-md-4">
    <input name="ctl00$MainContent$company" [(ngModel)]="companyName" (keydown)="onKeyDown($event, companyName)" type="text" id="MainContent_company" class="form-control RequiredValid" autocomplete="off" formControlName="company_name" minlength="3" (keypress)="ValidateAlpha($event)" placeholder="Enter company name" maxlength="100" />
  
    <div *ngIf="getcontrol('company_name')?.errors && getcontrol('company_name')?.touched">
      <small class="text-danger" *ngIf="getcontrol('company_name')?.errors?.['required']">Company name is Required.</small>
      <small class="text-danger" *ngIf="getcontrol('company_name')?.errors?.['minlength']">Company name must be at least 3 characters long.</small>
    </div>
  </div>
  
</div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-2 text-right">
<label><b>Country <b><span style="color: red;">*</span></b></b></label>
</div>
<div class="col-md-4">
<select name="ctl00$MainContent$country" id="MainContent_country" formControlName="country" class="form-control">
    <option value="" selected>--Select--</option>
    <option *ngFor="let countryode of code" >{{countryode.country_mobile_code}}</option>
</select>
<div *ngIf="getcontrol('country')?.errors && getcontrol('country')?.touched">
    <small class="text-danger" *ngIf="getcontrol('country')?.errors?.['required']">Country is
        Required.</small>
</div>

<span id="MainContent_RequiredFieldValidator11" style="color:Red;font-style:italic;display:none;">Required!</span>
</div>
<div class="col-md-2 text-right">
<label><b>Phone Number <b><span style="color: red;">*</span></b></b></label>
</div>
<div class="col-md-4">
<input name="ctl00$MainContent$phone" [(ngModel)]="phone_number" (keydown)="onKeyDown($event, phone_number)" type="text" id="MainContent_phone" formControlName="phone_number"  minlength="10" maxlength="10"  (keypress)="keyPressNumbers($event)" class="form-control RequiredValid number" autocomplete="off" maxlength="10" placeholder="Enter phone number" />
<div
                                    *ngIf="getcontrol('phone_number')?.errors && getcontrol('phone_number')?.touched">
                                    <small class="text-danger"
                                        *ngIf="getcontrol('phone_number')?.errors?.['required']">Phone number
                                        is required</small>
                                    <small class="text-danger"
                                        *ngIf="getcontrol('phone_number')?.errors?.['minlength']">Phone number must be at least 10 digit long.</small>
                                        <small class="text-danger" *ngIf="getcontrol('phone_number')?.errors?.['repeatingDigits']">
                                            Phone number cannot contain repeating digits.
                                          </small>
                                          <small class="text-danger" *ngIf="getcontrol('phone_number')?.errors?.['containsConsecutiveZeros']">
                                            cannot contain three or more consecutive zeros.
                                              </small>
                                </div>
</div>
</div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-2 text-right">
<label><b>Mobile <b><span style="color: red;">*</span></b></b></label>
</div>
<div class="col-md-4">
<input name="ctl00$MainContent$mobile" type="text" formControlName="mobile" [(ngModel)]="mobile" (keydown)="onKeyDown($event, mobile)"  (keypress)="keyPressNumbers($event)"  minlength="10" maxlength="10" id="MainContent_mobile" class="form-control RequiredValid number" autocomplete="off" maxlength="10" placeholder="Enter mobile number" />
<div
                                    *ngIf="getcontrol('mobile')?.errors && getcontrol('mobile')?.touched">
                                    <small class="text-danger"
                                        *ngIf="getcontrol('mobile')?.errors?.['required']">Mobile number
                                        is required</small>
                                    <small class="text-danger"
                                        *ngIf="getcontrol('mobile')?.errors?.['minlength']">Mobile number must be at least 10 digit long.</small>
                                        <small class="text-danger" *ngIf="getcontrol('mobile')?.errors?.['repeatingDigits']">
                                            Mobile number cannot contain repeating digits.
                                          </small>
                                          <small class="text-danger" *ngIf="getcontrol('mobile')?.errors?.['containsConsecutiveZeros']">
                                            cannot contain three or more consecutive zeros.
                                              </small>
                                </div>
</div>
</div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-3 text-right">
<label><b>Area Of Interest <b><span style="color: red;">*</span></b></b></label>
</div>
<div class="col-md-6">
<table id="MainContent_rdAreaOfInterest" >
<tr>
<td><input formControlName="area_of_interest" (change)="onRadioChange($event)" id="MainContent_rdAreaOfInterest_0" type="radio" name="ctl00$MainContent$rdAreaOfInterest" value="I am interested in a media partnership" /><label for="MainContent_rdAreaOfInterest_0">I am interested in a media partnership</label></td>
</tr><tr>
<td><input formControlName="area_of_interest" (change)="onRadioChange($event)" id="MainContent_rdAreaOfInterest_1" type="radio" name="ctl00$MainContent$rdAreaOfInterest" value="I am interested in attending as a delegate" /><label for="MainContent_rdAreaOfInterest_1">I am interested in attending as a delegate</label></td>
</tr><tr>
<td><input formControlName="area_of_interest" (change)="onRadioChange($event)" id="MainContent_rdAreaOfInterest_2" type="radio" name="ctl00$MainContent$rdAreaOfInterest" value="I am interested in speaking at event" /><label for="MainContent_rdAreaOfInterest_2">I am interested in speaking at event</label></td>
</tr><tr>
<td><input formControlName="area_of_interest" (change)="onRadioChange($event)" id="MainContent_rdAreaOfInterest_3" type="radio" name="ctl00$MainContent$rdAreaOfInterest" value="I am interested in sponsorship or exhibition opportunities" /><label for="MainContent_rdAreaOfInterest_3">I am interested in sponsorship or exhibition opportunities</label></td>
</tr>

</table>
<div *ngIf="getcontrol('area_of_interest')?.errors && getcontrol('area_of_interest')?.touched && !status" >
    <small class="text-danger" *ngIf="getcontrol('area_of_interest')?.errors?.['required']">Area of interest is
        Required.</small>

</div>

</div>
</div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-12">
<span class="checkboxSty"><input formControlName="check_whatsapp_number" id="MainContent_chkwhatsapp" type="checkbox" name="ctl00$MainContent$chkwhatsapp"  /><label for="MainContent_chkwhatsapp"> I Confirm that my WhatsApp number is same as the mobile number registered above. I also provide my consent to Informa Markets India Pvt Ltd for sending messages/notifications on my WhatsApp number.</label></span>

<span class="checkboxSty"><input formControlName="check_details" id="MainContent_chkTermsConditions" type="checkbox" name="ctl00$MainContent$chkTermsConditions"  /><label for="MainContent_chkTermsConditions"> By submitting the above details, you accept that Informa Markets in India may contact you with updates, relevant promotions, and information about this and future events & solutions provided by Informa Markets. Your details may be shared with the event sponsor/partners who may contact you about their products and services.</label></span>
</div></div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-3 text-right">
<label><b></b></label>
</div>
<div class="col-md-2 text-center" style="background-image:url(uicomponents/images/captcha.jpg);">
<label><b style="font-size:24px;">{{cptcha}}</b></label>
</div>
<div class="col-md-3" style="    margin-left: -47px;">
<input name="ctl00$MainContent$TextCaptcha" [(ngModel)]="captcha" (keydown)="onKeyDown($event, captcha)" minlength="6" (keypress)="keyPressNumbers($event)" formControlName="captcha" type="text" id="MainContent_TextCaptcha" class="form-control RequiredValid number" autocomplete="off" maxlength="6" placeholder="Type the number from the image"  />
<div *ngIf="getcontrol('captcha')?.errors && getcontrol('captcha')?.touched">
    <small class="text-danger" *ngIf="getcontrol('captcha')?.errors?.['required']">Captcha is
        Required.</small>
    <small class="text-danger" *ngIf="getcontrol('captcha')?.errors?.['pattern']">Please insert a
        valid captcha .</small>
</div>
</div>
<div class="col-md-4">
<span id="MainContent_msgText" style="color:Red;font-weight:bold;font-style:italic;"></span>
</div>
</div>
<div class="row">
<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<input type="submit" value="Submit" [disabled]="!brochure.valid && !status" id="MainContent_btnSubmit" class="btn btn-primary btn-lg" style="width:200px;" />
</div>
</div>
</div>
</form>
</div>
</section>
