
#typeofjewe label {
    font-weight: normal;
    margin-left: 3px;
}

.modalclose {
    position: absolute;
    right: -30px;
    top: -40px;
    font-size: 50px;
    color: #f00;
    opacity: 1;
}

.modalclose:hover {
    color: #fff;
    opacity: 1;
}

.info-box {
    color: #ffffff;
}

.xt-inner-box {
    border: 1px solid #f7931e;
    border-radius: 5px;
    margin-bottom: 25px;
    min-height: 355px;
}

.xt-image-box {
    padding: 10px;
    background: #f1f1f1;
}

.info-box {
    color: #ffffff;
}

section.speakers-section-three {
    position: relative;
    top: 40px;
    padding: 0px 20px;
}

span.xt-designation {
    color: grey;
}

.ftco-footer {
    margin-top: 50px;
}

#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #666;
    background-image: url('../../../../assets/manager/images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

.dropdown-menu>li.kopie>a {
    padding-left: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #555;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {

    .navbar-nav {
        display: inline;
    }

    .navbar-default .navbar-brand {
        display: inline;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .dropdown-menu>li>a {
        color: red;
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        background-color: #ccc;
    }

    .navbar-nav .open .dropdown-menu {
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    .dropdown-menu {
        padding-left: 10px;
    }

    .dropdown-menu .dropdown-menu {
        padding-left: 20px;
    }

    .dropdown-menu .dropdown-menu .dropdown-menu {
        padding-left: 30px;
    }

    li.dropdown.open {
        border: 0px solid red;
    }
}

@media (min-width: 768px) {
    ul.nav li:hover>ul.dropdown-menu {
        display: block;
    }

    #navbar {
        text-align: center;
    }
}

/* .dropbtn {
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    padding: 9px 7px;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 225px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -70px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    color: #ff5500;
}

.text-black {
    color: #000;
}

.text-black:hover {
    color: #ff5500;
}

.textstyle{
    font-size: 21px;
    color: black;
    font-family: inherit;
}

.textstyle1{
    font-size: 16px;
    font-family: inherit;
}