<div id="MainContent_Div2"></div>
<main class="page-main fullpg pagedetail" id="pagedetail">
  <div
    class="section section-article fp-auto-height-responsive bg-white bg-bright anim"
  >
    <section class="speakers-section-three">
      <div class="auto-container">
        <div class="row">
          <div
            id="MainContent_Div1"
            class="content-column col-lg-12 col-md-12 col-sm-12 text-center"
          >
            <div class="inner-column">
              <div class="row">
                <!-- <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                                style="visibility: visible; animation-name: fadeInUp;">
                                <div class="xt-inner-box">
                                    <div class="xt-image-box">
                                        <figure class="image"><a href="#" data-toggle="modal"
                                                data-target="#spk1012"><img loading="eager" class="w-100"
                                                    src="assets/manager/Speakerphoto2023/Dr. Rajeev Singh Raghuvanshi.png" style="height: 29rem;" alt></a></figure>
                                    </div>
                                    <div class="info-box">
                                        <h4 class="xt-name textstyle"><a href="#" data-toggle="modal"
                                                data-target="#spk1012"  ><b>Dr. Rajeev Singh Raghuvanshi</b></a></h4><span
                                            class="xt-designation" style="font-size: 14px;">Chief Guest & Drugs Controller General of India<br /> <strong>
                                                Ministry of Health & Family Welfare, Government of India</strong></span>
                                    </div>
                                </div>
                            </div> -->
                <!--  -->
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1012"
                          ><img loading="eager"
                            class="w-100"
                            src="../../../../assets/manager/Speakerphoto2023/1. Shubhadeep_Sinha-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1012"
                          ><b>Dr. Shubhadeep Sinha</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >Senior Vice- President - Clinical Development, & Medical Affairs <br />
                        <strong> Hetero Labs Limited</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1013"
                          ><img loading="eager"
                            class="w-100"
                            src="../../../../assets/manager/Speakerphoto2023/2. Yugal_Sikri-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1013"
                          ><b>Yugal Sikri</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >Managing Director<br />
                        <strong>RPG Life science </strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1027"
                          ><img loading="eager"
                            class="w-100"
                            src="../../../../assets/manager/Speakerphoto2023/3. Manish Kishore.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1027"
                          ><b>Manish Kishore</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px">
                        Global Head IT<br />
                        <strong>Wockhardt Ltd</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1025"
                          ><img loading="eager"
                            class="w-100"
                            src="../../../../assets/manager/Speakerphoto2023/4. Goutam_-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1025"
                          ><b>Goutam Bhattacharya</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >CEO <br />
                        <strong>Life Sciences Sector Skill Development Council</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1009"
                          ><img loading="eager"
                            class="w-100"
                            src="../../../../assets/manager/Speakerphoto2023/5. Ram_Kuma-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1009">
                          <b>Ram Kumar</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        > Senior Director Manufacturing Science and Technology Group (MSTG)<br />
                        <strong>Cipla</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1019"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/6. Narendra_K_Saini-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1019"
                          ><b>Narendra K Saini</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >CDO | Chief Digital & Data Officer<br />
                        <strong>  Lupin</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1016"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/7. Sanjay_Sharma-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1016"
                          ><b>Sanjay Sharma</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px">
                        Senior Vice President & Head Manufacturing Science and Technology<br />
                        <strong>Zydus Group</strong></span
                      >
                    </div>
                  </div>
                </div>
                <!-- <div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                                    style="visibility: visible; animation-name: fadeInUp;">
                                    <div class="xt-inner-box">
                                        <div class="xt-image-box">
                                            <figure class="image"><a href="#" data-toggle="modal"
                                                    data-target="#spk1006"><img loading="eager"
                                                        src="assets/image/speeker.jpg"   
                                                        alt></a></figure>
                                        </div>
                                        <div class="info-box">
                                            <h4 class="xt-name"><a href="#" data-toggle="modal"
                                                    data-target="#spk1006">Jatish Sheth</a></h4><span
                                                class="xt-designation">Director<br />
                                                <strong>Srushti Pharmaceuticals Pvt. Ltd.</strong></span>
                                        </div>
                                    </div>
                                </div> -->
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1010"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/8. Neeta_Jha-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1010"
                          ><b>Neeta Jha</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >Director QO APAC External Manufacturing<br />
                        <strong> Johnson & Johnson </strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1008"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/9. Sudhir_Saxena-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1008"
                          ><b> Sudhir Saxena</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        > General Manager Operational Excellence<br />
                        <strong>Sun Pharma</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1003"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/10. Dr._Govind_S._Pandey-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1003">
                          <b>Dr. Govind S. Pandey</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >Director<br />
                        <strong> Kopran Ltd</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1024"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/11. Amit_Agarwal-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1024"
                          ><b>Amit Aggarwal</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >General manager<br />
                        <strong>Mankind Pharma Limited</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1017"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/12. Dr. Lokesh_Gupta__Pic-removebg-preview.png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1017"
                          ><b>Dr. Lokesh Gupta</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        > Associate Director <br />
                        <strong
                          >Teva Pharmaceuticals
                        </strong></span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1014"
                          ><img loading="eager"
                            src="../../../../assets/manager/Speakerphoto2023/13. .png"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1014"
                          ><b>Bakkiyaraj G</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >Head – QC Chemistry<br />
                        <strong>Zydus Hospira Oncology Pvt. Ltd</strong></span
                      >
                    </div>
                  </div>
                </div>
                <!-- <div
                  class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp animated"
                  style="visibility: visible; animation-name: fadeInUp"
                >
                  <div class="xt-inner-box">
                    <div class="xt-image-box">
                      <figure class="image">
                        <a href="#" data-toggle="modal" data-target="#spk1002"
                          ><img loading="eager"
                            src="assets/manager/Speakerphoto2023/Dr. Govind S. Pandey.jpg"
                            style="height: 29rem"
                            alt
                        /></a>
                      </figure>
                    </div>
                    <div class="info-box">
                      <h4 class="xt-name textstyle">
                        <a href="#" data-toggle="modal" data-target="#spk1002">
                          <b>Dr. Govind S. Pandey</b></a
                        >
                      </h4>
                      <span class="xt-designation" style="font-size: 14px"
                        >Director <br />
                        <strong>Kopran Ltd </strong></span
                      >
                    </div>
                  </div>
                </div> -->
              </div>
              <!-- <div class="modal xt-black fade" id="spk1012" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title "> Chakravarthi AVPS</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Global Ambassador</b> - World Packaging Organisation</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <!-- <div class="modal xt-black fade" id="spk1013" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Dr. Jaya Abraham</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Sr. VP R&D </b> - Harman Finochem</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <!-- <div class="modal xt-black fade" id="spk1027" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Ankesh Jain</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b> Director - Sales and Marketing</b> - Panacea Biotec</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1025" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Dr. Anuj Gupta</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>SR. VP Head - Products and Insights</b> - THB</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1009" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> B.R. Sikri</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Co-Chairman</b> - Federation of Pharma Entrepreneurs</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1019" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Bharat Bhushan Rathi</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Head – Logistics</b> - Mankind Pharma</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1016" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Dr. Chidambaram Mandan</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Senior General Manager - R&D (Catalyst & Chemicals)</b> -
                                                Hindustan Platinum</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1006" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Dhileep Krishnamurthy</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Global Senior Advisor Pharma</b> - Independent Consultant</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1010" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Dr. Dinesh Dua</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Executive Director</b> - Nectar Lifesciences</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1008" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Dr. Rakeshwar Bandichhor</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Vice President and Head of Chemistry</b> - API-PR&D IPDO, Dr.
                                                Reddy’s Laboratories Limited</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1003" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Dr. Sanjit Singh Lamba</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Chief Executive Officer</b> - Valence</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1024" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Karun Gaur</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Vice President</b> - Dr. Reddy's Laboratories</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1017" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Dr. Maya Sharma</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Global Medical Director</b> - Win Medicare, Modi Mundipharma &
                                                Signutra</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <!-- <div class="modal xt-black fade" id="spk1014" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Dr. Narendra Ambhaikar</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Vice President - R&D</b> - Neuland Laboratories Limited</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1002" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Pushpa Vijayaraghavan</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Director – Healthcare</b> - Sathguru Management Consultants
                                            </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1015" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Samuel Samson</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Head - Pharmaceuticals and Life Sciences Vertical</b> -
                                                Siemens Ltd.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <!-- <div class="modal xt-black fade" id="spk1021" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Dr. Shibu Vijayan</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Global TB Technical Director</b> - PATH</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal xt-black fade" id="spk1022" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> Suresh Patatthil</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>General Manager</b> - Abbvie India</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <!-- <div class="modal xt-black fade" id="spk1026" data-backdrop="static"
                                data-keyboard="false" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header"><button type="button" class="close modalclose"
                                                data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Dr. Viranchi Shah</h4>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p><b>Director</b> - Saga Laboratories</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<br />
<br />
