<nav id="sidebar" >
    <br><br>
    <ul class="list-unstyled components mb-5">
      <li>
        <a routerLink="dashboard" id="sidebarDashboard"><img loading="eager" src="" id="speedmeter">
          &nbsp; <span>Dashboard</span></a>
      </li>
      <li>
        <a routerLink="registered-user" id="sidebarDashboard"><img loading="eager" src="assets/img/usericon.png" id="speedmeter">
          &nbsp;<span> Users</span></a>
      </li>
      <li>
        <a routerLink="non-registered-user" id="sidebarDashboard"><img loading="eager" src="assets/img/nonregisteruse.png"
            id="speedmeter">
          &nbsp; <span>Non Registered User</span></a>
      </li>

      <li>
        <a routerLink="tracking-link" id="sidebarDashboard"><img loading="eager" src="assets/img/trackinglink.png"
            id="speedmeter">
          &nbsp;<span>Tracking Link</span></a>
      </li>
    </ul>
  </nav>