<div class="section section7 p-lg-5" id="cc1">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-4"*ngIf="!isMobileView">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- <img src="assets/UIComponents/images/Justice.svg" alt="" /> -->
          </div>
          <div class="flex-grow-1 ms-3 text-center">
            <img
              src="assets/UIComponents/images/chairman-corner/videos.svg"
              alt=""
            />
            <!-- <p class="text-start">7 Awards</p> -->
          </div>
        </div>

        <!-- <ul>
          <li>Champion Judge of Judges</li>
          <li>Excellence in Human Rights Advocacy</li>
          <li>Gender Equality Champion</li>
          <li>World Woman-in-Law</li>
          <li>Exceptional Public Service in Law</li>
          <li>Outstanding Pro Bono Service in Law</li>
          <li>Global Innovative Legal Practice</li>
        </ul> -->
      </div>
      <div class="col-md-4 border-color"*ngIf="!isMobileView">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- <img src="assets/UIComponents/images/Love.svg" alt="" /> -->
          </div>
          <div class="flex-grow-1 ms-3 text-center">
            <img
              src="assets/UIComponents/images/chairman-corner/messages.svg"
              alt=""
            />
            <!-- <p class="text-start">7 Awards</p> -->
          </div>
        </div>
        <!-- <ul>
          <li>Love Thy Neighborhood Award</li>
          <li>Love Thy Planet Award</li>
          <li>World Animal Lover Award</li>
          <li>World Disabilities Samaritan Award</li>
          <li>Global Great Place to Work Champion</li>
          <li>International Feeding-the-Poor Award</li>
          <li>World’s Happiest Country Award</li>
        </ul> -->
      </div>
      <div class="col-md-4">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <!-- <img src="assets/UIComponents/images/Peace.svg" alt="" /> -->
          </div>
          <div class="flex-grow-1 ms-3 text-center">
            <img
              src="assets/UIComponents/images/chairman-corner/songs.svg"
              alt=""
            />
            <!-- <p class="text-start">7 Awards</p> -->
          </div>
        </div>

        <ul>
          <li>
            <a
              href="https://www.youtube.com/embed/O7G3KQJ7MoE"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/UIComponents/images/youtube.svg" alt="" class="col-1 me-2">Thank You Song</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/embed/l5v1sG3nZKs"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/UIComponents/images/youtube.svg" alt="" class="col-1 me-2">I Love My Family</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/embed/2zG6OIhym60"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="assets/UIComponents/images/youtube.svg" alt="" class="col-1 me-2">Bringing World Peace</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
