<nav class="navbarDots">
  <ul>
    <li>
      <a
        [routerLink]="['/chairman-corner']"
        class="dot active"
        data-scroll=""
      >
        <span>Videos</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/chairman-corner']"
        fragment="cc2"
        class="dot"
        data-scroll="cc2"
      >
        <span>Messages</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/chairman-corner']"
        fragment="cc3"
        class="dot"
        data-scroll="cc3"
      >
        <span>Songs</span>
      </a>
    </li>
  </ul>
</nav>
<main class="index partner">
  <section class="section section7 p-lg-5" id="cc1">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="text-center col-md-12">
          <img
            src="assets/UIComponents/images/chairman-corner/videos.svg"
            class="w-25"
            alt=""
          />
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body">
              <iframe width="100%" height="238" src="https://www.youtube.com/embed/1Rtcz2lNOrw" title="7 HUMAN VALUES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 10px;"></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-md-12 text-end">
          <a style="color: #128940;
          font-size: 20px;
          font-weight: 700;
          line-height: 33.49px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          ">See More...</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section7 p-lg-5" id="cc2">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="text-center col-md-12">
          <img
            src="assets/UIComponents/images/chairman-corner/messages.svg"
            class="w-25"
            alt=""
          />
        </div>

        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-md-12 text-end">
          <a style="color: #128940;
          font-size: 20px;
          font-weight: 700;
          line-height: 33.49px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          ">See More...</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section7 p-lg-5" id="cc3">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="text-center col-md-12">
          <img
            src="assets/UIComponents/images/chairman-corner/songs.svg"
            class="w-25"
            alt=""
          />
        </div>

        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              <iframe width="100%" height="238" src="https://www.youtube.com/embed/O7G3KQJ7MoE" title="Thank You Song" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 10px;"></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              <iframe width="100%" height="238" src="https://www.youtube.com/embed/l5v1sG3nZKs" title="I LOVE MY FAMILY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 10px;"></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              <iframe width="100%" height="238" src="https://www.youtube.com/embed/2zG6OIhym60" title="Bringing World Peace" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border-radius: 10px;"></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="card bg-transparent border-0" >
            <div class="crad-body" style="border-radius: 10px; height: 238px; width: 100%; border: 1px solid #005A93;">
              
            </div>
          </div>
        </div>
        <div class="col-md-12 text-end">
          <a style="color: #128940;
          font-size: 20px;
          font-weight: 700;
          line-height: 33.49px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          ">See More...</a>
        </div>
      </div>
    </div>
  </section>
</main>