<app-peacekeeper-leftpanel></app-peacekeeper-leftpanel>

<div
  id="main"
  class="main body-content"
  [ngStyle]="{ 'margin-left': (isCollapsed || isMobileView) ? '0px' : '220px' }"
>
  <app-peacekeeper-header></app-peacekeeper-header>

  <div class="section">
    <h2 class="main-heading">Preview Badge</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="card border-0">
          <div class="card-body">
            <!-- <img src="assets/UIComponents/images/peacekeeper/Badge.jpg" alt="" class="mb-2 w-100"> -->
            <img
              loading="lazy"
              [src]="peaceBadge"
              class="col-md-8"
              alt=""
              style="border-radius: 15px; border: 1px solid lightgray;"
            />
          </div>

          <button *ngIf="peaceBadge" (click)="openPopup()" class="btn btn-success col-md-8">
            Preview
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isPeaceOn == 0"
  [ngStyle]="{ display: display }"
  class="modal"
  closeLabel="Close"
  id="trustUntrust_alert"
  #trustUntrust_alert
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog come-from-modal new_dialog1 bgModal">
    <div class="modal-content">
      <!-- <button class="modal-close" (click)="closeModal()">X</button> -->

          <div id="capture">
        <ng-container>
          <table class="main w-100" style="margin: auto">
            <tr>
              <td style="position: relative">
                <img loading="eager"
                  [src]="peaceBadge"
                  class="w-100"
                  alt=""
                  width="100px"
                />
              </td>
            </tr>
          </table>

        </ng-container>
      </div>
      <div class="col-md-12 row ms-2 my-3" style="width: 95%">
        <div class="col-6">
          <button
            class="btn btn-success w-100"
            (click)="downloadImage()"
            style="height: 36px; font-size: 13px"
          >
            Download now
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-success w-100"
            (click)="closeModal()"
            style="
              height: 36px;
              font-size: 13px;
              background-color: #ffff;
              color: #198754;
            "
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
