
<div id="MainContent_otherslider" >
<div class="container">
<div class="row">
<h1 class="innerpageheading"></h1>
</div>
</div>
</div>
<section id="MainContent_register" class>
<div id="MainContent_divcontainer" class="container">
<div class="row contentbox"><div class="text col-md-12 col-sm-12 col-xs-12"><div class="heading-section">
<h2 class="mb-4 subheading">FAQs</h2>
<div class=" col-md-12 quans">
<h4>Is this an In-Person Event</h4>
<p>Yes, this event will be held on 25th November 2021 at India Expo Center, Greater Noida, Delhi NCR. </p>
</div>
<div class="col-md-12 quans">
<h4>When will this event be taking place?</h4>
<p>This event will be held concurrently with CPhI India on 25th November 2021 </p>
</div>
<div class=" col-md-12 quans">
<h4>Will this event be conducted with Covid Protocols?</h4>
<p>All our events are conducted with Informa All Secure Protocols &ndash; to learn more <a href="https://www.youtube.com/watch?v=Ofh9JvhZST0"> visit here </a> </p>
</div>
<div class=" col-md-12 quans">
<h4>Can we do Group Bookings for this Conference?</h4>
<p>Yes, for group bookings contact John Sebastian +91 97388 13015 </p>
</div>
</div></div></div>
</div>
</section>