<div
  id="mySidebar"
  class="sidebar text-center"
  [ngClass]="{ collapsed: isCollapsed }"
  *ngIf="!isMobileView"
>
  <div style="border-bottom: 1px solid black; padding: 3px">
    <img src="assets/UIComponents/images/logo.gif" alt="" class="logo" />
  </div>
  <ul class="sidebar-nav mt-3" id="sidebar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/dashboard"
        ><img
          src="assets/UIComponents/images/peacekeeper/dashboard.png"
          alt=""
        />
        <span>Dashboard</span></a
      >
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/edit-badge"
        ><img
          src="assets/UIComponents/images/peacekeeper/edit_Badge_icon.png"
          alt=""
        />
        <span>Edit Badge</span></a
      >
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/preview-badge"
        ><img
          src="assets/UIComponents/images/peacekeeper/eye.svg"
          alt=""
        />
        <span>Preview Badge</span></a
      >
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/sent-invitation"
        ><img src="assets/UIComponents/images/peacekeeper/sent.png" alt="" />
        <span>Sent Invitation</span></a
      >
    </li>
    <!-- <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/invitation-List"
        ><img src="assets/UIComponents/images/peacekeeper/sent.png" alt="" />
        <span> Invitation list</span></a
      >
    </li> -->
    <!-- <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/contact-list"
        ><img src="assets/UIComponents/images/peacekeeper/sent.png" alt="" />
        <span> Contact list</span></a
      >
    </li> -->

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/change-password"
        ><img src="assets/UIComponents/images/peacekeeper/change_password.png" alt="" />
        <span> Change Password</span></a
      >
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/login"
        ><img src="assets/UIComponents/images/peacekeeper/logout.png" alt="" />
        <span>Logout</span></a
      >
    </li>
  </ul>
</div>
