<div class="floating_dots">
  <ul>
    <li>
      <input
        type="radio"
        name="summit"
        id=""
        checked
        [routerLink]="['/the-summit']"
      />
      <p> Highlights of summit</p>
    </li>
    <li>
      <input
        type="radio"
        name="summit"
        id=""
        [routerLink]="['/the-summit']"
        fragment="2"
      />
      <p> Chairman</p>
    </li>
    <!-- <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="3"
      />
      <p> Chief Guest</p>
    </li> -->
    <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="4"
      />
        <p> Speakers</p>
    </li>
    <!-- <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="5"
      />
        <p> Breakup of Invited Speakers</p>
      
    </li> -->
    <!-- <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="6"
      />
        <p> Invited Speakers</p>
    </li> -->
    <!-- <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="7"
      />
        <p> Benefits for Registration</p>
    </li> -->
    <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="8"
      />
        <p> Delegates</p>
    </li>
    <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="9"
      />
        <p> Goals of Summit</p>
    </li>
    <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="10"
      />
        <p> Agenda</p>
    </li>
    <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="11"
      />
        <p>Structured networking</p>
    </li>
    <li>
      <input
        type="radio"
        name="summit"
        [routerLink]="['/the-summit']"
        fragment="12"
      />
        <p>Venue</p>
    </li>
  </ul>
</div>



<!-- main body -->

<main class="index theSumit" id="summitPage">
  <section class="section section2 p-lg-5 py-5" id="1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 my-3">
          <img
            src="assets/UIComponents/images/index/highlights.png"
            alt=""
            width="100%"
            height="auto"
          />
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">1</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">SPEAKERS</h2>
                  <p class="cardP">
                    Crème deLa Crème speakers of international standing
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">2</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">Networking</h2>
                  <p class="cardP">
                    Unique structured networking through app, & face to face,
                    starting from pre-event, during event, & post event.
                    <span class="highlights">110</span> Networking Tables
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">3</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">Awards</h2>
                  <p class="cardP">
                    A glittering ceremony worthy of the highest international
                    Awardees.
                    <span class="highlights">28</span> Awards.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">4</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">DELEGATES</h2>
                  <p class="cardP">2800 delegates</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">5</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">CREDIBILITY</h2>
                  <p class="cardP">
                    Organised by Dr. Huzaifa Khorakiwala (check his profile in
                    PDF, & Website)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">6</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">AMBASSADORS</h2>
                  <p class="cardP">
                    Each delegate will be made GLOBAL JUSTICE, LOVE & PEACE
                    AMBASSADOR
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 my-3">
          <div class="card mainCard">
            <div class="card-body">
              <span class="mb-3 count">7</span>
              <div class="card">
                <div class="card-body">
                  <h2 class="cardHead">PR</h2>
                  <p class="cardP">
                    Wide scale international PR in offline as well as online
                    publication
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section5 px-lg-3 py-5" id="2">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12 mb-5">
          <h2>Chairman</h2>
        </div>
        <div class="col-2">
          <ul class="chairman">
            <li>
              <img
                src="assets/UIComponents/images/Dr-Huz.svg"
                alt=""
                width="100%"
              />
            </li>
            <li>DR. HUZAIFA KHORAKIWALA</li>
            <li>www.dr-huzaifa-khorakiwala.care</li>
          </ul>
        </div>
        <div class="col-7">
          <div class="row align-items-end">
            <div class="col-md-4">
              <ul class="chairman">
                <li>
                  <img
                    src="assets/UIComponents/images/the_summit/Wockhardt.png"
                    alt=""
                  />
                </li>
                <li>Executive Director</li>
                <li>Wockhardt</li>
                <li>( www.wockhardt.com )</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="chairman">
                <li>
                  <img
                    src="assets/UIComponents/images/the_summit/global.png"
                    alt=""
                  />
                </li>
                <li>Chairman</li>
                <li>Global Justice, Love&PeaceSummit</li>
                <li>( www.justice-love-peace.com)</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="chairman">
                <li>
                  <img
                    src="assets/UIComponents/images/the_summit/Wockhardt.png"
                    alt=""
                  />
                </li>
                <li>CEO</li>
                <li>Wockhardt Foundation</li>
                <li>(www.wockhardtfoundation.org)</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="chairman">
                <li>
                  <img
                    src="assets/UIComponents/images/the_summit/mushtaree.png"
                    alt=""
                  />
                </li>
                <li>Chairman</li>
                <li>Mushtaree Technologies</li>
                <li>(https://www.my-eyezzy.com/)</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="chairman">
                <li>
                  <img
                    src="assets/UIComponents/images/the_summit/worldPeacekeepers.png"
                    alt=""
                  />
                </li>
                <li>Founder</li>
                <li>TheWorldPeacekeepers Movement</li>
                <li>
                  (https://www.facebook.com/<br />WorldPeacekeepersMovement)
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="chairman">
                <li>
                  <img
                    src="assets/UIComponents/images/the_summit/bahram.png"
                    alt=""
                  />
                </li>
                <li>Chairman</li>
                <li>Bahram Technologies & Services</li>
                <li>(www.bahramtechnologies.com)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <iframe
            width="100%"
            height="300"
            src="https://www.youtube.com/embed/E09w3q6TO9c"
            title="Global Justice, Love &amp; Peace Summit"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section section3 mt-5 p-lg-5 py-5" id="3" style="height: 80vh">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Chief Guest</h2>
          <img
              src="assets/UIComponents/images/index/chief_guest.png"
              alt=""
              class="mt-4 mb-3"
              width="70%"
            />
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>About The Proposed Chief Guest</h3>
            <p>
              His Highness Sheikh Mohammed bin Rashid Al Maktoum ( born 15
              July 1949) <br />
              is an Emirati politician and royal who is the current ruler of
              Dubai, and serves as the vice president and prime minister.
              Sheikh Mohammed <br />
              succeeded his brother Maktoum bin Rashid Al Maktoum as UAE vice
              president and ruler of Dubai following the latter’s death in
              2006.
            </p>
            <p>
              He oversaw the growth of Dubai into a global city, as well as
              the launch of a number of government-owned enterprises including
              Emirates <br />
              Airline, DP World, and the Jumeirah Group. Some of these are
              held by Dubai Holding. Sheikh Mohammed has overseen the
              development of <br />
              certain projects in Dubai, such as the Palm Islands and the Burj
              Al Arab hotel, as well as Burj Khalifa, the tallest building in
              the world.
            </p>
            <p>
              Sheikh Mohammed is the absolute ruler of Dubai and the prime
              minister of the UAE, a position appointed by the president.
              <br />
              His Highness Sheikh Mohammed bin Rashid Al Maktoum holds a
              legendary position in today’s international politics & world
              affairs.
            </p>
          </div>
        </div>
      </div>
  </section> -->
  <section class="section section6 px-lg-3 py-5" id="4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Speakers 2025</h2>
        </div>
        <div class="col-12 py-4 speakers">
          <div
            id="spekerSlide"
            class="carousel slide w-100"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row justify-content-center">
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img
                          src="assets/UIComponents/images/speakers/speaker1.png"
                        />
                        <h5>Kailash Satyarthi</h5>
                        <h6>Nobel Peace Laureate (2014)</h6>
                        <p>Satyarthi Movement for Global Compassion</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img
                          src="assets/UIComponents/images/speakers/speaker2.png"
                        />
                        <h5>Nadir Godrej</h5>
                        <h6>Industrialist</h6>
                        <p>
                          Chairman & Managing Director, Godrej Industries Ltd
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img
                          src="assets/UIComponents/images/speakers/speaker3.png"
                        />
                        <h5>Leymah Gbowee</h5>
                        <h6>LIBERIA</h6>
                        <p>
                          Nobel Peace <br />
                          Laureate 2011
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img
                          src="assets/UIComponents/images/speakers/speaker4.png"
                        />
                        <h5>Rui Duarte de Barros</h5>
                        <h6>Politician, Economist</h6>
                        <p>Prime Minister, Republic of Guimea-Bissau</p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md mx-3">
                    <ul class="list-unstyled p-0">
                      <li class="p-3 text-center">
                        <img
                          src="assets/UIComponents/images/speakers/speaker5.png"
                        />
                        <h5>P V Sindhu</h5>
                        <h6>Sportsperson, Olympic Medallist</h6>
                        <p>World-ranked Badminton Player</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-success">View All Speakers</button>
        </div>
      </div>
    </div>
  </section>
  <section class="section section7 p-lg-5" id="5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2>BREAKUP OF INVITED SPEAKERS</h2>
        </div>
        <div class="col-md-4">
          <img src="assets/UIComponents/images/speakers/pieChart.png" alt="" />
        </div>
        <div class="col-md-8">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <ul>
                    <li>1</li>
                    <li>UN</li>
                    <li><span class="un"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>1</li>
                    <li>
                      International <br />
                      Body
                    </li>
                    <li><span class="ib"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>2</li>
                    <li>NGO</li>
                    <li><span class="ngo"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>3</li>
                    <li>Ex Government <br />Head</li>
                    <li><span class="exG"></span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>3</li>
                    <li>Royalty</li>
                    <li><span class="royal"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>5</li>
                    <li>
                      Religious <br />
                      Leader
                    </li>
                    <li><span class="rl"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>6</li>
                    <li>Noble Peace <br />Prize Laureate</li>
                    <li><span class="np"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>9</li>
                    <li>Judiciary</li>
                    <li><span class="j"></span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>12</li>
                    <li>Corporate</li>
                    <li><span class="co"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>16</li>
                    <li>Celebrity</li>
                    <li><span class="ce"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>17</li>
                    <li>Sports person</li>
                    <li><span class="sp"></span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>9</li>
                    <li>
                      Government <br />
                      Head of States
                    </li>
                    <li><span class="ghs"></span></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="section section5 p-lg-5 invited" id="6">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12 mb-5">
          <h2>Invited Speakers</h2>
        </div>

        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead style="
              position: sticky;
              top: 0;
          ">
                <tr>
                  <th>Name</th>
                  <th>Profession / position</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of speakers">
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Profession_Position }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <div class="section partner" id="7">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img
                  src="assets/UIComponents/images/the_summit/benefit1.svg"
                  alt=""
                  width="20%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  NETWORKING
                </h6>
                <p>
                  Networking with fellow Ambassadors <br />
                  Through structured networking <br />
                  Format consisting of 280 tables
                </p>
              </li>
              <li class="my-5">
                <img
                  src="assets/UIComponents/images/the_summit/benefit2.svg"
                  alt=""
                  width="20%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  CHARITY
                </h6>
                <p>
                  Feel peace at 28% profits going to “The <br />
                  World Peacekeepers Movement” to <br />
                  spread world peace
                </p>
              </li>
              <li class="my-5">
                <img
                  src="assets/UIComponents/images/the_summit/benefit3.svg"
                  alt=""
                  width="20%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  SPIRITUALITY
                </h6>
                <p>
                  Hear world’s top leaders, including religious <br />
                  leaders in the world & broaden your <br />
                  spirituality
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img
                  src="assets/UIComponents/images/7.png"
                  alt=""
                  class="col-4"
                />
                <p
                  style="
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #005fa5;
                  "
                >
                  BENEFITS FOR REGISTERING AS GLOBAL <br />
                  JUSTICE, LOVE & PEACE AMBASSADOR <br />
                  (Delegates)
                </p>
              </li>
              <li>
                <img
                  src="assets/UIComponents/images/the_summit/benefit7.svg"
                  alt=""
                  width="13%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  CELEBRITIES
                </h6>
                <p>
                  Listen & mingle with <br />
                  world’s top celebrities
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img
                  src="assets/UIComponents/images/the_summit/benefit4.svg"
                  alt=""
                  width="20%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  AMBASSADOR
                </h6>
                <p>
                  Be a Global Justice, Love & peace Ambassadors <br />
                  & play your part in spreading world peace
                </p>
              </li>
              <li class="my-5">
                <img
                  src="assets/UIComponents/images/the_summit/benefit5.svg"
                  alt=""
                  width="20%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  JOY
                </h6>
                <p>
                  Feel inner joy at being part of world’s <br />
                  biggest, private peace movement
                </p>
              </li>
              <li class="my-5">
                <img
                  src="assets/UIComponents/images/the_summit/benefit6.svg"
                  alt=""
                  width="20%"
                />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  INCOME
                </h6>
                <p>
                  Find a way to increase your earnings <br />
                  through better networking
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section partner" id="8">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md-12 text-center">
            <img
              src="assets/UIComponents/images/the_summit/delegates.svg"
              alt=""
              width="30%"
            />
          </div>
          <div class="col-md-12 text-center mt-5">
            <img
              src="assets/UIComponents/images/the_summit/map.svg"
              alt=""
              width="70%"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="section partner" id="9">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/1.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GENTLENESS
                </h6>
                <p>
                  To spread GENTLENESS <br />
                  as language of the world
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/2.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GIANT
                </h6>
                <p>
                  To take GIANT steps in <br />
                  world Justice, Love & Peace
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/3.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GENEROUS
                </h6>
                <p>
                  To create a GENEROUS culture amongst <br />
                  the top personalities of the world
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img
                  src="assets/UIComponents/images/7.png"
                  alt=""
                  class="col-4"
                />
                <p
                  style="
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #005fa5;
                  "
                >
                  GOALS OF THE GLOBAL JUSTICE,<br />
                  LOVE & PEACE SUMMIT
                </p>
              </li>
              <li>
                <img src="assets/UIComponents/images/partners/7.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GLORIOUS
                </h6>
                <p>
                  To make this event as the start of a <br />
                  GLORIOUS chapter in world history
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/4.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GENUINE
                </h6>
                <p>
                  To be GENUINE in our commitments <br />
                  towards Justice, Love & Peace
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/5.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GRATEFUL
                </h6>
                <p>
                  To spread the message that we should be <br />
                  GRATEFUL for the blessings, & bounties <br />
                  in this world
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/6.png" alt="" />
                <h6
                  class="w-50 m-auto"
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25.76px;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #00508c;
                    border-bottom: 1px solid #4a4a49;
                  "
                >
                  GRACEFUL
                </h6>
                <p>
                  To propagate a life, where we <br />
                  are GRACEFUL in all our affairs
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--  -->
  <section class="section section7 p-lg-5" id="10" style="height: auto">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-4 p-lg-5">
          <label for="" class="mb-3">SCHEDULE</label>
          <h1 class="mb-3">
            SCHEDULE <br />
            AND AGENDA
          </h1>
          <p class="mb-3">
            A representation of the event <br />
            planning of Global Summit
          </p>

          <button
            class="btn btn-success p-3 position-relative"
            style="z-index: 9"
          >
            DOWNLOAD SCHEDULE
          </button>
        </div>
        <div class="col-md-8">
          <div class="row align-items-end">
            <div class="col-12 px-lg-5 mx-lg-5">
              <div class="d-flex align-items-center justify-content-between">
                <div class="date">
                  <h3>13 <span>April, Sunday 2025</span></h3>
                  <h5>10:00 AM - 11:00 PM</h5>
                </div>
                <h4 class="location">Grand Hyatt Dubai</h4>
              </div>
              <div
                class="progress my-4"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 25%"></div>
              </div>
            </div>
            <div class="col-12">
              <div id="timeline-content">
                <ul class="timeline">
                  <li class="event" data-date="10:00 AM - 10:30 AM">
                    <h3 class="fw-bold">Registration</h3>
                  </li>
                  <li class="event" data-date="10:30 AM - 11:00 AM">
                    <h3>Opening Session</h3>
                  </li>
                  <li class="event" id="date" data-date="11:00 AM - 12:30 PM">
                    <h3>Session Theme 1 - JUSTICE</h3>
                  </li>

                  <li class="event" data-date="12:30 PM - 2:30 PM">
                    <h3>Launch & Networking</h3>
                  </li>
                  <li class="event" data-date="2:30 PM - 4:00 PM">
                    <h3>Session Theme 2 - LOVE</h3>
                  </li>
                </ul>
              </div>

              <a href="" class="text-decoration-none"
                ><b style="color: rgba(3, 192, 75, 0.623)">See More...</b></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <div class="section partner" id="11">
    <section class="section7 py-lg-5">
      <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/1.png" alt="" />

                <p>
                  or Delegates to ﬁll short proﬁle while <br />
                  registering & Peace Ambassadors All <br />
                  Global Justice, Love
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/2.png" alt="" />

                <p>
                  This ensures every Delegate can see other <br />
                  Delegates proﬁle but without Contact <br />
                  Details
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/3.png" alt="" />

                <p>
                  There is a STRUCTURED NETWORKING <br />
                  room with 110 tables, 55 are pre- <br />booked & 55 are free
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul class="p-0 text-center list-unstyled">
              <li>
                <img
                  src="assets/UIComponents/images/7.png"
                  alt=""
                  class="col-4"
                />
                <p
                  style="
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #005fa5;
                  "
                >
                  UNIQUE POINTS OF STRUCTURED <br />
                  NETWORKING FORMAT
                </p>
              </li>
              <li>
                <img src="assets/UIComponents/images/partners/7.png" alt="" />

                <p>
                  “Greet, seat, meet, & hear <br />
                  the others heart beat”
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md">
            <ul class="p-0 text-center list-unstyled">
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/4.png" alt="" />

                <p>
                  If you wish to meet particular Delegates just <br />
                  send them a private message & book your <br />
                  table with the time period
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/5.png" alt="" />

                <p>
                  Unlike other events, here you can have a <br />
                  more in-depth, & fulﬁlling conversation <br />
                  with those you want to meet
                </p>
              </li>
              <li class="my-5">
                <img src="assets/UIComponents/images/partners/6.png" alt="" />

                <p>
                  Hence, you leave the event <br />
                  with better networks, & <br />
                  connects
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--  -->
  <section class="section section8 p-lg-5 py-5" id="12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 py-4 position-relative map">
          <!-- Top Image -->
          <!-- <img
              src="assets/UIComponents/images/index/map.png"
              alt="Map"
              class="img-fluid w-100"
            /> -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.2606157749346!2d55.32532797483849!3d25.22814563044756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d46f88c69a3%3A0xbdd27b1c33c3af0d!2sGrand%20Hyatt%20Dubai!5e0!3m2!1sen!2sin!4v1732707606020!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>

          <!-- Second Image -->
          <img
            src="assets/UIComponents/images/index/GHD.png"
            alt="Second Image"
            class="position-absolute second-image"
            style="z-index: 91"
          />
        </div>

        <div class="col-12 py-4 text-center">
          <!-- Map Image -->

          <!-- Clickable Text -->
          <p class="pt-1">
            <a
              href="https://www.google.com/maps/dir/?api=1&destination=Grand+Hyatt+Dubai"
              target="_blank"
              rel="noopener noreferrer"
              style="
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-family: Dinpro;
              "
            >
              <h2 class="col-5 text-white">
                Click on the map and find the route to reach the hotel.
              </h2>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
