<nav class="navbarDots">
  <ul>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        class="dot active"
        data-scroll="dc1"
      >
        <span>Mission & Pledge</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc2"
        class="dot"
        data-scroll="dc2"
      >
        <span>The Summit of 28</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc3"
        class="dot"
        data-scroll="dc3"
      >
        <span>The Number 28</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc4"
        class="dot"
        data-scroll="dc4"
      >
        <span>7 Pillars of Justice</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc5"
        class="dot"
        data-scroll="dc5"
      >
        <span>7 Causes of world conflict</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc6"
        class="dot"
        data-scroll="dc6"
      >
        <span>7 Quotes of inner peace</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc7"
        class="dot"
        data-scroll="dc7"
      >
        <span>28 Gems of world peace</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc8"
        class="dot"
        data-scroll="dc8"
      >
        <span>We are One</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc9"
        class="dot"
        data-scroll="dc9"
      >
        <span>Chairs for Delegates</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc10"
        class="dot"
        data-scroll="dc10"
      >
        <span>28 Poems</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/DownloadCenter']"
        fragment="dc11"
        class="dot"
        data-scroll="dc11"
      >
        <span>28 Sayings</span>
      </a>
    </li>
  </ul>
</nav>

<div class="section" id="dc1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <img
          src="assets/UIComponents/images/download center/download.svg"
          alt=""
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</div>
<div class="section section7 p-lg-5 p-0" id="dc2">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3 text-center">
        <img
          src="assets/UIComponents/images/awards/28awards.svg"
          alt=""
          class="col-md-12 col-5 my-3 my-lg-0"
        />
      </div>
      <div class="col-md-9">
        <img
          src="assets/UIComponents/images/download center/download1.svg"
          alt=""
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
<div class="section section7" id="dc3">
  <div class="row">
    <div class="col-md-12">
      <img
        src="assets/UIComponents/images/download center/dcBg3.svg"
        alt=""
        width="100%"
      />
    </div>
    <!-- <div class="col-md-4">
        <ul class="" style="list-style-type: none">
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block"
                >1</span
              >
              <b
                >It is a perfect number. In number theory, a perfect number
                is a positive integer that is equal to the sum of its
                positive proper divisors, that is, divisors excluding the
                number itself. For instance, 6 has proper divisors 1, 2 and
                3, and 1 + 2 + 3 = 6, so 6 is a perfect number. The next
                perfect number is 28, since 1 + 2 + 4 + 7 + 14 = 28</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">2</span
              ><b
                >There are 28 Mansions of the Moon, which show the progress
                of the moon against the fixed stars.</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">3</span
              ><b>There are 28 letters in the Arabic language</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">4</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">5</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">6</span
              ><b>The Sun's gravity is 28 times the earth.</b>
            </h5>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <img src="assets/UIComponents/images/awards/28awards.png" alt="" width="100%" />
      </div>
      <div class="col-md-4">
        <ul class="" style="list-style-type: none">
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block"
                >7</span
              >
              <b
                >It is a perfect number. In number theory, a perfect number
                is a positive integer that is equal to the sum of its
                positive proper divisors, that is, divisors excluding the
                number itself. For instance, 6 has proper divisors 1, 2 and
                3, and 1 + 2 + 3 = 6, so 6 is a perfect number. The next
                perfect number is 28, since 1 + 2 + 4 + 7 + 14 = 28</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">8</span
              ><b
                >There are 28 Mansions of the Moon, which show the progress
                of the moon against the fixed stars.</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">9</span
              ><b>There are 28 letters in the Arabic language</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">10</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">11</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">12</span
              ><b>The Sun's gravity is 28 times the earth.</b>
            </h5>
          </li>
        </ul>
      </div> -->
  </div>
</div>
<div class="section section7" id="dc4">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-12 p-0">
        <img
          src="assets/UIComponents/images/download center/dcBg4.svg"
          alt=""
          width="100%"
        />
      </div>
      <!-- <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/reaward.png" alt="" />
              <p>
                REWARD <br />
                THE GOOD
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/punish.png" alt="" />
              <p>
                PUNISH THE <br />
                WRONG
              </p>
            </li>
            <li class="my-5">
              <img
                src="assets/UIComponents/images/download center/speak up.png"
                alt=""
              />
              <p>
                SPEAK UP FOR <br />
                TRUTH
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/pillars.png"
                alt=""
                class="col-7"
              />
            </li>
            <li class="mt-5">
              <img src="assets/UIComponents/images/download center/time.png" alt="" />
              <p>
                GIVE VERDICT THROUGH PATIENCE & DEEP <br />ANALYSIS BUT DO
                NOT DELAY IT
              </p>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/evil.png" alt="" />
              <p>
                DO NOT SUPPORT <br />
                EVIL OR WICKED
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/justice.png" alt="" />
              <p>
                DO NOT BRIBE TO <br />
                DO IN JUSTICE
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/poor.png" alt="" />
              <p>
                FIGHT FOR THE <br />
                POOR
              </p>
            </li>
          </ul>
        </div> -->
    </div>
  </div>
</div>
<div class="section section7" id="dc5">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-12 p-0">
        <img
          src="assets/UIComponents/images/download center/dcBg5.svg"
          alt=""
          width="100%"
        />
      </div>
      <!-- <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/religen.png" alt="" />
              <p>Religion</p>
            </li>
            <li class="my-5">
              <img
                src="assets/UIComponents/images/download center/politics.png"
                alt=""
              />
              <p>Politics</p>
            </li>
            <li class="my-5">
              <img
                src="assets/UIComponents/images/download center/intolarance.png"
                alt=""
              />
              <p>Intolerance</p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/7.png"
                alt=""
                class="col-7 w-50"
              />
            </li>
            <li class="mt-5">
              <img src="assets/UIComponents/images/download center/msg.png" alt="" />
              <p>Misunderstandings</p>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/race.png" alt="" />
              <p>Race</p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/greed.png" alt="" />
              <p>Greed</p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/lack.png" alt="" />
              <p>Lack of spirituality</p>
            </li>
          </ul>
        </div> -->
    </div>
  </div>
</div>
<div class="section section7" id="dc6">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-12 p-0">
        <img
          src="assets/UIComponents/images/download center/dcBg6.svg"
          alt=""
          width="100%"
        />
      </div>
      <!-- <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.1.png" alt="" />
              <p>
                <b>GRATITUDE</b><br />
                Increases blessing
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.2.png" alt="" />
              <p>
                <b> FORGIVENESS</b><br />
                is a divine attribute
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.3.png" alt="" />
              <p>
                <b>LOVING</b><br />
                one another is half of wisdom
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/7-1.png"
                alt=""
              />
            </li>
            <li class="mt-5">
              <img
                src="assets/UIComponents/images/download center/humunity.png"
                alt=""
              />
              <p>
                <b>HUMILITY</b><br />
                is the best dress
              </p>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.4.png" alt="" />
              <p>
                <b> TRUTH</b><br />
                is the harmony of <br />
                thoughts, words & actions
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.5.png" alt="" />
              <p>
                <b> PATIENCE </b><br />
                is half of faith
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.6.png" alt="" />
              <p>
                A life of GIVING is the <br />
                only life worth living
              </p>
            </li>
          </ul>
        </div> -->
    </div>
  </div>
</div>
<div class="section section7 py-lg-5" id="dc7">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="text-center">
        <img
          src="assets/UIComponents/images/download center/header-1.png"
          class="w-25"
          alt=""
        />
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img
            src="assets/UIComponents/images/download center/game-1.png"
            class="mt-5 w-75"
            alt=""
          />
        </div>
        <div class="col-md-7">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Reduction of defence budgets
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Upholding human rights
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Race, gender, caste, and culture equality
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Abolition of child, drug, and woman trafficking and child labour
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Promotion of travel, tourism, cross-cultural, and cross-national
                exchanges
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Inclusive constitutional identity of nations
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Introduction of worldwide values based education
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img
            src="assets/UIComponents/images/download center/game-2.png"
            class="mt-5 w-75"
            alt=""
          />
        </div>
        <div class="col-md-7">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Justice - Fair treatment and equality for all
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Integrity - Upholding moral and ethical principles
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Freedom - The right to live without oppression or fear
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Responsibility - Accountability for one's actions
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Respect - Valuing the rights and dignity of others
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Order - Maintaining societal structures and rules for peace
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Compassion - Balancing law with empathy for humanity
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img
            src="assets/UIComponents/images/download center/game-3.png"
            class="mt-5 w-75"
            alt=""
          />
        </div>
        <div class="col-md-2">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Communication
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Co-creation
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Clarity
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Co-creation
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Co-existence
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Clarity
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Conscience
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img
            src="assets/UIComponents/images/download center/game-4.png"
            class="mt-5 w-75"
            alt=""
          />
        </div>
        <div class="col-md-2">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Gratitude
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Forgiveness
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Love
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Humility
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Giving
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="p-0 list-unstyled mt-5">
            <li class="my-1">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Patience
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                />
                Truth
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section7 py-lg-5" id="dc8">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="text-center">
        <img
          src="assets/UIComponents/images/download center/header-2.svg"
          class="w-25"
          alt=""
        />
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul class="p-0 text-center list-unstyled mt-5">
            <li>
              <h5>
                <img
                  src="assets/UIComponents/images/download center/7.svg"
                  alt=""
                />
              </h5>
            </li>

            <li class="my-2">
              <h2><b style="color: #00508c">meanings</b></h2>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>Our goal is one</b>
              </h4>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>We help each other</b>
              </h4>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>The success of our colleagues makes us happy</b>
              </h4>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b> We interact with each other with love</b>
              </h4>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>We avoid jealousy</b>
              </h4>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>We shun anger</b>
              </h4>
            </li>
            <li class="my-4">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b> We consider World Peacekeepers as a part of our family</b>
              </h4>
            </li>
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
<div class="section section7" id="dc9">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-12 p-0">
        <img
          src="assets/UIComponents/images/download center/dcBg8.svg"
          alt=""
          width="100%"
        />
      </div>
      <!-- <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-2.png" alt="" />
              <p>
                GRATITUDE <br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-3.png" alt="" />
              <p>
                FORGIVENESS <br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-4.png" alt="" />
              <p>
                Love <br />
                <small> chair</small>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/header-4.png"
                alt=""
                class="col-7 w-25"
              />
              <p><small>Global Justice, Love & Peace Ambassadors</small></p>
            </li>
            <li class="mt-5">
              <img src="assets/UIComponents/images/download center/chair1.png" alt="" />
              <p>
                HUMILITY <br />
                <small>chair</small>
              </p>
            </li>
            <li class="">
              <h3>
                <b style="color: #00508c"
                  >SELECT THE CHAIR YOU WOULD LIKE TO SIT</b
                >
              </h3>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-5.png" alt="" />
              <p>
                TRUTH<br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-6.png" alt="" />
              <p>
                PATIENCE<br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-7.png" alt="" />
              <p>
                GIVING<br />
                <small> chair</small>
              </p>
            </li>
          </ul>
        </div> -->
    </div>
  </div>
</div>

<div class="section section7 px-lg-5 poen" id="dc10">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-12">
        <ul class="p-0 text-center list-unstyled">
          <li>
            <img
              src="assets/UIComponents/images/download center/header-5.png"
              alt=""
              class="col-md-3 col-6"
            />
          </li>
        </ul>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"><span class="count">1</span></div>
              <div class="col-11">
                <h5 class="mb-3">
                  <b>The Triangle of Justice, Love & Peace!</b>
                </h5>
                <p>
                  Powerful words like Global Justice, Love & Peace are the
                  climax of today's Summit; <br />
                  Involve one's whole soul & together to these words commit.
                </p>
                <p>
                  Spreading these words through this world's largest private
                  event on Global Justice, Love & Peace is our mission;<br />
                  This is our conveyor Dr Huzaifa Khorakiwalla's foresighted
                  vision.
                </p>
                <p>
                  The language of the world is full of dark harsh actions;<br />
                  Across our manmade globe sections.
                </p>
                <p>
                  We are living in a forest of missiles, tañks & rockets;<br />
                  While some of the nations just filling up their pockets.
                </p>
                <p>
                  Come let us join hands to change this blood stained earth;<br />
                  Let Justice, Love & Peace flow & show its worth.
                </p>
                <p>
                  Inner peace much needed has 7 quotes such as Gratitude,
                  Forgiveness, Loving, Humility, Giving, Patience & Truth;<br />
                  Let's sow these 7 seeds and relish their fruit,
                </p>
                <p>
                  We assemble here today to bring together voices from around
                  the world in the spirit of understanding & unity;<br />
                  Come people do bring in a change or for mankind it is truly a
                  pity.
                </p>
                <p>
                  Why then in the struggle of life so many fights for different
                  types of power?<br />
                  And lo! when he dies, he just exits with a white cover.
                </p>
                <p>
                  A reminder to stay calm and grounded;<br />
                  Regardless the chaos so we think of the pigeon bird when
                  hounded.
                </p>
                <p>
                  Our philosophy is where every smile counts;<br />
                  Let's walk together miles ahead and indeed Justice, Love &
                  Peace will mount!
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer pb-0 px-0">
            <div class="row justify-content-end">
              <div class="col-md-6">
                <p class="text-start fw-bold py-2">
                  By : Tasneem Nasrulla, <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"><span class="count">2</span></div>
              <div class="col-11">
                <h5 class="mb-3">
                  <b> Voice from the War Zone : </b>
                </h5>
                <p>I am tired I am exhausted!</p>
                <p>My eyes are sore seeing the blood stains day and night,</p>
                <p>
                  My ears echoes of the loud noises of rockets and missiles,
                </p>
                <p>My nose can only smell gunpowder ,</p>
                <p>My mouth is dry by constantly calling for help,</p>
                <p>My feet are parched running helter skelter,</p>
                <p>My fingers carry pain for they are always wiping tears ,</p>
                <p>My whole soul together is in great trauma,</p>
                <p>But my heart is the only organ which has some hope,</p>
                <p>Hope that one day there will be Justice Peace and Love!</p>
                <p>
                  Thus this Global Summit of Justice, Love and Peace is to bring
                  the needed change. So that these voices can have sweet
                  memories of what they are doing, and their heart's desire
                  comes true¡
                </p>
              </div>
            </div>
          </div>

          <div class="card-footer pb-0 px-0">
            <div class="row justify-content-end">
              <div class="col-md-6">
                <p class="text-start fw-bold py-2">
                  By: Tasneem Nasrulla, <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"><span class="count">3</span></div>
              <div class="col-11">
                <h5 class="mb-3">
                  <b>The Silent One</b>
                </h5>
                <p>
                  They walk amongst us, but in silent ways, <br />
                  spreading peace and love without any praise. <br />
                  When thunder roars and lightning strikes in rain <br />
                  they watch over us, healing bleeding pain.
                </p>
                <p>
                  Yet we do not see their celestial light, <br />
                  nor do they shed feathers within our sight.<br />
                  Happy to hide behind unknown faces,<br />
                  empathy guides them to deprived places.
                </p>
                <p>
                  Heal and soothe, they prevent tears from flowing,<br />
                  touch our hearts to leave our spirits glowing.<br />
                  From Sydney to London, Rome to Bombay,<br />
                  provide moments that take our breath away
                </p>
                <p>
                  Their acts of grace form a ripple effect,<br />
                  kind gestures that help people to connect.
                </p>
              </div>
            </div>
          </div>

          <div class="card-footer pb-0 px-0">
            <div class="row justify-content-end">
              <div class="col-md-6">
                <p class="text-start fw-bold py-2">
                  By : Ivor Gurney (The Silent One), <span>United Kingdom</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"><span class="count">4</span></div>
              <div class="col-11">
                <h5 class="mb-3">
                  <b> A Japanese Poem on Forgiveness:</b>
                </h5>
                <p>Beneath autumn skies,</p>
                <p>Leaves fall, their whispers softened, Echoes of the past.</p>
                <p>A stream forgets stones,</p>
                <p>Flowing freely to the sea, So must the heart heal.</p>
                <p>In the quiet dawn,</p>
                <p>Wounds fade like fleeting shadows, Light embraces all.</p>
              </div>
            </div>
          </div>

          <div class="card-footer pb-0 px-0">
            <div class="row justify-content-end">
              <div class="col-md-6">
                <p class="text-start fw-bold py-2">
                  By: Alceu Da Silva Moreira, <span>Angola / Canada</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"><span class="count">5</span></div>
              <div class="col-11">
                <h5 class="mb-3">
                  <b>Good and Evil</b>
                </h5>
                <p>
                  Good & evil always having a fight, <br />
                  Both say I am the right.
                </p>
                <p>
                  This time good had a plan, <br />
                  Good took over evil with LOVE which is dormant in his clan.
                </p>
                <p>
                  Evil's heart melted & his weapons fell down with a bang,<br />
                  Soon evil became good & they both with the harp a happy song
                  sang.
                </p>
              </div>
            </div>
          </div>

          <div class="card-footer pb-0 px-0">
            <div class="row justify-content-end">
              <div class="col-md-6">
                <p class="text-start fw-bold py-2">
                  By : Tasneem Nasrulla, <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1"><span class="count">5</span></div>
              <div class="col-11">
                <h5 class="mb-3">
                  <b>The Love Bug in the Greek World</b>
                </h5>
                <p>
                  Love is believed to be from the creator a precious gift;<br />
                  It is a blessing to us for our happiness to lift.
                </p>
                <p>
                  Love is not just a simple four letter word to treasure;<br />
                  But it is hidden with many complexities with which one must
                  measure.
                </p>
                <p>
                  In Greek,love is defined in four different forms; <br />
                  So I paint it in my poem as a standard norm.
                </p>
                <p>
                  Agape is noted to be love in a spiritual sense,the
                  unconditional love of God for his creation dear;<br />
                  It can be compared to the illusion from a transparent glass as
                  all very clear.
                </p>
                <p>
                  Euros denotes the passionate,the physical longing & desire in
                  a romantic mood;<br />
                  It's for the hungry souls the ultimate food.
                </p>
                <p>
                  Philia is a type of general feeling of love between families &
                  friends;<br />
                  It has lot to do with giving & taking which is the usual
                  trend.
                </p>
                <p>
                  Storge seems to be the natural affection like the love felt by
                  parents for their off springs;<br />
                  Which together tender caring brings.
                </p>
                <p>
                  Love is like the serene crystal lake;<br />
                  But once you throw pebbles, ripples it will make.
                </p>
                <p>
                  Love is like a sparkling fire which gives warmth to the
                  cold;<br />
                  But if played with it, burns will be shown bold.
                </p>
                <p>
                  Love comes to each one of us in different coloured shades;<br />
                  And as days go by, the colour away to another shade wades.
                </p>
                <p>
                  Love is for each one a beautiful dream;<br />
                  Let each one find his own beam!
                </p>
              </div>
            </div>
          </div>

          <div class="card-footer pb-0 px-0">
            <div class="row justify-content-end">
              <div class="col-md-6">
                <p class="text-start fw-bold py-2">
                  By : Tasneem Nasrulla, <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section7 py-lg-5" id="dc11" >
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="text-center">
        <img
          src="assets/UIComponents/images/download center/header-6.png"
          class="col-6 col-md-2"
          alt=""
        />
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="p-0 text-center list-unstyled mt-lg-5">
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>Peace begins with a smile</b>
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>When justice & love walk hand in hand peace follows</b>
              </h4>
            </li>
            <li class="my-2">
              <h4>
                <img
                  src="assets/UIComponents/images/download center/peaceLogo.svg"
                  alt=""
                  class="me-2"
                />
                <b>peace is the melody that justice & love compose together</b>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
