<!-- 
<div id="MainContent_otherslider" >
<div class="container">
<div class="row">
<h1 class="innerpageheading"></h1>
</div>
</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
                  <br>  Coming Soon....
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <section id="MainContent_register" class>
<div id="MainContent_divcontainer" class="container">
<div class="row contentbox"><div class="text col-md-12 col-sm-12 col-xs-12"><div class="container">
<div class="row justify-content-center pb-4">
<div class="col-md-4 col-sm-4" style="text-align: center;">
<a ><img alt src="../../../../assets/images/downloada-bc.png" /></a>
<p class="db">Download Brochure</p>
<a  class="nav-btn2 hyjk"  routerLink="/Brochure" style="color: aliceblue;">DOWNLOAD</a>
</div>
<div class="col-md-4 col-sm-4" style="text-align: center;">
<a ><img alt src="assets/images/downloada-bc.png" /></a>
<p class="db" >Download Sales Brochure</p>
<a  class="nav-btn2 hyjk" routerLink="/salesbrochure"  style="color: aliceblue; ">DOWNLOAD</a>
</div>
<div class="col-md-4 col-sm-4">
</div>
</div>
</div></div></div>
</div>
</section> -->

<!-- <section id="MainContent_register" class> -->
<!-- <div id="MainContent_divcontainer" class="container"> -->
<!-- <div class="row contentbox"><div class="text col-md-12 col-sm-12 col-xs-12"><div class="container"> -->

<!-- <div class="col-md-4 col-sm-4" style="text-align: center;">
	<a href="downloadbrochure.html"><img alt src="images/downloada-bc.png" /></a>
	<p class="db">Download Brochure</p>
	<a href="downloadbrochure.html" class="nav-btn2 hyjk">DOWNLOAD</a>
	</div>
	<div class="col-md-4 col-sm-4" style="text-align: center;">
	<a href="downloadsalebrochure.html"><img alt src="images/downloada-bc.png" /></a>
	<p class="db">Download Sales Brochure</p>
	<a href="downloadsalebrochure.html" class="nav-btn2 hyjk">DOWNLOAD</a>
	</div> -->

<!-- <p>Coming soon....</p>
	</div></div></div>
	</div>
	</section> -->


<!-- 
<div id="MainContent_otherslider" >
	<div class="container">
		<div class="row">
			<h1 class="innerpageheading"></h1>
		</div>
	</div>
</div> -->
<section id="MainContent_register" >
	<div id="MainContent_divcontainer" class="container">
		<div class="row contentbox">
			<div class="text col-md-12 col-sm-12 col-xs-12">
				<div class="container abc">
					<div class="row">

						<div class="col-md-4 col-sm-4"
							style="text-align: center;     border: 1px solid black; border-radius: 8px;">
							<a [routerLink]="['/Brochure']"><img class="    border: 1px solid black;" alt
									src="assets/images/MicrosoftTeams-image.png" /></a>
							<hr>
							<p class="db">Download Brochure</p>
							<a [routerLink]="['/Brochure']" class="nav-btn2 hyjk"
								style="border-radius: 8px;color: aliceblue;">DOWNLOAD</a>
						</div>&nbsp;
						<div class="col-md-1"></div>
						<div class="col-md-4 col-sm-4"
							style="text-align: center;     border: 1px solid black;  border-radius: 8px;box-shadow: 4px;">
							<a [routerLink]="['/salesbrochure']"><img class="    border: 1px solid black;" alt
									src="assets/images/MicrosoftTeams-image.png" /></a>
							<hr>
							<p class="db">Download Sales Brochure</p>
							<a [routerLink]="['/salesbrochure']" class="nav-btn2 hyjk"
								style="border-radius: 8px;color: aliceblue;">DOWNLOAD</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>