<main class="index partner">
  <section class="section">
    <div class=" ">
      <img
        style="width: -webkit-fill-available"
        src="assets/UIComponents/images/download center/download.png"
        alt=""
      />
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center">
        <div class="col-md-3">
          <img
            src="assets/UIComponents/images/awards/28awards.png"
            alt=""
            width="100%"
          />
        </div>
        <div class="col-md-9">
          <img
            src="assets/UIComponents/images/download center/download1.png"
            alt=""
            width="100%"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section7 p-lg-5">
    <div class="row">
      <div class="col-md-4">
        <ul class="" style="list-style-type: none">
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block"
                >1</span
              >
              <b
                >It is a perfect number. In number theory, a perfect number
                is a positive integer that is equal to the sum of its
                positive proper divisors, that is, divisors excluding the
                number itself. For instance, 6 has proper divisors 1, 2 and
                3, and 1 + 2 + 3 = 6, so 6 is a perfect number. The next
                perfect number is 28, since 1 + 2 + 4 + 7 + 14 = 28</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">2</span
              ><b
                >There are 28 Mansions of the Moon, which show the progress
                of the moon against the fixed stars.</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">3</span
              ><b>There are 28 letters in the Arabic language</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">4</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">5</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">6</span
              ><b>The Sun's gravity is 28 times the earth.</b>
            </h5>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <img src="assets/UIComponents/images/awards/28awards.png" alt="" width="100%" />
      </div>
      <div class="col-md-4">
        <ul class="" style="list-style-type: none">
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block"
                >7</span
              >
              <b
                >It is a perfect number. In number theory, a perfect number
                is a positive integer that is equal to the sum of its
                positive proper divisors, that is, divisors excluding the
                number itself. For instance, 6 has proper divisors 1, 2 and
                3, and 1 + 2 + 3 = 6, so 6 is a perfect number. The next
                perfect number is 28, since 1 + 2 + 4 + 7 + 14 = 28</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">8</span
              ><b
                >There are 28 Mansions of the Moon, which show the progress
                of the moon against the fixed stars.</b
              >
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">9</span
              ><b>There are 28 letters in the Arabic language</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">10</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">11</span
              ><b>Menstrual cycle is 28 days.</b>
            </h5>
          </li>
          <li>
            <h5>
              <span class="count me-2" style="display: inline-block">12</span
              ><b>The Sun's gravity is 28 times the earth.</b>
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/reaward.png" alt="" />
              <p>
                REWARD <br />
                THE GOOD
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/punish.png" alt="" />
              <p>
                PUNISH THE <br />
                WRONG
              </p>
            </li>
            <li class="my-5">
              <img
                src="assets/UIComponents/images/download center/speak up.png"
                alt=""
              />
              <p>
                SPEAK UP FOR <br />
                TRUTH
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/pillars.png"
                alt=""
                class="col-7"
              />
            </li>
            <li class="mt-5">
              <img src="assets/UIComponents/images/download center/time.png" alt="" />
              <p>
                GIVE VERDICT THROUGH PATIENCE & DEEP <br />ANALYSIS BUT DO
                NOT DELAY IT
              </p>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/evil.png" alt="" />
              <p>
                DO NOT SUPPORT <br />
                EVIL OR WICKED
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/justice.png" alt="" />
              <p>
                DO NOT BRIBE TO <br />
                DO IN JUSTICE
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/poor.png" alt="" />
              <p>
                FIGHT FOR THE <br />
                POOR
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/religen.png" alt="" />
              <p>Religion</p>
            </li>
            <li class="my-5">
              <img
                src="assets/UIComponents/images/download center/politics.png"
                alt=""
              />
              <p>Politics</p>
            </li>
            <li class="my-5">
              <img
                src="assets/UIComponents/images/download center/intolarance.png"
                alt=""
              />
              <p>Intolerance</p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/7.png"
                alt=""
                class="col-7 w-50"
              />
            </li>
            <li class="mt-5">
              <img src="assets/UIComponents/images/download center/msg.png" alt="" />
              <p>Misunderstandings</p>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/race.png" alt="" />
              <p>Race</p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/greed.png" alt="" />
              <p>Greed</p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/lack.png" alt="" />
              <p>Lack of spirituality</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.1.png" alt="" />
              <p>
                <b>GRATITUDE</b><br />
                Increases blessing
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.2.png" alt="" />
              <p>
                <b> FORGIVENESS</b><br />
                is a divine attribute
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.3.png" alt="" />
              <p>
                <b>LOVING</b><br />
                one another is half of wisdom
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/7-1.png"
                alt=""
                class="col-7 w-25"
              />
            </li>
            <li class="mt-5">
              <img
                src="assets/UIComponents/images/download center/humunity.png"
                alt=""
              />
              <p>
                <b>HUMILITY</b><br />
                is the best dress
              </p>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.4.png" alt="" />
              <p>
                <b> TRUTH</b><br />
                is the harmony of <br />
                thoughts, words & actions
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.5.png" alt="" />
              <p>
                <b> PATIENCE </b><br />
                is half of faith
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/7.6.png" alt="" />
              <p>
                A life of GIVING is the <br />
                only life worth living
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="text-center">
          <img
            src="assets/UIComponents/images/download center/header-1.png"
            class="w-25"
            alt=""
          />
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <img
              src="assets/UIComponents/images/download center/game-1.png"
              class="mt-5 w-75"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Reduction of defence budgets
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Upholding human rights
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Race, gender, caste, and culture equality
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Abolition of child, drug, and woman trafficking and child
                  labour
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Promotion of travet, tourism, cross-cultural, and
                  cross-national exchanges
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Inclusive constitutional identity of nations
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Introduction of worldwide values based education
                </h4>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <img
              src="assets/UIComponents/images/download center/game-2.png"
              class="mt-5 w-75"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  ustice - Fair treatment and equality for all
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Integrity - Upholding moral and ethical principles
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Freedom - The right to live without oppression or fear
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Responsibility - Accountability for one's actions
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Respect - Valuing the rights and dignity of others
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Order - Maintaining societal structures and rules for
                  peace
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Compassion - Balancing law with empathy for humanity
                </h4>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <img
              src="assets/UIComponents/images/download center/game-3.png"
              class="mt-5 w-75"
              alt=""
            />
          </div>
          <div class="col-md-2">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Communication
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Co-creation
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Clarity
                </h4>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Co-creation
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Co-existence
                </h4>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Clarity
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Conscience
                </h4>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <img
              src="assets/UIComponents/images/download center/game-4.png"
              class="mt-5 w-75"
              alt=""
            />
          </div>
          <div class="col-md-2">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Gratitude
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Forgiveness
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Love
                </h4>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Humility
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Giving
                </h4>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="p-0 list-unstyled mt-5">
              <li class="my-1">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Patience
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  Truth
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="text-center">
          <img
            src="assets/UIComponents/images/download center/header-2.png"
            class="w-25"
            alt=""
          />
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ul class="p-0 text-center list-unstyled mt-5">
              <li>
                <h5>
                  <span class="count1 me-2" style="display: inline-block"
                    >7</span
                  >
                </h5>
              </li>

              <li class="my-2">
                <h2><b style="color: #00508c">meanings</b></h2>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>Our goal is one</b>
                </h4>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>We help each other</b>
                </h4>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>The success of our colleagues makes us happy</b>
                </h4>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b> We interact with each other with love</b>
                </h4>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>We avoid jealousy</b>
                </h4>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>We shun anger</b>
                </h4>
              </li>
              <li class="my-4">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>
                    We consider World Peacekeepers as a part of our
                    family</b
                  >
                </h4>
              </li>
            </ul>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-2.png" alt="" />
              <p>
                GRATITUDE <br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-3.png" alt="" />
              <p>
                FORGIVENESS <br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-4.png" alt="" />
              <p>
                Love <br />
                <small> chair</small>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/header-4.png"
                alt=""
                class="col-7 w-25"
              />
              <p><small>Global Justice, Love & Peace Ambassadors</small></p>
            </li>
            <li class="mt-5">
              <img src="assets/UIComponents/images/download center/chair1.png" alt="" />
              <p>
                HUMILITY <br />
                <small>chair</small>
              </p>
            </li>
            <li class="">
              <h3>
                <b style="color: #00508c"
                  >SELECT THE CHAIR YOU WOULD LIKE TO SIT</b
                >
              </h3>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="p-0 text-center list-unstyled">
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-5.png" alt="" />
              <p>
                TRUTH<br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-6.png" alt="" />
              <p>
                PATIENCE<br />
                <small> chair</small>
              </p>
            </li>
            <li class="my-5">
              <img src="assets/UIComponents/images/download center/chair-7.png" alt="" />
              <p>
                GIVING<br />
                <small> chair</small>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-md"></div>
        <div class="col-md-5">
          <ul class="p-0 text-center list-unstyled">
            <li>
              <img
                src="assets/UIComponents/images/download center/header-5.png"
                alt=""
                class="col-7 w-75"
              />
            </li>
            <li class="mt-5"></li>
            <br /><br />
            <li class="mt-5"></li>
            <br /><br />
            <li class="mt-5"></li>
            <br /><br />
            <li class="mt-5"></li>
            <br /><br />
            <li class="mt-5"></li>
            <br /><br />
          </ul>
        </div>

        <div class="col-md"></div>
      </div>
    </div>
  </section>
  <section class="section7 py-lg-5">
    <div class="container-fluid h-100">
      <div class="row align-items-center justify-content-center h-100">
        <div class="text-center">
          <img
            src="assets/UIComponents/images/download center/header-6.png"
            class="w-25"
            alt=""
          />
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ul class="p-0 text-center list-unstyled mt-5">
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>Peace begins with a smile</b>
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b>When justice & love walk hand in hand peace follows</b>
                </h4>
              </li>
              <li class="my-2">
                <h4>
                  <img
                    src="assets/UIComponents/images/download center/Vector.png"
                    alt=""
                  />
                  <b
                    >peace is the melody that justice & love compose
                    together</b
                  >
                </h4>
              </li>
            </ul>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </section>
</main>