<nav class="navbarDots">
  <ul>
    <li>
      <a [routerLink]="['/awards']" class="dot active" data-scroll="aw1">
        <span>Award Categories</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/awards']"
        fragment="aw2"
        class="dot"
        data-scroll="aw2"
      >
        <span>Nominees</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/awards']"
        fragment="aw3"
        class="dot"
        data-scroll="aw3"
      >
        <span>Awards Research Committee</span>
      </a>
    </li>
  </ul>
</nav>
<div class="index awards">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <section class="section section4 py-lg-5" id="aw1">
          <div class="container-fluid h-100">
            <div class="row align-items-center">
              <div class="col-md-12 mb-4">
                <h1>Global Justice, Love & Peace Champions</h1>
              </div>
              <div class="col-md-2">
                <img loading="eager"
                  src="assets/UIComponents/images/awards/28awards.png"
                  alt="attach image"
                  width="100%"
                />
              </div>
              <div class="col-md-10">
                <div class="row align-items-center justify-content-center">
                  <div class="col-md-4">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img loading="eager"
                          src="assets/UIComponents/images/Justice.svg"
                          alt="attach image"
                        />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6>JUSTICE Awards</h6>
                        <p class="text-start">7 Awards</p>
                      </div>
                    </div>

                    <ul>
                      <li>Champion Judge of Judges</li>
                      <li>Excellence in Human Rights Advocacy</li>
                      <li>Gender Equality Champion</li>
                      <li>World Woman-in-Law</li>
                      <li>Exceptional Public Service in Law</li>
                      <li>Outstanding Pro Bono Service in Law</li>
                      <li>Global Innovative Legal Practice</li>
                    </ul>
                  </div>
                  <div class="col-md-4 border-color">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img loading="eager" src="assets/UIComponents/images/Love.svg" alt="attach image" />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6>LOVE Awards</h6>
                        <p class="text-start">7 Awards</p>
                      </div>
                    </div>
                    <ul>
                      <li>Love Thy Neighborhood Award</li>
                      <li>Love Thy Planet Award</li>
                      <li>World Animal Lover Award</li>
                      <li>World Disabilities Samaritan Award</li>
                      <li>Global Great Place to Work Champion</li>
                      <li>International Feeding-the-Poor Award</li>
                      <li>World’s Happiest Country Award</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img loading="eager"
                          src="assets/UIComponents/images/Peace.svg"
                          alt="attach image"
                        />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6>PEACE Awards</h6>
                        <p class="text-start">7 Awards</p>
                      </div>
                    </div>

                    <ul>
                      <li>World Peace Organisation Award</li>
                      <li>Inter-faith Dialogue Champion</li>
                      <li>Global Traveller with a Purpose</li>
                      <li>Global Non Violence Award</li>
                      <li>Peace Tech Innovator Award</li>
                      <li>Livelihood Enhancer Award</li>
                      <li>Deep Forgiveness Award</li>
                    </ul>
                  </div>

                  <div class="col-md-12">
                    <h3 class="pt-3 border-top-blue">
                      LIFE-TIME ACHIEVEMENT Awards
                      <span class="ms-lg-5" style="color: #4a4a49"
                        >(7 Awards)</span
                      >
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section4 py-lg-5" id="aw2">
          <div class="container-fluid h-100">
            <div class="row">
              <div class="col-md-12 px-md-5">
                <h2>Nominees</h2>
                <div class="row">
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head justiceLogo">
                            <p>Champion Judge of Judges</p>
                            <ul>
                              <li><span>Navanethem (Navi) Pillay - </span>(South Africa)</li>
                              <li><span>Richard J. Goldstone - </span>(South Africa)</li>
                              <li><span>Saïd Benarbia - </span>(Switzerland)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Excellence in Human Rights Advocacy</p>

                            <ul>
                              <li><span>Alfredo Romero Mendoza - </span>(Venezuela)</li>
                              <li><span>Mariana Mota - </span>(Uruguay)</li>
                              <li><span>Mónica Feria Tinta - </span>(United Kingdom)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Exceptional Public Service in Law</p>

                            <ul>
                              <li><span>Bryan Stevenson - </span>(USA)</li>
                              <li><span>Karim A. A. Khan  - </span>(United Kingdom)</li>
                              <li><span>Louise Arbour - </span>(Canada)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Gender Equality Champion</p>

                            <ul>
                              <li><span>Dr. Amal Abdullah Al Qubaisi - </span>(UAE)</li>
                              <li><span>Dr. Rania A. Al-Mashat - </span>(Egypt)</li>
                              <li><span>Her Royal Highness Princess Reema bint Bandar Al Saud - </span>(Saudi Arabia)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Global Innovative Legal Practice</p>

                            <ul>
                              <li><span>Joe Andrew - </span>(USA)</li>
                              <li><span>Miriam González Durántez - </span>(Spain)</li>
                              <li><span>Richard Susskind - </span>(United Kingdom)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Outstanding Pro Bono Service in Law</p>

                            <ul>
                              <li><span>Claudia Paz y Paz (Claudia Paz y Paz Bailey) - </span>(Guatemala)</li>
                              <li><span>Jody Williams - </span>(USA)</li>
                              <li><span>Ngozi Okonjo-Iweala - </span>(Nigeria)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>World Woman-in-Law</p>

                            <ul>
                              <li><span>Fatou Bensouda - </span>(Gambia)</li>
                              <li><span>Indira Jaising - </span>(India)</li>
                              <li><span>Sonia Sotomayor - </span>(USA)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/loveWhite.svg" alt="justiceWhite" class="me-2">Love Awards</h6></li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head loveLogo">
                            <p>Global Great Place to Work Champion</p>
                            <ul>
                              <li><span>AbbVie - </span>(USA)</li>
                              <li><span>DHL Express - </span>(Germany)</li>
                              <li><span>Hilton - </span>(USA)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>International Feeding-the-Poor</p>

                            <ul>
                              <li><span>Anthony Onyemaechi Elumelu (Tony Elumelu) - </span>(Nigeria)</li>
                              <li><span>Jane Karuku - </span>(Kenya)</li>
                              <li><span>José Ramón Andrés Puerta - </span>(USA / Spain)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>Love Thy Neighbourhood Award</p>

                            <ul>
                              <li><span>Amina J. Mohammed  - </span>(Nigeria)</li>
                              <li><span>Jacinda Ardern  - </span>(New Zealand)</li>
                              <li><span>Maggie Doyne  - </span>(United States, Nepal)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>Love Thy Planet Award</p>

                            <ul>
                              <li><span>Boyan Slat  - </span>(Netherlands)</li>
                              <li><span>Karen Christiana Figueres Olsen - </span>(Costa Rica)</li>
                              <li><span>Severn Cullis-Suzuki - </span>(Canada)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>The World Animal Lover Award</p>

                            <ul>
                              <li><span>Dr. Sylvia Earle - </span>(USA)</li>
                              <li><span>Jane Goodall - </span>(United Kingdom)</li>
                              <li><span>Sir David Attenborough - </span>(United Kingdom)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>World Disabilities Samaritan Award</p>

                            <ul>
                              <li><span>Anthony Robles  - </span>(USA)</li>
                              <li><span>Caroline Casey - </span>(Ireland)</li>
                              <li><span>Dean Lawrence Kamen  - </span>(USA)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>World’s Happiest Country Award</p>

                            <ul>
                              <li><span>Finland</span></li>
                              <li><span>BHUTAN</span></li>
                              <li><span>Iceland</span></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/peaceWhite.svg" alt="justiceWhite" class="me-2">Peace Awards</h6></li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head peaceLogo">
                            <p>Deep Forgiveness Award</p>
                            <ul>
                              <li><span>Dr. Denis Mukwege  - </span>(DRC)</li>
                              <li><span>Ellen Johnson Sirleaf  - </span>(Liberia)</li>
                              <li><span>Immaculée Ilibagiza  - </span>(USA/Rwanda)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>Global Non Violence Award</p>

                            <ul>
                              <li><span>Eleanora (Ela) Gandhi - </span>(South Africa)</li>
                              <li><span>Jody Williams - </span>(USA)</li>
                              <li><span>Priscilla &quot;Scilla&quot; Elworthy - </span>(United Kingdom)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>Global Traveller with a Purpose</p>

                            <ul>
                              <li><span>Gunnar Garfors - </span>(Norway)</li>
                              <li><span>Major Levison James Wood - </span>(United Kingdom)</li>
                              <li><span>Mariana van Zeller - </span>(Portugal)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>Inter-faith Dialogue Champion</p>

                            <ul>
                              <li><span>Cardinal Blase J. Cupich - </span>(UAE)</li>
                              <li><span>Feisal Abdul Rauf - </span>(USA / Egypt)</li>
                              <li><span>Rajiv Malhotra - </span>(USA / India)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>The Livelihood Enhancer Award</p>

                            <ul>
                              <li><span>Andrew Youn  - </span>(USA / Kenya)</li>
                              <li><span>Dr. Jim Yong Kim - </span>(USA / South Korea)</li>
                              <li><span>Roya Mahboob - </span>(Afghanistan)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>The Peace Tech Innovator Award</p>

                            <ul>
                              <li><span>Joy Adowaa Buolamwini  - </span>(USA/Ghana)</li>
                              <li><span>Obiageli Katryn Ezekwesili  - </span>(USA / Nigeria)</li>
                              <li><span>Timnit Gebru  - </span>(USA/Ethiopia)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>World Peace Organisation Award</p>

                            <ul>
                              <li><span>Dr. Markandey Rai - </span>(India)</li>
                              <li><span>Gunter Pauli - </span>(Belgium)</li>
                              <li><span>Juan Manuel Santos - </span>(Colombia)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li><h6 class="col-md-6 m-0 text-white p-2"> LIFE-TIME ACHIEVEMENT Awards</h6></li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head lifetime">
                            <p>Akinwumi Ayodeji Adesinaj <span class="text-dark">(Nigeria)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Annabel Mehta  <span class="text-dark">(United Kingdom)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Bono   <span class="text-dark">(Ireland)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Claudio Grossman    <span class="text-dark">(Uruguay)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Dr. Anthony Fauci   <span class="text-dark">(United States)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Dr. Mohamed ElBaradei <span class="text-dark">(Egypt)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Dr. Sima Samar  <span class="text-dark">(Afghanistan)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Dr. Temple Grandin  <span class="text-dark">(United States)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Graça Simbine Machel  <span class="text-dark">(Mozambique)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Jean-Claude Juncker <span class="text-dark">(Luxembourg)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Joan Carling <span class="text-dark">(Philippines)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>José Alberto Mujica Cordano / "Pepe Mujica" <span class="text-dark">(Uruguay)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>LeBron James  <span class="text-dark">(United States)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Mario Vargas Llosa <span class="text-dark">(Peru)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Mariya Gabriel <span class="text-dark">(Bulgaria)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Pramila Patten <span class="text-dark">(Mauritius)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Prince Alwaleed bin Talal <span class="text-dark">(Saudi Arabia)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Rigoberta Menchú Tum <span class="text-dark">(Guatemala)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Sheikha Lubna Al Qasimi <span class="text-dark">(UAE)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Sir Tim Berners-Lee <span class="text-dark">(United Kingdom)</span></p>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Strive Masiyiwa <span class="text-dark">(Zimbabwe)</span></p>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </section>
        <section class="section section7 p-lg-5 position-relative" id="aw3">
          <div class="container" style="position: relative; z-index: 1">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-12">
                <h2>Awards Research Committee</h2>
                <p class="my-3">
                  All 28 Awards are conferred through a non-biased & meritorious
                  process by a 28-membered Awards Research Committee.
                  These Researchers are across all continents and located in 23
                  countries and are ably qualified to conduct this process
                </p>
                <p class="mb-5">
                  All nominees identify had made a ‘significant’ impact – but
                  could be in any profession –
                  Corporate employee, Entrepreneur, Entertainer, Sportsperson,
                  Lawyer, Investor, Wealth Manager, Community Worker, Activist,
                  
                  Politician, Bureaucrat, Educator, Journalist, Publisher,
                  Health-care Professional, Technocrat, anybody!
                </p>
              </div>

              <div class="col-lg-8">
                <div class="card">
                  <div class="card-body">
                    <h3>
                      Each Awardee has finally been selected based on the
                      following criteria:
                    </h3>
                    <ul class="mt-5 mb-0">
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">1</span><b>Scale</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">2</span><b>Impact</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">3</span><b>Longevity</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">4</span><b>Innovation</b>
                        </h5>
                      </li>
                    </ul>
                    <ul class="mt-lg-5">
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">5</span><b>Sustainability</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">6</span><b>Integrity</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">7</span><b>Courage</b>
                        </h5>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <p class="lastP mt-4">
                  The Global Justice, Love & Peace Summit is committed to the
                  highest level of integrity in the conduct of its Awards
                  Programmes. <br />
                  No financial consideration has been attached to any Award.
                </p>
              </div>
            </div>
          </div>
          <img loading="eager"
            src="assets/UIComponents/images/watermark.png"
            alt="attach image"
            class="position-absolute"
            style="left: 0; bottom: 0; width: 20rem"
            *ngIf="!isMobileView"
          />
          <img loading="eager"
            src="assets/UIComponents/images/watermark.png"
            alt="attach image"
            class="position-absolute"
            style="left: 0; bottom: 0; width: 10rem"
            *ngIf="isMobileView"
          />
        </section>
      </div>
    </div>
  </div>
</div>
