


<section id="MainContent_register" >
    <div id="MainContent_divcontainer" class="container">
        <div class="row  ">
            <div class="text col-md-12 col-sm-12 col-xs-12">

                <section class="position-relative row mx-auto py-md-2 my-5">
                    <div class="row mx-auto mt-5 mt-md-0 ">
                        <div class="col-12 col-md-4 col-xl-4 px-5">
                            <img alt src="assets/images/Picture2.png" class="w-100" />
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 px-5">
                            <h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">Pharma Leadership
                                Roundtable
                                28-Nov, 2023.India Expo Mart
                            </h2>

                            <p class="download-form-para">A closed-door Roundtable has been eminently successful as a
                                strategic gathering of senior management of leading Pharma and Biopharma companies who
                                deep dive into thought-provoking discussions on pharma developments in India</p>
                        </div>

                    </div>
                </section>

                <section class="position-relative row mx-auto py-md-2 my-5">
                    <div class="row mx-auto mt-5 mt-md-0 ">
                        <div class="col-12 col-md-4 col-xl-4 px-5">
                            <img alt src="assets/images/Picture1.png" class="w-100" />
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 px-5">
                            <h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">CPHI & PMEC India
                                28-Nov – 30-Nov 2023.India Expo Mart
                            </h2>

                            <p class="download-form-para">The Indian pharmaceutical market is growing at 15% annually,
                                twice the world market growth rate. While its generics market is growing strong, it is
                                also evolving into a cradle for new drugs. Simply put: as one of the strongest emerging
                                markets in the global pharma industry, India presents great opportunities for all
                                international pharmaceutical companies to explore and benefit from. CPHI & PMEC India
                                represents the platform where international and domestic pharma experts meet to do
                                business, network and shape the future of the Indian and South East Asian pharmaceutical
                                industry.
                                
                                <a style="color: #1fb6fc; cursor: pointer;" target="_blank" 
                                    href="https://www.cphi.com/india/en/attend.html?utm_source=AdWordsutm_medium=PaidSearchutm_campaign=HLN23PMI-SX-2796-S-CPHIIndia-2023-Visprom-B-DCN5BIndia5D&gclid=CjwKCAjwvrOpBhBdEiwAR58-3IpJDna-X0BC6t4U18xQY_Id38yMjI7kdgw899B_rDJE6iYuADwpkhoCRi0QAvD_BwE">
                                    Know more
                                </a>
                            </p>
                        </div>

                    </div>
                </section>

                <section class="position-relative row mx-auto py-md-2 my-5">
                    <div class="row mx-auto mt-5 mt-md-0 ">
                        <div class="col-12 col-md-4 col-xl-4 px-5">
                            <img alt src="assets/images/Picture3.png" class="w-100" />
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 px-5">
                            <h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">Women in Pharma
                                26-Nov, 2023.India Expo Mart
                            </h2>

                            <p class="download-form-para">Embark on a journey toward gender diversity and empowerment at
                                the "Empowering Excellence: Women in Pharma" Conference. Join a gathering of industry
                                leaders, visionaries, and advocates for vibrant discussions focused on strategies that
                                elevate female representation and foster workforce diversity within the pharmaceutical
                                landscape. Also, get an opportunity to explore the transformative potential of inclusive
                                leadership and establishing meaningful connections through engaging breakout sessions.
                                This conference will provide a platform to participate in the meaning discussions
                                related to reshaping the sphere of women's influence in pharma..
                                <a href="assets/images/WIP-Brochure.pdf" style="color: #1fb6fc;cursor: pointer;" target="_blank"> Know more </a>(download brochure)
                            </p>
                        </div>

                    </div>
                </section>

                <section class="position-relative row mx-auto py-md-2 my-5">
                    <div class="row mx-auto mt-5 mt-md-0 ">
                        <div class="col-12 col-md-4 col-xl-4 px-5">
                            <img alt src="assets/images/Picture4.png" class="w-100" />
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 px-5">
                            <h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">
                                Pharma Leader’s Golf
                            </h2>

                            <p class="download-form-para">
                                Corporate Golf is an off beat event that will unite leaders from top pharma companies,
                                Bankers, Professionals from various Industries over a friendly game of golf. Many
                                Business Leaders will get together under the sun for fun and do networking. Pharma
                                Leader Golf is a part of the biggest show India Pharma Week happened concurrently with
                                CPhI & P-MEC
                                <a href="assets/images/Pharma Golf Brochure.pdf" style="color: #1fb6fc;cursor: pointer;" target="_blank"> Know more</a> (download brochure)
                            </p>
                        </div>

                    </div>
                </section>

                <section class="position-relative row mx-auto py-md-2 my-5">
                    <div class="row mx-auto mt-5 mt-md-0 ">
                        <div class="col-12 col-md-4 col-xl-4 px-5">
                            <img alt src="assets/images/Picture5.png" class="w-100" />
                        </div>
                        <div class="col-12 col-md-8 col-xl-8 px-5">
                            <h2 class="mb-4 subheading spo" style="font-size: 23px; text-align: left;">
                                India Pharma Awards 2023
                                28-Nov, 2023.India Expo Mart

                            </h2>

                            <p class="download-form-para">
                                The most awaited Awards of pharmaceutical industry is back. After 9 successful editions,
                                Informa Markets in India is proud to launch its 10th edition of India Pharma Awards on
                                28th November 2023 at India Expo Centre, Greater Noida. For the last 9 editions, India
                                Pharma Awards has recognized brands for their excellence & innovation in pharmaceutical
                                space. This edition promises to bring out the best from the industry champions,
                                stalwarts & visionaries from across the pharma industry. This platform will bring
                                together thought leaders of pharmaceutical industry to celebrate the glory of
                                pharmaceutical companies for their efforts & contribution to this industry. The India
                                Pharma Awards is most transparent & process driven awards and are graded by an eminent
                                panel of jury who are pioneers from various facets of the industry.
                                <a href="https://www.indiapharmaawards.com/" target="_blank" style="color: #1fb6fc;cursor: pointer;">
                                Know more </a>
                            </p><br>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>