<div class="floating_dots">
  <ul>
    <li>
      <a [routerLink]="['/awards']"
        ><span></span>
        <p>Award Categories</p>
      </a>
    </li>
    <li>
      <a [routerLink]="['/awards']" fragment="2"
        ><span></span>
        <p>Awards Research Committee</p>
      </a>
    </li>
  </ul>
</div>
<main class="index awards">
    <section class="section4 py-lg-5" id="1">
      <div class="container-fluid h-100">
        <div class="row align-items-center">
          <div class="col-md-3">
            <img
              src="assets/UIComponents/images/awards/28awards.png"
              alt=""
              width="100%"
            />
          </div>
          <div class="col-md-9">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-4">
                <h6>JUSTICE Awards</h6>
                <p class="text-start">7 Awards</p>
                <ul>
                  <li>Champion Judge of Judges</li>
                  <li>Excellence in Human Rights Advocacy</li>
                  <li>Gender Equality Champion</li>
                  <li>World Woman-in-Law</li>
                  <li>Exceptional Public Service in Law</li>
                  <li>Outstanding Pro Bono Service in Law</li>
                  <li>Global Innovative Legal Practice</li>
                </ul>
              </div>
              <div class="col-md-4 border-color">
                <h6>PEACE Awards</h6>
                <p class="text-start">7 Awards</p>
                <ul>
                  <li>World Peace Organisation Award</li>
                  <li>Inter-faith Dialogue Champion</li>
                  <li>Global Traveller with a Purpose</li>
                  <li>Global Non Violence Award</li>
                  <li>Peace Tech Innovator Award</li>
                  <li>Livelihood Enhancer Award</li>
                  <li>Deep Forgiveness Award</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h6>LOVE Awards</h6>
                <p class="text-start">7 Awards</p>
                <ul>
                  <li>Love Thy Neighborhood Award</li>
                  <li>Love Thy Planet Award</li>
                  <li>World Animal Lover Award</li>
                  <li>World Disabilities Samaritan Award</li>
                  <li>Global Great Place to Work Champion</li>
                  <li>International Feeding-the-Poor Award</li>
                  <li>World’s Happiest Country Award</li>
                </ul>
              </div>
              <div class="col-md-9 border-top-blue mt-4">
                <h2 class="pt-3">
                  LIFE-TIME ACHIEVEMENT Awards
                  <span class="ms-lg-5">(7 Awards)</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section7 p-lg-5" id="2">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <h2>Awards Research Committee</h2>
            <p class="my-5">
              All 28 Awards are conferred through a non-biased & meritorious
              process by a 28-membered Awards Research Committee. <br />
              These Researchers are across all continents and located in 23
              countries and are ably qualified to conduct this process
            </p>
            <p class="my-5">
              All nominees identify had made a ‘significant’ impact – but
              could be in any profession – <br />
              Corporate employee, Entrepreneur, Entertainer, Sportsperson,
              Lawyer, Investor, Wealth Manager, Community Worker, Activist,
              <br />
              Politician, Bureaucrat, Educator, Journalist, Publisher,
              Health-care Professional, Technocrat, anybody!
            </p>
          </div>

          <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <h3>Each Awardee has finally been selected based on the following criteria:</h3>
                <ul class="mt-5">
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">1</span>Scale</h5></li>
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">2</span>Impact</h5></li>
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">3</span>Longevity</h5></li>
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">4</span>Innovation</h5></li>
                </ul>
                <ul class="mt-5">
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">5</span>Sustainability</h5></li>
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">6</span>Integrity</h5></li>
                  <li><h5 class="d-flex align-items-center"><span class="count me-3">7</span>Courage</h5></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <p class="lastP mt-4">The Global Justice, Love and Peace Summit is committed to the highest level of integrity in the conduct of its Awards Programmes. <br> 
              No financial consideration has been attached to any Award.</p>
          </div>
        </div>
      </div>
    </section>
  </main>