<footer id="footer" >
    <div class="ftco-footer">
        <p>&nbsp;</p>
        <div class="container-xl">
            <div class="row mb-5 pb-5 justify-content-between">
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">FOR PARTNERSHIPS, EXHIBIT & SPEAKING OPPORTUNITIES</h2>
                        <div class="block-23 mb-3">
                            <h2 class="ftco-heading-2">Ruchi Kedia</h2>
                            <ul>

                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91
                                            91671 67966</span></a></li>
                                <li><a href="mailto:ruchi.kedia@informa.com"><span
                                            class="icon fa fa-paper-plane"></span><span class="text"><span
                                                class="__cf_email__"
                                                data-cfemail="5f363139301f26302a2d3b30323e3631713c3032">ruchi.kedia@informa.com</span></span></a>
                                </li>
                            </ul>
                        </div><br />

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">For Marketing Alliances or to Register as a Delegate</h2>
                        <div class="block-23 mb-3">
                            <h2 class="ftco-heading-2"> Sheron David</h2>
                            <ul>

                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91
                                    8097044208</span></a></li>
                                <li><a href="mailto:Kamlesh.Tripathi@informa.com"><span
                                            class="icon fa fa-paper-plane"></span><span class="text"><span
                                                class="__cf_email__"
                                                data-cfemail="5f363139301f26302a2d3b30323e3631713c3032">
                                                Sheron.david@informa.com </span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">FOR CONTENT AND SPEAKING OPPORTUNITIES CONTACT</h2>
                        <div class="block-23 mb-3">
                            <h2 class="ftco-heading-2">
                                Vipin Joseph</h2>
                            <ul>

                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91
                                            9637596536</span></a></li>
                                <li><a href="mailto:Vipin.Joseph@informa.com"><span
                                            class="icon fa fa-paper-plane"></span><span class="text"><span
                                                class="__cf_email__"
                                                data-cfemail="5f363139301f26302a2d3b30323e3631713c3032">
                                                Vipin.Joseph@informa.com </span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-container">
    <div class="row copyright-section" style=" background: #525a5c  !important;
        border-top: 1px solid #a5acaf;
        color: #fff;
        font-family: open sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-right: 0;
        line-height: 20px;
        font-family: open sans, sans-serif;
        font-weight: 400;
        position: relative;
        "
        >
        <div class="container-fluid">
            <div class="container about-informa">
                <div>
                    <div class="footerLogo-container">
                        <div class="footerLogo">
                            <a href="https://www.informamarkets.com/" target="_blank">
                                <img id="informa-footer-logo" src="assets/uploads/footer.png"
                                    width="266" height="53">
                            </a>
                        </div>
                    </div>
                    <div class="copyright-text-container">
                        <p class="copyright-text">Copyright © 2023. All rights reserved. Informa Markets, a
                            trading division of Informa PLC.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content footerBottombg">
        <div class="row footerBottombg-container">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <ul class="nav-informa navbar-nav-informa">
                            <li class="informa-link-list-item">
                                <a class="informa-link-list-link"
                                    href="https://www.informaexhibitions.com/en/accessibility.html"
                                    target="_blank">Accessibility</a>
                            </li>
                            <li class="informa-link-list-item">
                                <a class="informa-link-list-link"
                                    href="https://www.informamarkets-info.com/files/privacy/in/ubmip_en.html"
                                    target="_blank">Privacy Policy</a>
                            </li>
                            <li class="informa-link-list-item">
                                <a class="informa-link-list-link"
                                    href="https://www.informaexhibitions.com/en/cookie-policy.html"
                                    target="_blank">Cookie Policy</a>
                            </li>
                            <li class="informa-link-list-item">
                                <a class="informa-link-list-link" href="https://www.informamarkets.com/terms-of-use"
                                    target="_blank">Terms of
                                    use</a>
                            </li>
                            <li class="informa-link-list-item">
                                <a class="informa-link-list-link"
                                    href="http://www.informamarkets.com/visitor-terms-and-conditions"
                                    target="_blank">Visitor Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>