<header id="header" class="header fixed-top d-flex align-items-center justify-content-between" [ngStyle]="{ 'margin-left': isCollapsed ? '0px' : '220px' }">
  <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list" (click)="toggleSidebar()" style="font-size: 30px;"></i>

  </div>
  <div class="profile d-flex">
      <div class="profile-card">
          <img [src]="this.userData.file_name" alt="Profile Picture" class="profile-img">
          <div style="font-size: 15px;">
              <h6 class="mb-0">{{this.userData.full_name}}</h6>
              <small class="text-nowrap">{{date | date : 'medium'}}</small>
          </div>
      </div>
  </div>
</header>
