<header id="header" class="header fixed-top d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center justify-content-between">
      <i class="fa-solid fa-bars text-black" onclick="toggleSidebar()" style="font-size: 30px;"></i>

  </div>
  <div class="profile d-flex">
      <div class="profile-card">
          <img src="assets/UIComponents/images/peacekeeper/profile.png" alt="Profile Picture" class="profile-img">
          <div style="font-size: 15px;">
              <h6 class="mb-0">User</h6>
              <small class="text-nowrap">27 Jan 2025, 01:40pm</small>
          </div>
      </div>
  </div>
</header>
